{% set canonical = domain + '/aboutlpc' %}
{% set pageName = "About Us" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <h1 class="section-title large">
            <p>ABOUT LAGRANGE PRESBYTERIAN CHURCH</p>
        </h1>

        <div class="gcontent">
            <p>On March 11, 1990, we began our first worship services at LaGrange Elementary School. That small group was deeply committed to establishing a new Presbyterian Church in LaGrange. Over the next seven years our congregation slowly grew in numbers to about 60. We moved twice, first to the Mallory Taylor Building in 1991, and then we renovated space in the Charter Building on Yager Ave. Pastors Stuart Bridgman and Howard Smith helped guide the congregation during those challenging years.</p>

            <p>At the end of 1997 we welcomed Pastor Al Earley, his wife Martha, and their children to LaGrange. Pastor Earley immediately challenged the congregation to set our membership goals higher for chartering as a congregation, and adopt a purpose statement, which is "To Help Christians become disciples, and help Christ bring in the HARVEST."" The congregation continued to grow, and began planning to develop the land at our current location in 2000. We broke ground on the new building in August, 2003, and whenever possible did the work ourselves, cutting the average building costs in half. On February 27, 2005, the building was complete and we had our first worship service. Congregational growth in numbers, spiritually, and financially continued over the next year, and on March 12, 2006, sixteen years after the first faithful Christians gathered to start the LaGrange Presbyterian Church, we chartered as an official church of the Presbyterian Church (USA).</p>

            <p>Pastor Earley continues to be the shepherd for our congregation and guides us to fulfill our purpose, to help Christians grow as disciples, as we have committed ourselves to growing in these spiritual disciplines: Worship, Bible Study, Prayer, Tithing, Fellowship, Evangelism, and Mission.</p>

            <p>Worship: We have two services each week.  The Saturday Night Praise Service is a small gathering of Christians that worships and studies the Bible together.  Sunday Morning Services are at 10:30. This is a more traditional service.  The music is a blend of contemporary and traditional music.  The sermons are Biblically based and address the life experiences that people are dealing with everyday.</p>

            <p><b>Bible Study</b>: We have Bible Studies on Sunday mornings as well as during the week.  People are also encouraged to study the Bible on their own.</p>

            <p><b>Prayer</b>: We have a Tuesday morning prayer meeting at 9:30, and we look to integrate prayer into every aspect of church and personal life.  Pastor Earley provides prayer retreats for individuals and small groups that are specifically designed to help people learn to hear the voice of God.</p>

            <p><b>Tithing</b>: We believe that tithing is foundational to obedience, and it is the starting point for Biblically guided giving.  Tithing means to give 10% of all that God has given you back to His work in the church.  It is a commitment between you and God, which God has designed to help us from making money into an idol.  There are many questions people ask about whether the 10% is calculated before or after taxes, and many other questions.  The simplest answer to this question is that it is a financial commitment between you and God and so it is calculated seeking God’s will.</p>

            <p><b>Fellowship</b>: Being a part of the spiritual family is a key ingredient to staying strong in one’s faith.  We can encourage one another, correct one another, guide one another, and lift one another up when we work together as a spiritual family.</p>

            <p><b>Evangelism</b>: All Christians are called to fulfill the Great Commission found in Matthew 28:18-19, Then Jesus came to them and said, “All authority in heaven and on earth has been given to me.  Therefore, go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit…”  In our times this is most effectively done by reaching out to people in friendship and inviting them to church.  There are many other ways to share the gospel and this is a good starting point.</p>

            <p><b>Mission</b>: We are committed to missions as a spiritual family.  We go on mission trips, pledge 10% of our income to mission projects locally, nationally, and internationally, and do local projects to strengthen our local mission programs.  Putting our faith into action is a very important part of who we are.  Our Mission Statement is “Called by God to Sew Seeds: Locally, Nationally, and Internationally.”</p>

            <p>We invite you to join us in the great and exciting work God has called us to do to help Christ bring in a great Harvest, all to God's glory.</p>

        </div>
    </section>
{% endblock %}
