{% set canonical = domain + '/ministryteams/christianeducation' %}
{% set pageName = "Christian Education Ministry Teams" %}

{% extends '_layouts/default.njk' %}

{% block custom_styles %}
   <style>
      .layout-sunday-school {
         overflow: hidden;
         text-align: center;
      }

      .layout-sunday-school h4 {
         margin: 0 0 1.5rem;
      }

      .layout-sunday-school__schedule table,
      .layout-sunday-school__schedule table thead th {
         text-align: center;
      }

      @media screen and (min-width:62.5em) {
         .layout-sunday-school {
              max-width: 800px;
              margin: 0 auto 2rem;
         }

         .layout-sunday-school__info {
              float: right;
              width: 58%;
              text-align: left;
              font-weight: bold;
         }

         .layout-sunday-school__img {
              float: left;
              width: 40%;
         }

         .layout-sunday-school__schedule {
              clear: both;
              margin-top: 2rem;
         }

         .layout-sunday-school__img2 {
              float: right;
              width: 40%;
         }

         .layout-sunday-school__text {
              float: left;
              width: 58%;
              text-align: left;
         }
      }

      .layout-crown-of-life {
          overflow: hidden;
          text-align: center;
      }

      @media screen and (min-width:62.5em) {
          .layout-crown-of-life {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-crown-of-life__quote {
              float: left;
              width: 58%;
          }

          .layout-crown-of-life__img {
              float: right;
              width: 40%;
          }
      }

      .layout-salvations-crown {
          overflow: hidden;
          text-align: center;
      }

      @media screen and (min-width:62.5em) {
          .layout-salvations-crown {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-salvations-crown__quote {
              float: right;
              width: 58%;
          }

          .layout-salvations-crown__img {
              float: left;
              width: 40%;
          }
      }

      .layout-gifts-talents {
          overflow: hidden;
          text-align: center;
      }

      @media screen and (min-width:62.5em) {
          .layout-gifts-talents {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-gifts-talents__quote {
              float: left;
              width: 58%;
          }

          .layout-gifts-talents__img {
              float: right;
              width: 40%;
          }
      }

      .layout-worship {
          overflow: hidden;
          text-align: center;
      }

      .layout-worship h4 {
          margin: 0 0 1.5rem;
      }

      @media screen and (min-width:62.5em) {
          .layout-worship {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-worship__img1 {
              float: left;
              width: 40%;
              margin-bottom: 1.5rem;
          }

          .layout-worship__img2 {
              float: right;
              width: 40%;
          }

          .layout-worship__text1 {
              float: right;
              width: 58%;
          }

          .layout-worship__text2 {
              clear: both;
              float: left;
              width: 58%;
          }

          .layout-sunday-school__info {
              float: right;
              width: 58%;
              text-align: left;
          }
      }

      .layout-christmas {
          overflow: hidden;
          text-align: center;
      }

      .layout-christmas h4 {
          margin: 0 0 1.5rem;
      }

      @media screen and (min-width:62.5em) {
          .layout-christmas {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-christmas__text1 {
              float: right;
              width: 58%;
              text-align: left;
          }

          .layout-christmas__img1 {
              float: left;
              width: 40%;
              margin-bottom: 1.5rem;
          }

          .layout-christmas__text2 {
              float: left;
              width: 58%;
              text-align: left;
              clear: both;
          }

          .layout-christmas__img2 {
              float: right;
              width: 40%;
          }
      }

      .layout-easter {
          overflow: hidden;
          text-align: center;
      }

      .layout-easter h4 {
          margin: 0 0 1.5rem;
      }

      @media screen and (min-width:62.5em) {
          .layout-easter {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-easter__img1 {
              float: left;
              width: 40%;
              margin-bottom: 1.5rem;
          }

          .layout-easter__img2 {
              float: right;
              width: 40%;
          }

          .layout-easter__text1 {
              float: right;
              width: 58%;
          }

          .layout-easter__text2 {
              clear: both;
              float: left;
              width: 58%;
          }

          .layout-sunday-school__info {
              float: right;
              width: 58%;
              text-align: left;
          }
      }

      .layout-summer {
          overflow: hidden;
          text-align: center;
      }

      .layout-summer h4 {
          margin: 0 0 1.5rem;
      }

      @media screen and (min-width:62.5em) {
          .layout-summer {
              max-width: 800px;
              margin: 0 auto 2rem;
          }

          .layout-summer__text {
              float: left;
              width: 58%;
              text-align: left;
          }

          .layout-summer__img {
              float: right;
              width: 40%;
          }
      }
   </style>
{% endblock %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Christian Education Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>KIDS OF THE KINGDOM MINISTRIES</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">

                <h3 class="name">
                    <span>Led By</span>
                    LAUREN RITTMAN
                 </h3>

                <ul>
                    <li>Sunday School Participant</li>
                    <li>Sunday School Teacher</li>
                    <li>Vacation Bible School Volunteer</li>
                </ul>
            </div>
        </div>

        <div class="gcontent">
            <div class="layout-crown-images">
                <div class="layout-crown-images__col-1">
                    <img src="/images/ministryteams/christianeducation/crowns-children.jpg" alt="We've Got Crowns">
                </div>
                <div class="layout-crown-images__col-2">
                    <img src="/images/ministryteams/christianeducation/clipart-crown.jpg" alt="Clip Art Crown">
                    <img src="/images/ministryteams/christianeducation/clipart-crown-2.jpg" alt="Clip Art Crown">
                    <img src="/images/ministryteams/christianeducation/clipart-crayons.jpg" alt="Clip Art Crayons">
                </div>
            </div>
            <p>
                <strong>Our church is blessed to minister to children. We believe that all children have a purpose in the Kingdom of God. Bill Johnson (Author) says, &ldquo;Children do not have a junior Holy Spirit.&rdquo; We believe that wholeheartedly. We know the world can send all the wrong messages to our youngest so we as a church strive to teach our kids Biblical truth. To explain these truths, we use the three &ldquo;Crowns.&rdquo;</strong>
            </p>
        </div>

        <div class="layout-crown-of-life">
            <div class="layout-crown-of-life__img">
                <img src="/images/ministryteams/christianeducation/crown-of-life.jpg" alt="Crown of Life">
            </div>
            <div class="layout-crown-of-life__quote">
                <div class="opening-quote">
                    <p>GOD WILL BLESS YOU, IF YOU DON&rsquo;T GIVE UP WHEN YOUR FAITH IS BEING TESTED. HE WILL REWARD YOU WITH A CROWN OF LIFE, JUST AS HE REWARDS EVERYONE WHO LOVES HIM.</p>

                    <strong>JAMES 1:12</strong>
                </div>
            </div>
        </div>

        <div class="gcontent">
            <p>The Crown of Life is earned as we face trials in life yet continue to love the Lord. As a ministry, we help children navigate all the trials of life by teaching them what God says about them: You are loved, you are wanted, you have a purpose, and you will never be alone.</p>
        </div>

        <div class="layout-salvations-crown">
            <div class="layout-salvations-crown__img">
                <img src="/images/ministryteams/christianeducation/salvations_crown.jpg" alt="Salvation's Crown">
            </div>
            <div class="layout-salvations-crown__quote">
                <div class="opening-quote">
                    <p>IF YOU DECLARE WITH YOUR MOUTH, &ldquo;JESUS IS LORD,&rdquo; AND BELIEVE IN YOUR HEART THAT GOD RAISED HIM FROM THE DEAD, YOU WILL BE SAVED.</p>
                    <strong>ROMANS 10:9</strong>
                </div>
            </div>
        </div>

        <p>Jesus made it simple: say out loud that He is Lord and believe it in your heart and you are saved. Salvation is never a mixed message for our children. We teach them about Jesus and that the Bible is 100% all true.</p>

        <div class="layout-gifts-talents">
            <div class="layout-gifts-talents__img">
                <img src="/images/ministryteams/christianeducation/gifts_and_talents.jpg" alt="Gifts and Talents">
            </div>
            <div class="layout-gifts-talents__quote">
                <div class="opening-quote">
                    <p>WITH GOD&rsquo;S POWER WORKING IN US, GOD CAN DO MUCH, MUCH MORE THAN ANYTHING WE CAN ASK OR THINK OF.</p>
                    <strong>EPHESIANS 3:20</strong>
                </div>

                <div class="opening-quote">
                    <p>EVERYTHING YOU SAY AND EVERYTHING YOU DO SHOULD ALL BE DONE FOR JESUS YOUR LORD. AND IN ALL YOU DO, GIVE THANKS TO GOD THE FATHER THROUGH JESUS.</p>
                    <strong>COLOSSIANS 3:17</strong>
                </div>
            </div>
        </div>

        <p>
           Just like all the many colors there are in the crayon (crown) box there are as many creative and diverse children among us. We encourage individuality and diversity among our children. It is not wrong to be different and set apart. All children are blessed with natural talents and as believers they are also given gifts of the spirit. When God is working in us and through us we can accomplish anything.
        </p>

        <div class="text-center" style="margin: 1.5rem 0;">
            <img src="/images/ministryteams/christianeducation/finger_paint.jpg" alt="Don't let anyone make fun of you, just because you are young. Set an example for other followers by what you say and do, as well as by your love, faith, and purity. -1 Timothy 4:12">
        </div>

        <div class="layout-sunday-school">
            <h4>Sunday School</h4>

            <div class="layout-sunday-school__img">
                <img src="/images/ministryteams/christianeducation/sunday_school.jpg" alt="Sunday School">
            </div>

            <div class="layout-sunday-school__info">
                <p>9:00AM CLASSES</p>
                <p>10:00AM SNACK & GAMES</p>
                <p>EVERY SUNDAY JOIN US FOR BIBLE STORIES, CRAFTS, GAMES AND SNACKS</p>
            </div>

            <div class="layout-sunday-school__schedule">
                <table>
                    <thead>
                        <tr>
                            <th>Kelp Forest</th>
                            <th>Stingray Bay</th>
                            <th>Seahorse Lagoon</th>
                            <th>Youth Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pre-K – Kindergarten</td>
                            <td>
                               1<sup>st</sup> – 2<sup>nd</sup> Grade
                            </td>
                            <td>
                               3<sup>rd</sup> – 5<sup>th</sup> Grade
                             </td>
                            <td>
                               6<sup>th</sup> – 12<sup>th</sup> Grade
                             </td>
                        </tr>
                        <tr>
                            <td>Room 1</td>
                            <td>Room 2</td>
                            <td>Room 3</td>
                            <td>Room 5</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="layout-sunday-school__img2">
                <img src="/images/ministryteams/christianeducation/child_playing_cards.jpg" alt="Child Playing Cards">
            </div>

            <div class="layout-sunday-school__text">
                <p>Our theme this school year is &ldquo;Under the Sea.&rdquo; Every week we are learning about new sea animals and how they can help us understand ourselves and God&rsquo;s important lessons. Classes are taught at grade level and each class is unique. Pre-k&rsquo;s love stickers, 2nd graders love games, 5th graders love to study the word and youth are &ldquo;chill.&rdquo; No matter what your learning style is, our classes and amazing teachers always have a blast!</p>
            </div>
        </div>


        <div class="layout-worship">
            <h4>WORSHIP</h4>

            <div class="layout-worship__img1">
                <img src="/images/ministryteams/christianeducation/children_discussion.jpg" alt="Children Discussion">
            </div>

            <div class="layout-worship__text1">
                <p><strong>10:30AM WORSHIP</strong></p>

                <p><strong>AS ADULTS, WE MODEL WORSHIP TO OUR CHILDREN. SO, WE LOVE HAVING OUR CHILDREN IN THE WORSHIP SERVICE.</strong></p>

                <p>At the entrance to the Sanctuary adults can pick up their bulletin and children can pick up their own &ldquo;Kid Bag&rdquo; and Kid Bulletin. The bag is full of quiet activities to do during the worship service. Every Sunday we also invite all the children to come forward for our Children&rsquo;s Sermon. This time is a favorite for the congregation as it is usually full of laughter and joy.</p>
            </div>
            <div class="layout-worship__text2">
                <p>We also have a great team of Nursery workers during the worship service. The nursery is in Room 1 (next to the submarine) and open to all children in Kindergarten or younger. Children may start the service in the nursery or join in at any point during the service.</p>
            </div>
            <div class="layout-worship__img2">
                <img src="/images/ministryteams/christianeducation/children.jpg" alt="Children">
            </div>
        </div>

        <div class="layout-easter">
            <h4>EASTER</h4>

            <div class="layout-easter__img1">
                <img src="/images/ministryteams/christianeducation/palm_sunday.jpg" alt="Palm Sunday">
            </div>
            <div class="layout-easter__text1">
                <h5>PALM SUNDAY</h5>

                <p>Palm Sunday is the Sunday before Easter and it is usually our Visitor Sunday. Children will enter the sanctuary waving palms and declaring the way of the Lord.</p>

                <h5>EASTER EGG HUNT</h5>

                <p>The Saturday before Easter at 9:00am we hide thousands of eggs across the Church&rsquo;s campus. Kids can enjoy small crafts, hunting for eggs and hear the Easter Story as presented in egg form! After the hunt is done we enjoy a huge brunch together.</p>
            </div>
            <div class="layout-easter__text2">
                <h5>EASTER SERVICE</h5>

                <p>Easter is a special time in the life of the church. Jesus is alive and this service is full of celebration and jubilation. Children love the lively songs and special Kid&rsquo;s Bulletin.</p>
            </div>
            <div class="layout-easter__img2">
                <img src="/images/ministryteams/christianeducation/church_service.jpg" alt="Church Service">
            </div>
        </div>

        <div class="layout-summer">
            <h4>SUMMER</h4>

            <div class="text-center">
                <img src="/images/ministryteams/christianeducation/cedar_ridge.jpg" alt="Cedar Ridge">
                <br>
                <p>
                    <strong>OVER SUMMER BREAK WE ALWAYS HAVE FUN ACTIVITIES GOING ON. WE MAY GO ON A CAMPING EXPERIENCE, HAVE PIZZA &amp; GAME NIGHTS, SPLASH DOWN A SLIP-N-SLIDE OR PROJECT A MOVIE ON THE SIDE OF THE CHURCH!</strong>
                </p>
            </div>

            <div class="layout-summer__text">
                <p>Stay tuned to the calendar on the website to know what fun events we have this summer season.</p>
                <p>June 10th &ldquo;Drive-In Movie&rdquo;</p>
                <p>July 15th Waterpalooza</p>
                <p>August 12th Family Game Night</p>

            </div>
            <div class="layout-summer__img">
                <img src="/images/ministryteams/christianeducation/waterpalooza.jpg" alt="Waterpalooza">
            </div>
        </div>

        <div class="layout-christmas">
            <h4>CHRISTMAS</h4>

            <div class="layout-christmas__img1">
                <img src="/images/ministryteams/christianeducation/children_christmas_play.jpg" alt="Children Christmas Play">
            </div>

            <div class="layout-christmas__text1">
                <p>During the holiday season, we have special programming for children to participate in. The Christmas Play Spectacular is always a fun time for children and families. After the play, we enjoy a cookie social with hot cocoa and a special visit from Santa!</p>

            </div>

            <div class="layout-christmas__text2">
                <p>We strive to teach our children about the importance of the season: Jesus. We learn from Jesus to take care of others and to love everyone, even when it can be difficult. So, during the Christmas months we ask the kids to gather small toys (new or used) to send to children at Lotts Creek Community School in Hazard, KY. The gifts we send will be the only gifts some of these children get over the holidays.</p>

                <p>
                    More on Lotts Creek Community School:
                    <a href="http://www.lottscreek.org" target="_blank">http://www.lottscreek.org</a>.
                </p>

            </div>

            <div class="layout-christmas__img2">
                <img src="/images/ministryteams/christianeducation/theatrical_makeup.jpg" alt="Theatrical Makeup">
            </div>

        </div>

        <div class="gcontent">
            <p class="contact-person" style="margin-top: 4rem">Questions or comments about this team? Send a message to
                <a id="contact-this-person" data-team="Christian Education Ministry Team">the Christian Education Ministry Team</a>
            </p>
        </div>
    </section>
{% endblock %}
