{% set canonical = domain + '/bibleyear' %}
{% set pageName = "Bible Year" %}

{% extends '_layouts/default.njk' %}


{% block main %}
    <section id="dark-content">
      <div class="gcontent">
         <h3>Read the Bible in One Year</h3>

         <p>Prayer before reading the Bible;</p>

         <p style="margin-left:40px">
            Come, Holy Spirit, Come.<br />
            Convict, convert, consecrate us, until we are completely yours, that we may understand your word for us today.<br />
            Amen.
         </p>

         <p>If you have any questions email Pastor Al at <a href="mailto:pastorearley@bellsouth.net" target="_blank">pastorearley@bellsouth.net</a></p>

         <p>Choose a month to see its readings:</p>

         {% for month in bibleDates %}
            <button class="button secondary" style="margin: 5px" data-month="{{ month[0] }}">
               {{ month[0] }}
            </button>
         {% endfor %}

         <br /><br />

         {% for month in bibleDates %}
            <ul style="display: none;" id="{{ month[0] }}" class="month">
               {% for item in month[1] %}
                  <li>
                     {{ month[0] }} {{ loop.index }}: &nbsp;<a href="http://www.biblestudytools.com/search/?t=nlt&amp;q={{ item[1] }}" target="_blank">{{ item[0] |safe }}</a>
                  </li>
               {% endfor %}
            </ul>
         {% endfor %}
      </div>
    </section>
{% endblock %}
