{% set canonical = domain + '/siteinfo' %}
{% set pageName = "Site Info" %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <section id="dark-content" class="site-info">
      <h1 class="section-title large"><p>SITE INFO</p></h1>

      <div class="gcontent">
         <p>All content on this website, including text, images, code, design and information is property of © LaGrange Presbyterian Church {{ copyYear }} unless otherwise noted. Any attempt to reproduce or use elsewhere in any way without explicit consent from LaGrange Presbyterian Church is prohibited.</p>

         <p>This <a href="https://www.rfxtechnologies.com/services/web" target="_blank">web design</a> and <a href="https://www.rfxtechnologies.com/services/web" target="_blank">website development</a> (including colors, positioning, CSS/HTML, typography and images) is © {{ copyYear }} to <a href="https://www.rfxtechnologies.com/services/web" target="_blank">RFX Technologies</a> and reproduction anywhere else is expressly prohibited.</p>

         <h3>Custom web design & development</h3>

         <p>All <a href="https://www.rfxtechnologies.com/services/web" target="_blank">website design</a> and development for this site was performed by <a href="https://www.rfxtechnologies.com" target="_blank">RFX Technologies</a>, a Louisville, KY and Atlanta, GA based <a href="https://www.rfxtechnologies.com/services/" target="_blank">digital marketing and IT support company</a>. RFX specializes in website design, <a href="https://www.rfxtechnologies.com/services/programming" target="_blank">custom programming</a>, <a href="https://www.rfxtechnologies.com/services/consulting" target="_blank">IT consulting</a>, <a href="https://www.rfxtechnologies.com/services/networking" target="_blank">network monitoring</a>, <a href="https://www.rfxtechnologies.com/services/training" target="_blank">corporate training</a>, <a href="https://www.rfxtechnologies.com/services/rms" target="_blank">secure backups</a> and also provides full IT support for both small and large businesses alike. If there are any specific inquiries about this website in particular, please <a href="https://www.rfxtechnologies.com/contact" target="_blank">contact RFX</a> today.</p>

         <p>RFX Technologies reserves the right to feature this design in any portfolio they showcase. You may visit RFX Technologies and <a href="https://www.rfxtechnologies.com/about/" target="_blank">learn more</a> about what they have to offer at <a href="https://www.rfxtechnologies.com/" target="_blank">www.rfxtechnologies.com</a>.</p>
      </div>
   </section>
{% endblock %}
