{% set canonical = domain + '/' %}
{% set pageName = "Craig A. Knebel" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
{% markdown %}

## Service

We will be streaming the celebration of life on YouTube starting about 4:45PM.

A few minutes before the service begins at 12:30 EST, while everyone is taking their seats, we will be starting the stream below.

You might need to click the play button to start the video. If it is after 5 and the video will not play for you, please use this line to go directly to YouTube to watch.

<a href="https://www.youtube.com/live/pEW-_Nbmw8Q?si=xGRP8NiPnE2I3UZR">https://www.youtube.com/live/pEW-_Nbmw8Q?si=xGRP8NiPnE2I3UZR</a>

{% endmarkdown %}
      <div class="full-container">
         <div class="video-chat-container">
            <div class="video-chat-container__vid">
               <div class="video">
                  <iframe
                     class="video__frame"
                     src="https://www.youtube.com/embed/pEW-_Nbmw8Q?si=tDTI2iHiRGzrCkJv"
                     frameborder="0"
                     allowfullscreen="allowfullscreen"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     referrerpolicy="strict-origin-when-cross-origin"
                     allowfullscreen>
                     </iframe>
               </div>
            </div>
         </div>
      </div>
   </div><!-- #dark-content -->

   <br><br>
    </section>
{% endblock %}




