{% set canonical = domain + '/virtual-gathering/adult-bible-study' %}
{% set pageName = "Virtual Bible Study" %}

{% extends '_layouts/default.njk' %}

{% block main %}
<script>
window.location.replace("https://teams.microsoft.com/l/meetup-join/19%3a53c30686c0884914b1d634ae4f564b42%40thread.tacv2/1604453818324?context=%7b%22Tid%22%3a%22c69cfdb4-a4eb-415c-9459-606136d5a37d%22%2c%22Oid%22%3a%228a125954-fce5-4b8a-b102-b58919ab10f1%22%7d");
</script>
{% endblock %}
