{% set canonical = domain + '/resources/arrogance' %}
{% set pageName = "The Arrogance Exercise" %}
{% set downloadPDF = "/resources/arrogance/the-arrogance-exercise.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">The Arrogance Exercise</h1>
            <p>The following is taken from <u>The Prideful Soul’s Guide to Humility</u> by Thomas Jones and Michael Fontenot.  Circle the number of each of the statements that you sometimes think.  If you have more than five you probably should read the book.  You have some pride issues.  If you have less than five then you may want to read the book to find out how you got so humble, or why you lie to yourself about arrogance.</p>
    <p>(<a href="{{ downloadPDF }}" download>Download</a>)
        <ul class="list large">
            <li>
                <p>1. Not wanting to talk with someone or spend time with someone because they just don’t quite measure up.</p>
            </li>
            <li>
                <p>2. Thinking, “They should have asked me to do that.  I would have done it better.</p>
            </li>
            <li>
                <p>3. Wanting to turn the conversation to highlight something you have done.</p>
            </li>
            <li>
                <p>4. Getting most of your sense of worth from having a group of people who are loyal to you.</p>
            </li>
            <li>
                <p>5. Feeling a good report of someone else lessens your worth.</p>
            </li>
            <li>
                <p>6. Having as your deepest conviction about advice that, “After all, advice is just advice.  You don’t have to take it.”</p>
            </li>
            <li>
                <p>7. Lack of openness about important areas of your life like your times with God, your marriage, your dating, your other relationships. </p>
            </li>
            <li>
                <p>8. Asking your spouse not to discuss your marriage with others or to call for help.</p>
            </li>
            <li>
                <p>9. Not asking for counsel, advice, or perspective about dating, marriage, parenting, finances, evangelism and other vital areas.</p>
            </li>
            <li>
                <p>10. Knowing that you are wrong, but resisting admitting it to yourself and then to others.</p>
            </li>
            <li>
                <p>11. For men only: being particularly defensive about something pointed out to you by a woman.</p>
            </li>
            <li>
                <p>12. For leaders: preaching what others ought to be doing, but not being open about the fact that you are not doing those things.</p>
            </li>
            <li>
                <p>13. Believing your approach to ministry is much better than that of others.  Thinking you have a right balance or emphasis that others don’t have.</p>
            </li>
            <li>
                <p>14. Hearing about some leader’s problems and feeling better about yourself because that has not happened to you.</p>
            </li>
            <li>
                <p>15. Hearing a speaker giving out praise and waiting for your name to be spoken.</p>
            </li>
            <li>
                <p>16. Feeling cheated because you did not get to work with someone or did not get to be involved with a project for which you thought you were well-suited.</p>
            </li>
            <li>
                <p>17. Only half listening to what someone is telling you because they are not that important a person.</p>
            </li>
            <li>
                <p>18. Resenting input of a much younger Christian.  Feeling that they should not give such to someone who has been around as long as you.  (Thinking longevity gives you some exemptions.)</p>
            </li>
            <li>
                <p>19. Being given a lot to do and then going after it, without much prayer.</p>
            </li>
            <li>
                <p>20. Seldom asking others seriously to pray for you.</p>
            </li>
            <li>
                <p>21. Not volunteering for something because you fear making mistakes or failing, and don’t want to look bad.</p>
            </li>
            <li>
                <p>22. Not being supportive and encouraging of peers.  Not celebrating their victories because you are highly competitive.</p>
            </li>
            <li>
                <p>23. Interrupting and finishing people’s sentences.</p>
            </li>
            <li>
                <p>24. Having a strong desire to guard your territory and letting that rob you of a greater “good for the church” outlook.</p>
            </li>
            <li>
                <p>25. Filtering out things that you don’t like to hear from the advice and counsel you are given.  Doing only those elements that you already felt good about.</p>
            </li>
            <li>
                <p>26. Avoiding situations where you might have to do something that looks menial or servile.  Coming up with great spiritual excuses about it.</p>
            </li>
            <li>
                <p>27. Consistently thinking that the assignments given you or the ministry arrangements made for you don’t show appreciation for who you are and what you have to offer.  </p>
            </li>
            <li>
                <p>28. Listening to advice, agreeing with advice, but then not putting it into practice.</p>
            </li>
            <li>
                <p>29. Neglecting to pray when giving and taking advice from other Christians.</p>
            </li>
            <li>
                <p>30. Not planning special times to just go be with God.</p>
            </li>
            <li>
                <p>31. Thinking pride is not that big a problem for you.</p>
            </li>
            <li>
                <p>32. Not confessing sin unless you are backed into a corner and confronted.</p>
            </li>
        </ul>
    </section>
{% endblock %}
