


/*====================================
Ambiance (colors, links, branding, etc)
====================================*/

/*------------------
COLORS/TEXT/LINKS
------------------*/

$main: #4C1B1B;
$main-dark: #ffc0a9;
$secondary: #F6E497;
$base-font-color: #333;
$link: $secondary;
$hover: #D14233;
$link-dark: #383838;
$link-light: #fafafa;

a:link { color:$link; text-decoration: none; }
a:visited {color:$link;}
a:hover {color:darken($link, 15%); cursor:pointer;}
a:active {color:darken($link, 15%);}
.gcontent {
  a:link, a:visited {
    color: #477dca;
  }
  a:hover, a:active {
    color: darken(#477dca, 15%);
  }
}

$sans-serif: "Lato", "Helvetica Neue", Helvetica, 'Trebuchet MS', Tahoma, Arial, sans-serif;
$serif: "Arvo", "Garamond", "Adobe Garamond Pro", "Hoefler Text", Palatino, Georgia, serif;
$fira: "Fira Sans", sans-serif;

h1,h2,h3,h4,h5 {
  font-family: $sans-serif;
}
