.breadcrumbs {
  @include span-columns(12);
  text-align: left;
  margin-top: -2rem;
  margin-bottom: 2rem;

  a {
    padding-right: .5rem;
    padding-left: .5rem;
    color: $main;
    &:first-of-type {
      padding-left: 0;
    }
    &:hover {
      color: darken($main, 15%);
    }
  }
  p {
    padding-left: .5rem;
    display: inline-block;
  }
}