/**
 * Content formerly in
 * src/styles/recipes/bitters/app/assets/stylesheets/_buttons.scss
 *
 * These styles apply to the blue buttons on /bibleyear/.
 */

#{$all-button-inputs}, .button {
   &.secondary {
      @include appearance(none);
      -webkit-font-smoothing: antialiased;
      background-color: $action-color;
      &:hover,
      &:focus {
         background-color: darken($action-color, 15%);
      }
      border-radius: $base-border-radius;
      border: none;
      &.secondary {
         // specificity to override some rules on <a> elements
         color: #fff;
         &:hover,
         &:focus {
            color: #fff;
         }
      }
      cursor: pointer;
      display: inline-block;
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: 600;
      line-height: 1;
      padding: 0.75em 1em;
      text-decoration: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;

      &:disabled {
         cursor: not-allowed;
         opacity: 0.5;
      }
   }
}

/**
 * Content formerly in src/styles/specials/_contact.scss.  Applies to
 * entire site.
 *
 * These styles apply to the yellow-green submit buttons on /contact/
 * and /heartofthefather/
 */

button[type=submit], .button {
   &.primary {
      @include ts-button($secondary,'center-out', true, 'envelope',right);
      display: block;
      margin: 0 auto;
      &.primary {
         // specificity to override some rules on <a> elements
         color: #333;
         &:hover, &:active {
            color: #333;
         }
      }
      border-radius:3.5em;
      font-size:1.1rem;
      padding-top: .5em;
      padding-bottom:.5em;
      margin-bottom:1rem;
      &:hover,&.active {
         background: $secondary;
         cursor:pointer;
         border-radius: 3em;
      }
   }
}
