/* Contact Overlay Styles */

#contact_overlay {
  background: rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:-100%;
  left:0;
  z-index:10;
  transition: top 500ms ease;

  .close {
    @include insert-icon('times','before');
    margin-left:20px;
  }
}

#contact_overlay.active {
  top:0%;
}



