//Flyouts


#flyout-bar {
  @include span-columns(12);
  padding:0;
  position: relative;
  z-index: 1;
  background: #232323 url('/images/mirrored-squares.png');
  border-top: 6px solid rgba(0,0,0,0.25);
  border-bottom: 3px solid rgba(0,0,0,0.25);

  @include media($large-screen) {
    z-index: 2;
  }

  //Three across buttons
  ul.top-layer {
    @include outer-container();
    list-style-type: none;
    margin:0 auto;
    padding:0;

    li {
      cursor: pointer;
      text-align: center;
      position: relative;
      margin:0;
      font-family: $serif;
      padding: .25em;
      @include media($medium-screen-up) {
        width: 32.5%;
        display:inline-block;
        margin:0;
        padding: 1em;
        &:hover {

          &:before {
            content:'';
            z-index: -1;
            width:100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            background: rgba(255,255,255,0.025);
          }

        }


        &.active {

          &:before {
            content:'';
            z-index: -1;
            width:100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            background: rgba(255,255,255,0.1);
          }
        }

      }

      @include media($large-screen) {
        width: 33%;
      }
      p {
        color: #FFF;
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom:0;
        text-transform: uppercase;
        text-shadow: 0 1px 3px #333;
      }

      i {
        color: $secondary;
        font-size: 1em;
        display: none;
        @include media($medium-screen-up) {
          display: block;
        }
      }
    }
  }

  //Actual Flyouts

  $flyoutHeight: 300px;


  .flyout-cont { @include outer-container(); position: relative; }
  #flyout {
    @include span-columns(12);
    &.none {  display: none; }
    background: #FFF;
    position: absolute;
    left:0;
    box-shadow: 0 10px 30px #111;
    z-index: 10;



    .flyout-links {
      text-align: center;
      font-size: 1.3em;
      font-weight:bold;
      text-transform: uppercase;
      padding-top: 2rem;
      position: relative;

      &:after {
        @include center(true, false);
        top: 0;
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 25px 0 25px;
        border-color: $main transparent transparent transparent;
        transition: opacity 350ms;
      }

      li {

        a {
          display:block;
          width: 100%;
          height: 100%;
          padding: .5rem 0;
          color: $link-dark;
          min-height: 38px;
          background: #FFF;
          position: relative;
          z-index: 2;

          &:hover {
            background: $secondary;
          }
        }
      }
    }

    //Left Flyout
    #leftfly {
        display: none;

      &.active {display:block;}
        ul {
          @include media($medium-screen-up) {
            float: left;
            width: 33%;
            margin:0;
          }
        }

        .content-right {
          display:none;
          @include media($medium-screen-up) {
            display: block;
            float: right;
            width: 67%;
            margin-right:0;
            background: url('/images/child_with_bible.jpg');
            background-size: cover;
            min-height: $flyoutHeight;

            @include media($large-screen) {
              min-height: 400px;
            }

            @include media($short-desktop) {
              min-height: 300px;
            }
          }
        }
    }

    //Mid Flyout
    #midfly {
      display: none;

      &.active {display:block;}

      .content-left {
        display:none;
        @include media($medium-screen-up) {
          display: block;
          float: left;
          width: 33%;
          margin-right:0;
          background: url('/images/cross_sky_desat.jpg') no-repeat 7% top / cover;
          min-height: $flyoutHeight;
          @include media($large-screen) {
            min-height: 400px;
          }

          @include media($short-desktop) {
            min-height: 300px;
          }

        }
      }

      ul {
        @include media($medium-screen-up) {
          float: left;
          width: 33%;
          margin:0;
          margin-right:0;
        }
      }

      .content-right {
        display:none;
        @include media($medium-screen-up) {
          display: block;
          float: left;
          width: 34%;
          margin-right:0;
          background: url('/images/cross_sky_desat.jpg') no-repeat 93% top / cover;
          min-height: $flyoutHeight;
          @include media($large-screen) {
            min-height: 400px;
          }

          @include media($short-desktop) {
            min-height: 300px;
          }

        }
      }
    }


    //Right Flyout
    #rightfly {
      display: none;

      &.active {display:block;}
      ul {
        @include media($medium-screen-up) {
          width: 33.3%;
          float: left;
          margin-right:0;
        }
      }

      .content-left {
        display:none;
        @include media($medium-screen-up) {
          width: 66.67%;
          float: left;
          margin-right:0;
          background: url('/images/mission_photo.jpg');
          background-size: cover;
          min-height: $flyoutHeight;
          display: block;
          @include media($large-screen) {
            min-height: 400px;
          }

          @include media($short-desktop) {
            min-height: 300px;
          }

        }
      }
    }


  }


}
