#footer {
   color: #fff;

   position: relative;
   clear: both;
   background: #151515 url('/images/corn_footer.jpg');
   background-size: cover;
   padding: 3em 1em;

   a {
      color: $link;
      &:hover {
         opacity: 0.5;
      }
   }

   &:before {
      content: '';
      display: block;
      position: absolute;
      pointer-events: none;
      z-index: 0;
      top: -194px;
      width: 100%;
      background: url('/images/wheat.png');
      height: 194px;
   }

   &:after {
      @include rotated-square;

      transform: rotate(45deg) translateX(-50%);
      z-index: 3;
      left: 50%;
      background: rgba(255,255,255,0.5);
      opacity: 1;
      top: -.5%;
   }

   .info {
      h3 + p {
         margin-top: 2rem;
      }
      p {
         font-size: 1.4em;
         a {
            font-weight: bold;
         }
      }
   }

   h3 {
      font-size: 1.6em;
      letter-spacing: em(1.5);
      + .update {
         margin-top: -2rem;
      }
   }

   #lpc-events {
      margin-top: 1rem;
      > li {
         margin-bottom: 1rem;
         &:first-of-type i {
            @include insert-icon('clock-o','before');
         }
         &:last-of-type i {
            @include insert-icon('book','before');
         }
         display: block;        // overrides display: inline-block somewhere;
         .date {
            display: block;
            font-style: normal;
            float: left;
            text-align: center;
            background: #FFF;
            font-weight: bold;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            color: #333;
            position: relative;
            line-height: 1.1;
            p {
               @include center(true,true);
            }
            margin-right: 1em;
         }
         .time {
            display: inline-block;
            padding-top: 1rem;
         }
         .text {
            line-height: 150%;
            float: left;
            margin-left: 5rem;
            vertical-align: middle;
         }
         &::after {
            content: '';
            clear: both;
            display: table;
         }
      }
   }

   .copyright {
      display:block;
      opacity: 0.5;
      width: 100%;
      text-align: center;
      color: rgba(255,255,255,0.9);
      p {
         display: inline-block;
         text-align: center;
      }
      padding-top: 1rem;
   }

   @include media($large-screen) {
      .footer-container {
         @include outer-container();
      }
      .footer-grid {
         @include row();
      }
      .info {
         @include span-columns(6);
      }
      .news {
         @include span-columns(6);
         @include omega();
      }
      .copyright {
         @include span-columns(12);
         @include omega();
      }
   }
}
