//Header


header.top-header {
  background: rgba(black, .334);
  &::before,&::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: rgba(black, .334);
  }
  &::after {
    left: 100%;
  }

  z-index: 2;
  position: relative;
  @include outer-container();
  padding: 2em 1em 0 1em;
  min-height: 100px;

  @include media($medium-screen-up) {
    min-height: 130px;
  }


  .logo {
    @include span-columns(10);

    @include media(medium-screen) {
      @include span-columns(5);
      max-width: none;
    }

    @include media($large-screen) {
      @include span-columns(5);
      max-width: none;
    }

    background: url('/images/logo.png') no-repeat;
    background-size: contain;
    height: 62px;
    text-indent: -9999px;
  }

}