




.portfolio-was-imported {

  .after-header-display {
    opacity: 0;
    transition: opacity 500ms;
  }

  &.displayed {
    .after-header-display {
      opacity: 1;
    }
  }

  .intro-inner {
    opacity:0;
    height: 900px;
    transform: rotate(-11.5deg);
    width: 148%;
    margin-left: -25%;
    margin-top: 0;
    overflow: hidden;
    z-index: 6;
    position: relative;

    .content {
      background: #131313 url('/images/port_bg.png');
      width: 100%;
      height: 200%;
      margin-top: -8%;
      transform: rotate(11.5deg);

      .viewport {
        @include outer-container();
        overflow: hidden;
        height: 1000px;
        z-index: 5;
        width: 100%;
        padding-top: 8%;

        h1 {
          text-align: center;
          padding-top: 21%;
          font-size: 3.4em;
          margin-bottom: 1.5rem;
          position: static;
          transform: none;
          text-transform: uppercase;
        }

        p { font-size: 1.35em; line-height: 165%; padding: 0 6rem;}

      }

    }
  }


  &.displayed {
    .intro-inner {
      opacity:1;
    }
  }

  .medallion {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: -4.7rem auto 0 auto;
    position: relative;
    img {
      @include center(true,true);
    }
  }

  .fix-extra-width {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .full-web {
    min-height: 1000px;
    height: 100%;
    margin-top: -10%;
    z-index: 6;
    position: relative;
    border-top: 8px solid;


    .full-web-inner {
      @include outer-container();

      h1 {
        font-size: 4em;
        text-align: center;
        margin-top: 3.5rem;
        font-weight:900;
      }

      .macbook {
        width: 100%;
        max-width: 844px;
        margin: 5.5rem auto;
        height: 484px;

        .view-container {
          width: 75.95%;
          margin: 0 auto;
          overflow:hidden;
          transform: translateY(13.82%);
          height: 78%;
        }

        img {
          position:relative;
          top:0;
          transition: top 6s linear;

          &.go {
            top: -100%;
          }
        }
      }
    }

  }



  //recent projects on bottom of portfolio pages

  .interior-portfolio {
    clear:both;
    position: relative;
    z-index:9;
    background: #fff;
    border-top: 8px solid;


    .interior-portfolio-inner {
      @include outer-container();
      height:100%;

      > div {
        @include span-columns(4 of 12);
        height: 100%;
        margin-top: -4.1rem; //match medallion
        position: relative;

        h1 { font-weight: 400;  }


        &.center {
          height: 500px;

          .center-wrap {
            text-align: center;

            @include center(true,true);
            .btn {
              @include ts-button(#FFF, 'outline', false, 'chevron-right', 'right');
              margin-top: 1rem;
              color: #000;
              border-color: #000;
              text-transform: uppercase;
              &:hover {
                color: #FFF;
                background: #000;
              }

            }
          }

        }

        &.right {
          @include omega();
        }


        .overlay {

          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          background: rgba(200,0,0,0.5);
          transition: opacity 500ms;


          .center-wrap {
            text-align: center;
            margin-top:-3rem;
            @include center(true,true);

            button {

              @include ts-button(#FFF,'outline','false','none');
              background: #f2f2f2;
              color: #999999;
              margin-top: 1rem;
              &:hover {
                cursor:pointer;
              }
            }
          }

        }

        &:hover {
          cursor:pointer;
          .overlay {opacity:1;}
        }
      }

    }
  }

}