//interior portfolio page footer

.interior-footer {
  position:relative;
  height: 440px;
  z-index:10;
  background: linear-gradient(to bottom, transparent 13%, #e0e0e0 13%, #e0e0e0 100%);

  .interior-footer-background {
    background: #e0e0e0;
    position:absolute;
    height: 255px;
    transform: rotate(11.5deg);
    top: -4%;
    left: -20%;
    width: 148%;
  }

}

  .portfolio-was-imported .portfolio-after-header .interior-footer .outer-bars {


    top: -28%;
  margin-top: 0!important;
}
