
.list {
  @include span-columns(12);
  margin-bottom: 2rem;
  text-align: left;
  padding: 2rem;

  li {
    margin-bottom: 2.5rem;
    display: block;
    position: relative;
    padding-left: 7px;
    padding-bottom: 1rem;

    &:after {
      position: absolute;
      content: '';
      width: 40%;
      height: 1px;
      left: 0;
      bottom: 0px;
      border-bottom: 1px dashed $main;
      opacity: 0.2;
      @include center(true, false);
    }

    p,a {
      position: relative;
      &:before {
        @include rotated-square;
        content: '';
        background: #555;
      }
    }


    &:last-of-type {
      &:after { display: none; }
    }
    > span {
      font-style: italic;
      font-size: 0.8em;
      opacity: 0.5;
      padding-left: 1rem;
    }

    a {
      color: $main;
      &:hover {
        color: #BD8D46;
        cursor: pointer;
      }
    }

  }


  &.large {
    @include span-columns(12);
    padding-bottom: 4rem;
    font-size: 1.2em;
    margin-bottom: 4rem;
  }

}