//this is positioned negatively to bring the masthead background up for nav/logo
#masthead-container {
   height: 130px;
   clear: both;
   top: -280px;
   z-index: 0;
   min-height: 500px;
   overflow: hidden;
   position: relative;
   box-shadow: inset 0 -3px 6px #333;

   @include media($large-screen) {
      top: -225px;
   }

   /*

  &:before {
    @include rotated-square;

    transform: rotate(45deg) translateX(-50%);
    z-index: 3;
    left: 50%;
    background: rgba(255,255,255,0.5);
    opacity: 1;
    top: 99.5%;
  }
*/

   // this offsets what seems like all pages have the masthead position ~225px up so we have to move content up as well
   + #dark-content {
      margin-top: -150px;
   }

   &.home {
      height: 90%;
      + #dark-content {
         margin-top: -10rem;
         margin-bottom: 0;
      }
   }

   #slider-dots {
      display: block !important;
   }
}

#masthead {
   @include span-columns(12);
   @include omega();
   clear: both;
   height: 100%;

   #slider {
      width: 100%;
      height: 100%;
      z-index: 1;
      > div {
         @include span-columns(12);
         height: 100%;
         overflow: hidden;
         z-index: -1;
         background-size: cover;
         position: absolute;
         border-bottom: 50px solid $main;
         top: 0;
         left: 0;
         margin-bottom: 20px;
         min-height: 500px;
         opacity: 0;
         transition: opacity 700ms;
         background-position: center 25%;

         //first slide
         &:first-of-type {
            background-image: url("/images/man_rainbow.jpg");
            background-position: center 85%;
         }

         h1,
         h2 {
            position: absolute;
            right: -100%;
            font-weight: 300;
            font-size: 1em;
            transform: translateZ(0);
            transition: right 1000ms;
            text-transform: uppercase;
         }

         h1 {
            bottom: 22%;
            background: rgba(255, 255, 255, 0.85);
            color: #333;
            padding: 1rem 3rem 1rem 1rem;
            font-size: 1.25rem;
         }

         h2 {
            bottom: 8%;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 1rem;
            transition-delay: 750ms;
         }

         @include media($medium-screen-up) {
            h1 {
               font-size: 2rem;
            }
            h2 {
               font-size: 1.5rem;
            }
         }

         @include media($large-screen) {
            h1 {
               font-size: 4rem;
               bottom: 25%;
            }
            h2 {
               font-size: 3.5rem;
            }

            @media only screen and (min-height: 800px) {
               h1 {
                  bottom: 40%;
               }
               h2 {
                  bottom: 25%;
               }
            }
         }

         &.active {
            z-index: 1;
            opacity: 1;

            h1,
            h2 {
               right: 0;
            }
         }
      }

      #slider-dots {
         @include center(true, false);
         bottom: 0;
         height: 50px;
         display: none;
         padding: 1rem 2rem;
         z-index: 2;
         width: 100%;
         text-align: center;

         li {
            display: inline-block;
            cursor: pointer;
            margin-right: 1rem;
            background: #fff;
            width: 20px;
            height: 20px;
            border-radius: 50%;

            &.active {
               background: $secondary;
            }

            &:last-of-type {
               margin-right: 0;
            }
         }
      }
   }
}
