//nav


nav#top-nav {


  @include span-columns(2);
  @include omega();
  float: right;



  .quick-info {

    background: rgba(0,0,0,0.25);
    padding: .35em 1em;
    margin-top: .4rem;
    float: left;
    display: none;

    @include media($large-screen) {
      display: block;
    }

    a {
      display: block;
      color: #FFF;
      padding-left: 1.2rem;

      &:hover {
        color: $secondary;
      }

      &:first-of-type {
        @include insert-icon('phone','before');
      }

      &:last-of-type {
        @include insert-icon('map-marker','before');
      }
    }
  }

  @include media($large-screen) {
    @include span-columns(7);
    float: left;

    h3 {
      display: none;
    }
  }

  #mobile-nav {
    @include media($large-screen) {
      display:none;
    }

    width: 60px;
    height: 60px;
    cursor: pointer;

    div {
      width: 70%;
      height: 6px;
      margin: 8px 8px;
      display: block;
      background: #333;
      transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
      transition-delay: 50ms;
    }
  }

  &.active #mobile-nav {
    div {
      &:first-of-type {
        transform: rotate(50deg);
      }
      &:nth-of-type(2) {
        width: 0;;
        transition-delay: 0ms;
      }
      &:last-of-type {
        transform: rotate(-50deg);
      }
    }
  }
  .nav-wrapper {
    z-index: 3;
    @include media($small-medium-screen-only) {
      position: fixed;
      background: rgba(0, 0, 0, 1);
      height: 100%;
      top: 0;
      left: 100%;
      width: 80%;
      transition: left 500ms;
      h3 {
        color: #FFF;
        font-weight: 300;
        border-bottom: 1px solid #eee;
        padding-top: .5em;
        text-align: center;
        padding-bottom: .5em;
        @include media($small-screen) {
          letter-spacing: em(-2);
        }

      }
    }

    @include media($medium-screen) {
      width: 50%;
    }
  }

  &.active .nav-wrapper {

    @include media($small-screen) {
      left: 20%;
    }

    @include media($medium-screen) {
      left: 50%;
    }
  }

  ul{
    list-style-type: none;
    float: right;

    @include media($small-screen) {
      width: 100%;
    }

    li {
      display: block;
      padding-right: 2em;
      padding-left:3em;
      font-weight: bold;

      @include media($large-screen) {
        padding-left:1em;
        display: inline-block;
        padding-right:0;
        &:first-of-type{
          padding-left:0;
        }

        &:after {
          @include center(true, false);
          bottom: 0;
          opacity: 0;
          content:'';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 8px 5px;
          border-color: transparent transparent #ffffff transparent;
          transition: opacity 350ms;
        }

      }

      position: relative;

      a {
        @include media($small-medium-screen-only) {
          color: #FFF;
          font-size: 1.2em;

          &:hover {
            color: $secondary;
          }
        }
        color: $link-light;
        display: block;
        padding: 1em 0;
      }


      &:hover {
        &:after {
          opacity: 1;
        }
      }

      &#close-mobile-nav {
        @include insert-icon('times-circle','before');
        color: #FFF;
        display: block;
        padding: 1em 0em;
        text-align: center;
        color: #111;
        position: relative;
        background: $secondary;
        font-size: 1.2em;
        width: 100%;
        cursor: pointer;
        @include media($large-screen) {
          display: none;
        }

        &:before {
          position: static;
          margin-left: -1rem;
          margin-right: 1rem;
        }
      }


    }

  }

}