
.opening-quote {
  text-align:center;

  p {
    font-size: 1em;
    margin-bottom: 1.5rem;
    color: #97703d;

    @include media($medium-screen-up) {
      font-size: 1.3em;
    }

    &:before, &:after {
      content: '"';
      font-size: 1.5rem;
      color: #FFF;
      opacity: 0.5;
      padding: 0 .25em;
    }
  }

  strong {
    margin-bottom: 3rem;
    display: block;
  }

  > h6{
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin: 2rem auto 1rem auto;
    display:block;
    text-align: center;
  }

}