//Page overlay when mobile nav is activated;

#masthead-container.overlay { cursor: pointer; }
#masthead-container.overlay:after {
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
}