/*---------------------
BODY/CONTAINER
----------------------*/

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: $base-font-color;
  font-family: $sans-serif;
  font-size: 16px;
  background: #FCFAE1 url('/images/low-contrast-linen.png');
}

body, html {
  height: 100%;
}

#wrapper {
  @include outer-container(); //Make sure you include the #wrapper on your page to throw that thing on a grid

  //If you want your padding to be the same as the gutter %, you can use padding: flex-gutter();

}

.container {
  @include span-columns(12);
  @include outer-pad();
}

#page-content {
  height: 100%;
  clear: both;
  overflow-x: hidden;
  position: relative;

  &.active {
    &:after {
      position: absolute;
      content: '';
      top:0;
      left:0;
      z-index:1;
      background: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
    }
  }
}

#dark-content {
  @include outer-container();
  clear: both;
  position: relative;
  z-index:0;
  padding: 0 1em 0em 1em;
}
