// Elements to be reused. Like section titles and such.


@mixin rotated-square {
    content:'';
    width: 25px;
    height: 25px;
    background: $main;
    opacity: 0.2;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    left: 0;
}

.section-title {
  text-transform: uppercase;
  position: relative;
  font-size: 1.5em;
  position: relative;
  color: $main;
  margin-bottom: 2.5rem;
  z-index: 0;
  p {
    display: inline-block;
    position: relative;
    &:before {
      @include rotated-square;
    }
  }

  &.large {
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    p {

      &:before {
        width: 40px;
        height: 40px;
        top: 8px;
        display: none;

        @include media(medium-screen-up) {
          display: block;
        }
      }
    }
  }
}

.gcontent {
  @include outer-container();
  text-align: left;
  margin-bottom: 2rem;
  clear: both;

  h3 {
    margin-bottom: 1rem;
    color: $main;
    text-transform: uppercase;
    text-align: center;
  }

  &:last-of-type {
    margin-bottom: 10rem;
  }

  p + h3 {
    margin-top: 2rem;
  }

  h2 {
    margin: 3rem 0;
    text-align: center;
  }
}



.contact-person {
  clear:both; margin: 1rem 0;
}

.text-center { text-align: center; }