{% set canonical = domain + '/give' %}
{% set pageName = "Give" %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <section id="dark-content">
      <div class="gcontent text-center">

         <h1 class="section-title">
            Contributions and Donations
         </h1>

         <p>
            Our online giving option is through the Presbyterian Foundation.
         </p>

         <p>
            You have the option to set up an account, but that is not required for online giving.
         </p>

         <p>
            <a class="button primary" style="display: inline-block;" target="_blank" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbdpZNdpc_8n7lTI8wAS5sy8iYnTg5dP4O6rpX5QvPEWlBhHDN59kLZFffwKfYERpQm42N8SRd9sT81Uob3Dxlqk=&ver=3">Donate</a>
         </p>

      </div><!-- .gcontent -->
   </section><!-- #dark-content -->
{% endblock %}
