{% set canonical = domain + '/ministryteams/smallgroups' %}
{% set pageName = "Small Groups Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Team</a>
            /
            <p>Small Groups Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>Small Groups Ministry Team</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    Tammy Taylor
                 </h3>

                <ul>
                    <li>Ministry</li>
                    <li>Bible Studies</li>
                    <li>Volunteer Work</li>
                    <li>Men's Fraternity</li>
                </ul>
            </div>

            <p>
               I am Tammy Taylor, Elder of Small Groups. I was born and raised in Oldham County. I have been married for 35 years to David. We have a 26 year old son Kyle. I have been a member of LaGrange Presbyterian for about 2 years.
            </p>

            <p>
               The purpose of small groups in the Church is to get members of the congregation involved in activities within the Church. We also reach out to those in the community to be involved in the activities of the Church. These may include ministry work, Bible studies, volunteer work, whatever you feel your gift may be or how you may want to grow in your spiritual relationship with God. We try to have a small group to meet your needs.
            </p>

            <p>
               Some of the groups we have are a Tuesday morning Ladies Bible Study, a Thursday evening Men&rsquo;s Fraternity. A Wednesday evening Men&rsquo;s Bible Study, and Homemakers that meet once a month on Monday evenings. We have recently finished the 9 week class of Dave Ramsey&rsquo;s Financial Peace University.
            </p>

            <p class="contact-person">
               Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Small Groups Ministry Team">the Small Groups Ministry Team</a>
            </p>
        </div>
    </section>
{% endblock %}
