{% set canonical = domain + '/ministryteams/finance' %}
{% set pageName = "Finance Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Finance Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>FINANCE MINISTRY TEAM</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    DIANE COFFMAN</h3>

                <ul>
                    <li>Financial Team</li>
                    <li>Personnel</li>
                    <li>Stewardship</li>
                </ul>
            </div>

            <p>
               When a Congregation hears the word &ldquo;Finance&rdquo; they usually want to turn and walk the other way, because for most of us we have enough problems with money and didn&rsquo;t come to hear more at church. Hi, my name is Diane and I to understand where you&rsquo;re coming from, but God changed me in my prayers. Money is not something that is mine, it is a gift given by God; with that knowledge I give it back to the one who truly loves me. He does so much for us every day; with every penny we spend we need to thank Him for <strong>ALL</strong> he give to us.
             </p>

            <p>
               I have been called by God to lead this church with our finances. God has told me that this is His church and He will be the sole leader for <strong>ALL
                </strong>decisions. I am to follow Him as a sheep would follow a shepherd, trusting and not worrying when times become critically tight or everyone becomes uptight. For He will walk with us through good times and bad. He will guide us through it <strong>ALL</strong> and He will carry us through every trouble. I will trust in Him at home and to run the Finances of our church. I will pray to Him daily and by His words I will follow His path to guide our church on the right road to see what wonderful things He has for our future.
             </p>

            <div class="opening-quote">
                <p>Ask me and I will tell you remarkable secrets you do not know about things to come.</p>
                <strong>Jeremiah 33:3 NLT</strong>
            </div>

            <img src="/images/ministryteams/finance/footsteps-with-words.png" />


            <p>Our Personnel Committee team evaluates our staff&rsquo;s performance and accomplishments each year.</p>

            <p>Our Nominating Committee team gathers new Elder&rsquo;s to elect each year to present them before the session and congegation for approval.</p>

            <p>
               Our Stewardship team helps design a creative way for us to look at <strong>ALL</strong> of God&rsquo;s blessings that He gives to us through the year and showing him how much we love him by giving some back. If you feel called by God to be a part of this ministry please let me know, we will begin our campaign meetings in September.
            </p>

            <img src="/images/ministryteams/finance/diane.jpg" class="letter-img left"/>

            <p>
               I, Diane Coffman have been blessed to marry a godly husband, Travis Coffman for a wonderful 19 years. I am a mother to two children, and a step mother to another, and Grammy to two grandchildren. I&rsquo;m a stay at home Mom who does a little bit of everything, I help out with my husband&rsquo;s business from home, I work in our church office, I&rsquo;m involved in bible classes, prayer groups, a homemakers group , and stay busy with family and friends. I love learning about how God loves us in so many ways. I love my quiet getaways for time for me, and I&rsquo;m a nature lover by heart, God&rsquo;s beauty is extraordinary.
            </p>
        </div>

        <div class="gcontent">
            <p class="contact-person" style="margin-top: 4rem">
               Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Finance Ministry Team">the Finance Ministry Team</a>
            </p>
        </div>
    </section>
{% endblock %}
