{% set canonical = domain %}
{% set pageName = "Home" %}

{% block custom_meta %}
   <meta name="google-site-verification" content="d4CVjy_kToZv2RGww6yNNkLUO5S1yqghFdg-H5uJJbU" />
{% endblock %}

{% extends '_layouts/default.njk' %}

{% block masthead %}
   <div id="masthead-container" class="home">
      <section id="masthead">
         <div id="slider">
            <ul id="slider-dots"></ul>
            <div style="background-image: url(/images/al-articles-slider.jpg)" class="active">
               <h1>INTERESTED IN WEEKLY READING?</h1>
               <h2>
                  <a href="/pastor">CHECK OUT PASTOR AL'S ARTICLES</a>
               </h2>
            </div>

            <div style="background-image: url(/images/man_rainbow.jpg)">
               <h1>WANT TO LEARN MORE ABOUT LPC?</h1>
               <h2>
                  <a href="/whatwebelieve">LEARN WHAT WE BELIEVE</a>
               </h2>
            </div>

            <div style="background-image: url(/images/placeholder2.jpg)">
               <h1>Read Through the Bible in a Year</h1>
               <h2>
                  <a href="/bibleyear/">Get a Reading Program</a>
               </h2>
            </div>
         </div>
      </section>
   </div>
{% endblock %}

{% block main %}
   <section id="dark-content">

      <div class="welcome gcontent">
         <h1 class="section-title ">
            <p>Craig A. Knebel</p>
         </h1>

         <p>
            Craig A. Knebel, 54 of LaGrange, KY passed away unexpectedly at his home on June 22, 2024.
         </p>
         <p>
            Visitation will be held on Thursday, June 27, 2024, from 5:00-9:00 p.m. and on Friday, June 28, 2024, from 3:00-5:00 p.m. at LaGrange Presbyterian Church, 1901 Prestwick Drive, LaGrange, Kentucky.  A celebration of life will be held at LaGrange Presbyterian Church on Friday, June 28, 2024, at 5:00 p.m.
         </p>
         <p>
            Both the visitation and the service will be at La Grange Presbyterian Church, and the service will be available online.
         </p>
         <p>
            <a href="/life-celebration">Please visit here for more details.</a>
         </p>
      </div>

      <div class="info">
         <h1 class="section-title ">
            <p>INFORMATION AT A GLANCE</p>
         </h1>

         <div class="icon-block clock">
            <i></i>

            <div class="text">
               <h5>WORSHIP TIMES</h5>

               <p>
                  <strong>Saturday:</strong> 5:30pm - Worship the Lord in-person!
               </p>
               <p>
                  <strong>Sunday:</strong> 10:30 - Worship the Lord via internet church and in-person!
               </p>
            </div>
         </div>

         <div class="icon-block book">
            <i></i>

            <div class="text gcontent">
               <h5>Sunday School
               <p>9:30 - Genesis Class - led by Tom and Gene.</p>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
