{% set canonical = domain + '/ereopenthissunday' %}
{% set pageName = "Welcome to worship!" %}

{% extends '_layouts/default.njk' %}



{% block main %}
   <section id="dark-content">
      <h1 class="section-title large">
         The Plan for Opening LaGrange Presbyterian Church on May 24, 2020
      </h1>

      <p>Governor Beshear has announced that the next phase of re-openings is set for May 20. It will apply to retail businesses and houses of worship, which will be allowed to resume in-person services but at a reduced capacity. This is our plan for accomplishing this in a safe way for worship.</p>

      <br>

      <div class="gcontent">
      
         <p>The page for <a href="/online-sermons">online worship services</a> has been moved to a new place, <a href="/online-sermons">over here</a>.</p>
      
         <h3>Worship Guidelines</h3>

         <br>

         <p>There will be a sanitation team to prepare the church for worship each Sunday. They will be wiping down handles and propping doors open.</p>

         <p>Take your temperature before leaving your home. If it is not normal, please worship via the internet at lagrangepres.org.</p>

         <p>Please bring a mask to wear during the service. Masks and Hand Sanitizer will be provided as necessary.</p>

         <p>All elderly, ill, and at-risk members are encouraged to stay home and watch the service <a href="/online-sermons">online</a>.</p>

         <p>If you are not comfortable attending, the service is available to you <a href="/online-sermons">online</a>.</p>

         <p>The bathrooms will be open, but you are encouraged to reduce your risk of infection by using your bathrooms at home. There will be information posted at all restrooms with guidelines for sanitation.</p>

         <p>Please do not shake hands or hug one another.</p>

         <p>Bring your own Bible (BYOB), as All Bibles and Hymnals will be removed from the sanctuary. There will also not be any bulletins.</p>

         <p>When choosing your seats observe the rules of social distancing. The congregation is asked to sit with your own family and to leave the sanctuary by family, and to not gather in the narthex due to social distancing protocol.</p>

         <p>No offering plates will be passed. Online giving is still an option, and we will have an offering plate at the entrance to the sanctuary.</p>

         <p>We will not hold hands for the Benediction.</p>
         
      </div>
   </section>

   <br><br>
{% endblock %}
