
    <section id="dark-content" class="gcontent">
        <ul class="list large">
            <li>
                <a href="/resources/proverbs/proverbs-1-with-scripture.html">Proverbs 1: The Blessing of Wisdom</a>
                (<a href="/resources/proverbs/proverbs-1-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-2-with-scripture.html">Proverbs 2: Gain Instruction for Living</a>
                (<a href="/resources/proverbs/proverbs-2-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-3-with-scripture.html">Proverbs 3: Prudent Living</a>
                (<a href="/resources/proverbs/proverbs-3-with-scripture.pdf" download>Doanload</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-4-with-scripture.html">Proverbs 4: Doing What is Right, Just, and Fair</a>
                (<a href="/resources/proverbs/proverbs-4-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-5-with-scripture.html">Proverbs 5: Guiding the Simple and the Young</a>
                (<a href="/resources/proverbs/proverbs-5-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-6-with-scripture.html">Proverbs 6: To Receive Instruction from Others</a>
                (<a href="/resources/proverbs/proverbs-6-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-7-with-scripture.html">Proverbs 7: Avoiding Foolishness</a>
                (<a href="/resources/proverbs/proverbs-7-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-8-with-scripture.html">Proverbs 8: Fear of the Lord</a>
                (<a href="/resources/proverbs/proverbs-8-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-9-with-scripture.html" target="proverbs">Proverbs 9: Invitations of Wisdom and Folly</a>
                (<a href="/resources/proverbs/proverbs-9-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-10-with-scripture.html" target="proverbs">Proverbs 10: Proverbs of Solomon</a>
                (<a href="/resources/proverbs/proverbs-10-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-11-with-scripture.html" target="proverbs">Proverbs 11</a>
                (<a href="/resources/proverbs/proverbs-11-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-12-with-scripture.html" target="proverbs">Proverbs 12</a>
                (<a href="/resources/proverbs/proverbs-12-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-14-with-scripture.html" target="proverbs">Proverbs 14</a>
                (<a href="/resources/proverbs/proverbs-14-with-scripture.pdf" download>Download</a>)
            </li>
            <li>
                <a href="/resources/proverbs/proverbs-15-with-scripture.html" target="proverbs">Proverbs 15</a>
                (<a href="/resources/proverbs/proverbs-15-with-scripture.pdf" download>Download</a>)
            </li>

        </ul>
    </section>