<div class="blog-archives">
    <h5 class="archives-title">Archives</h5>

    <ul class="archives-list">
        {% for year in article.years | reverse %}
           {% if (archivePage == true) and (blogYear == year) %}
              <li>{{blogYear}} by the month</li>
              {% for month in article.yearsAndMonths[year] | reverse %}
                   {% if month == blogMonth %}
                       <li>
                           <a class="month active" href="/pastor/archive/{{ year }}/{{ month }}">{{ month }}</a>
                       </li>
                   {% else %}
                       <li>
                           <a class="month" href="/pastor/archive/{{ year }}/{{ month }}">{{ month }}</a>
                       </li>
                   {% endif %}
              {% endfor %}
           {% else %}
              <li>
                   <a href="/pastor/archive/{{ year }}">{{ year }}</a>
              </li>
           {% endif %}
        {% endfor %}
    </ul>
</div>
