<footer id="footer">
   <div class="footer-container">
      <div class="footer-grid">

         <div class="info">
            <h3>
               <a href="/">LaGrange Presbyterian Church</a>
            </h3>
            <p>
               1901 Prestwick Drive<br>
               LaGrange, KY 40031
            </p>
            <p>
               <a href="tel:5022228973">502.222.8973</a>
               |
               <a href="https://www.google.com/maps?q=Lagrange+Presbyterian+Church+La+Grange+KY" target="_blank">Get Directions</a>
            </p>
            <p>
               <a class="link" target="_blank" href="https://lagrangepres.us20.list-manage.com/subscribe?u=78b2df8a99f7a9681dc65bc7d&id=19d6c2b4df">Sign up to stay informed</a> about happenings at our church or to receive the weekly bulletin.
            </p>
         </div>

         <div class="news">
            <h3>
               <a href="/calendar/">Upcoming Events</a>
            </h3>
            <ul id="lpc-events">
               <p class="loading-events" style="color: #fff;">Loading...</p>
            </ul>
         </div>

         <div class="copyright">
            <p>Copyright &copy; {{ copyYear }} LaGrange Presbyterian Church. All Rights Reserved. Website design and hosting by
               <a href="/siteinfo">RFX Technologies</a>
            </p>
         </div>

      </div>
   </div>
</footer>
