<script src="https://faithlife.com/scripts/api/plugins/givingFormEmbedded.js"></script>
<header class="top-header">
   <a href="/" class="logo">LaGrange Presbyterian Church</a>
   <nav id="top-nav">
      <div id="mobile-nav">
         <div></div>
         <div></div>
         <div></div>
      </div>
      <div class="nav-wrapper">
         <h3>LaGrange Presbyterian Church</h3>
         <div class="quick-info">
            <a href="tel:5022228973">502-222-8973</a>
            <a href="https://www.google.com/maps?q=Lagrange+Presbyterian+Church+La+Grange+KY" target="_blank">Get Directions</a>
         </div>
         <ul>
            <li>
               <a href="/">Home</a>
            </li>
            <li>
               <a href="/give">Give</a>
            </li>
            <li>
               <a href="/online-sermons">Online Worship</a>
            </li>
            <li>
               <a href="/calendar/">Calendar</a>
            </li>
            <li>
               <a href="/contact/">Contact</a>
            </li>
            <li id="close-mobile-nav">CLOSE MENU</li>
         </ul>
      </div>
   </nav>
</header>

<div id="flyout-bar">
   <ul class="top-layer">
      <li class="flyout-click" data-fly="leftfly">
         <p>Learn About Us</p>
         <i>Interested in attending?</i>
      </li>
      <li class="flyout-click" data-fly="midfly">
         <p>Get Involved</p>
         <i>Ministry teams & fellowship</i>
      </li>
      <li class="flyout-click" data-fly="rightfly">
         <p>Missions</p>
         <i>Learn about our missions</i>
      </li>
   </ul>

   <div class="flyout-cont">
      <div id="flyout" class="none">
         <div id="leftfly" class="flyout-content">
            <div class="content-left"></div>
            <ul class="flyout-links">
               <li>
                  <a href="/whatwebelieve/">What We Believe</a>
               </li>
               <li>
                  <a href="/aboutlpc/">About LPC</a>
               </li>
               <li>
                  <a href="/online-sermons/">Online Worship</a>
               </li>
               <li>
                  <a href="/pastor/">Pastor's Articles</a>
               </li>
               <li>
                  <a href="/resources/">Spiritual Resources</a>
               </li>
               <li>
                  <a href="/prayer-book/">Prayer Book</a>
               </li>
            </ul>
            <div class="content-right"></div>
         </div>

         <div id="midfly" class="flyout-content">
            <div class="content-left"></div>
            <ul class="flyout-links">
               <li>
                  <a href="/ministryteams/">Ministry Teams</a>
               </li>
               <li>
                  <a href="/fellowship/">Fellowship</a>
               </li>
               <li>
                  <a href="/biblestudy/">Bible Studies</a>
               </li>
            </ul>
            <div class="content-right/"></div>
         </div>

         <div id="rightfly" class="flyout-content">
            <div class="content-left"></div>
            <ul class="flyout-links">
               <li>
                  <a href="/missions/local/">Local</a>
               </li>
               <li>
                  <a href="/missions/national/">National</a>
               </li>
               <li>
                  <a href="/missions/international/">International</a>
               </li>
            </ul>
            <div class="content-right"></div>
         </div>
      </div>
   </div>
</div>
