{% set canonical = domain + '/ministryteams/evangelism/' %}
{% set pageName = "Evangelism Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Evangelism Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>EVANGELISM MINISTRY TEAM</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    Traci Jones
                 </h3>

                <ul>
                    <li>Outreach</li>
                    <li>Discipleship</li>
                </ul>
            </div>

            <h1 class="section-title ">
                <p>EVANGELISM: LOVING THE LOST</p>
            </h1>

            <p>
               When you say &ldquo;Evangelism&rdquo;, people tend to run the other direction. They think of the people in their life who have been overzealous or pushy about God. Even church attending Christians will often look at evangelism as nothing more than inviting friends to a fun church event. But evangelism is much bigger than that! It involves both outreach and discipleship. Outreach is getting more people into his kingdom; discipleship is getting more of his kingdom into his people. It is a conversation about one&rsquo;s faith and beliefs.
            </p>

            <p>This conversation is a command known as the GREAT COMMISSION, which Jesus gave to his disciples after his resurrection.</p>

            <div class="opening-quote">
                <p>Then Jesus came to them and said, &quot;All authority in heaven and on earth has been given to me. Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, 20 and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age.&quot;</p>

                <strong>Matt. 28:18-20</strong>
            </div>

            <p>This year we are going to cultivate the art of talking with people about spiritual things. This month, pray for God to show you opportunities to share your faith. For a variety of reasons, few people (even those who are responsive) will initiate such conversations. By giving people the opportunity to talk about spiritual things, we will discover the open doors we have been praying for!</p>
        </div>

        <div class="gcontent">
            <p class="contact-person" style="margin-top: 3rem">
               Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Evangelism Ministry Team">the Evangelism Ministry team</a>
            </p>
        </div>
    </section>

{% endblock %}
