{% set canonical = domain + '/resources/consecrating-your-home' %}
{% set pageName = "Checklist for Consecrating Your Home to the Lord" %}
{% set downloadPDF = "/resources/consecrating-your-home/consecration.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{pageName}}</h1>
            <p>A plan for opening the floodgates of the Lord's love, mercy, and peace to bless your family, friends, and acquaintances who come into your home.</p>
            <p>Psalm 127:1, “Unless the LORD builds the house, the builders labor in vain.”</p>
            <p>(<a href="{{ downloadPDF }}" download>Download</a>)
    </section>
{% endblock %}
