{% set canonical = domain + '/ministryteams/buildinggrounds' %}
{% set pageName = "Building and Grounds Ministry Teams" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Building & Grounds Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>Building & Grounds Ministry Team</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    Clarence Robinson
                 </h3>

                <ul>
                    <li>Building Maintenance</li>
                    <li>Grounds</li>
                </ul>
            </div>

            <p>My name is Clarence Robinson and this is my first year as Elder of Building and Grounds. My wife Lesa and I have been married almost 4 years and have 3 children and our 1st grandchild due later this year. I retired from the Department of Corrections in 2013 and went back to doing electrical work last year.</p>

            <p>My busiest time of year is fast approaching with spring/summer being right around the corner. With the help of my fellow brothers and sisters we keep the grass mowed, and I am currently working with the youth group to plan a grounds clean up day in late May early June. I will let everyone know once the date is set in case anyone wants to help.</p>

            <p class="contact-person">
               Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Building and Grounds Ministry Team">the Building and Grounds Ministry Team</a>
            </p>
        </div>
    </section>
{% endblock %}
