{% set canonical = domain + '/resources' %}
{% set pageName = "Spiritual Resources" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="pastorsarticles">
        <h1 class="section-title large">
            <p>Spiritual Resources</p>
        </h1>
        <ul class="blog-list">
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/humility/" title="The Humility Exercise">
                            The Humility Exercise
                        </a>
                        <p>Evelyn Christenson, internationally known authority on prayer, provides a list of possible sins that may help you to begin to understand the power of sin in your life.</p>
                    </div>
                </li>
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/arrogance/" title="The Arrogance Exercise">
                            The Arrogance Exercise
                        </a>
                        <p>The following is taken from The Prideful Soul's Guide to Humility by Thomas Jones and Michael Fontenot.</p>
                    </div>
                </li>
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/spiritual-gifts/" title="Spiritual Gifts Inventory">
                            Spiritual Gifts Inventory
                        </a>
                        <p>You have just begun a process of discovering your spiritual gift(s).  As you reflect on the gift(s) you have identified through the Spiritual Gifts Discovery Survey/Analysis, you should now try to determine which ones truly are, or are not, your gifts.  To assist you in doing that, follow the five steps below.</p>
                    </div>
                </li>
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/lukewarm-persons/" title="Lukewarm Persons Inventory (LWP)">
                            Lukewarm Persons Inventory (LWP)
                        </a>
                        <p>This exercise is adapted from <u>Crazy Love</u> by Francis Chan, chapter 4. For each characteristic of a LWP make notes about how you fall into the traps of being a LWP.</p>
                    </div>
                </li>
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/consecrating-your-home/" title="Checklist for Consecrating Your Home to the Lord">
                            Checklist for Consecrating Your Home to the Lord
                        </a>
                        <p>A plan for opening the floodgates of the Lord's love, mercy, and peace to bless your family, friends, and acquaintances who come into your home.</p>
                    </div>
                </li>
                <li>
                    <div class="blog-text">
                        <a class="blog-title" href="/resources/proverbs/" title="Sermon Series On the Book of Proverbs">
                            Sermon Series On the Book of Proverbs
                        </a>
                        <p>Beginning on January 10 we will kick-off a new sermon series on “The Book of Proverbs” by King Solomon. This eight-week series will be a complete overview of this book of wisdom, including commentaries on all 32 chapters of the book.</p>
                    </div>
                </li>

        </ul>
    </section>
{% endblock %}
