//Contact Us specific styles

#contact-form {
  text-align:left;

  select {
    font-weight: 600;
    color: #999;
    line-height: 26px;
    padding: 15px 0 25px 10px!important;
    font-size: 1em;
    width: 100%;
    border: 1px solid #333;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

#lapc-contact-form {
  @include span-columns(12);
  @include omega();
  text-align:center!important;
  padding: 2rem 0;

  input[placeholder], textarea[placeholder] {
    font-weight: 600;
    color: #111;
    line-height: 26px;
    padding: 15px 0 25px 10px !important;
    font-size: 1.1rem;
  }

  input {
    @include media($large-screen) {
      @include span-columns(4 of 12);
    }
  }

  textarea {
    min-height: 180px;
    @include media($large-screen) {
      min-height: 220px;
    }
  }

  /*
    input, textarea {

      @include media($small-medium-screen-only) {
        @include span-columns(10);
        @include shift(1);
      }

    }
  */
  #form-phone {
    @include omega();
  }

}

#form-message + h2 {
  display: inline-block;
  float: left; margin-right: 1em;
}

#map {
  &.contact {
    @include span-columns(12);
    @include omega();
    position:relative;
    min-height: 250px;

    @include media($medium-screen) {
      min-height: 350px;
    }

    @include media($large-screen) {
      min-height: 400px;
    }

    &:after {
      content:'';
      position:absolute;
      z-index:11;
      bottom:-2rem;
      width:100%;
      height:250px;
      pointer-events: none;
      @include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 100%));
    }
  }
}

.contact-form {
  position: relative;

  .alert-box {
    display: none;
  }

  .alert-box-success {
    text-align: center;
  }
}

.contact-form-is-processing {
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  &:after {
    content: "\f110";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 2rem;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -2rem;
    line-height: 1;
    color: #333;
    animation: fa-spin 1s infinite steps(8);
    z-index: 6;
  }



  input,
  textarea {
    cursor: not-allowed;
    background-color: $light-gray;
    color: $dark-gray;
  }
}

#form-recipient {
  background: #FFF;
  margin-top: .75rem;
  margin-bottom: 2rem;
  display: inline-block;
}

/* button rules moved to src/styles/ingredients/_buttons.scss, as they
   applied to the entire site */

.input-error {
  border: 1px solid red !important;
}

.checkbox-group {
  label {
    display: inline-block;
    vertical-align: middle;
  }
}


.site-info {

  a, a:hover, a:active {
    color:$main!important;
  }
}
