
.portfolio-was-imported {

  //unsorted
  &#deco .outer-bars div {
    background: #333332;
    &:first-of-type {
      background: #e5bc4a;
    }
  }

  .medallion {
    background: #e5bc4a;
  }

  .close-text {
    color: #000;
    line-height: .83em;
    font-size: 4em;
    span {
      color: #e5bc4a;
      display:block;
    }
  }

  //macbook section

  &#deco .full-web {
    background: #c24a3f;
    border-color: #e5bc4a;

    .macbook {
      background: url('/images/portfolio/deco/macbook_deco.jpg');
    }

  }

// 3d perspective section
  .responsive-design {
    background: #FFF;
    border-top: 8px solid #e5bc4a;
    position: relative;
    z-index: 7;
    padding-bottom: 16rem;

    .responsive-inner {
      @include outer-container();
      margin-top: 3rem;
    }

    .mobile-cards {
      @include span-columns(7 of 12);
    }

    .cards-right {
      @include span-columns(5 of 12);
      @include omega();
      margin-top: 5rem;


      p {
        color: #595959;
        margin-top: 1rem;
        font-size: 1.1em;
      }
    }

  }

//screenshots
  .screenshots {
    clear:both;
    position: relative;
    z-index:8;
    background: #e0e0e0;
    min-height: 2000px;


    .screenshots-inner {
      @include outer-container();

      .tablet-perspective {
        @include center(true,false);
        top: -200px;
      }

      .screen-big {

        @include span-columns(12);
        @include omega();

        &.first {
          margin-top: 17em;
        }

        margin-bottom: 3rem;
      }

      .screen-left {

        @include span-columns(6 of 12);

      }


      .screen-right {

        @include span-columns(6 of 12);
        @include omega();

        img {
          display:block;
          margin-bottom: 4rem;
        }

      }

    }

  }


  //interior portfolio

  &#deco .interior-portfolio {
    border-color: #e5bc4a;
  }



}