#dark-content.fellowship {

  .list {

    strong {
      color: $secondary;
    }
  }

  .about-fellowship {
    margin: 0 0 4rem 0;
    img {
      margin: 0 0 2em 0;
      @include media($medium-screen-up) {
        float: left;
        margin: 0 2em 0 0;
      }
    }

    p {
      font-style: italic;
    }
  }

}