.heartofthefather {
   @include media($medium-screen-up) {
      .heart-image {
         @include span-columns(5);
      }
      .reasons {
         @include span-columns(7);
      }
      .housing,
      .locations,
      .questions {
         @include span-columns(4);
         text-align: center;
      }
      .teaching,
      .books-topics,
      .schedule-what {
         @include span-columns(4);
      }
      ol,
      ul {
         padding-left: 20px;
      }
      ol {
         list-style: decimal;
      }
      ul {
         list-style: disc;
      }
      .name,
      .phone {
         @include span-columns(6);
      }
      .address {
         @include span-columns(12);
      }
      .city,
      .state,
      .zip,
      .referral {
         @include span-columns(4);
      }
      .country,
      .homechurch {
         @include span-columns(6);
      }
      .referral-other {
         @include span-columns(8);
         display: none;
      }
   }
}
