#dark-content {
  .welcome {
    @include span-columns(12);

    @include media($medium-screen-up) {
      @include span-columns(6);
    }

    padding-bottom: 1rem;
    margin-bottom: 2rem;

    @include media($small-screen) {
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }


  }


  .info {
    @include span-columns(12);

    @include media($medium-screen-up) {
      @include span-columns(6);
      @include omega();
    }

    }
  }

  .icon-block {
    clear: both;
    display: inline-block;
    margin-bottom: 1em;
    h5 {
      color: #BD8D46;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: em(1.5);
      margin-bottom: .5rem;
    }

    &.clock i {
        @include insert-icon('clock-o','before');
    }

    &.book i {
      @include insert-icon('book','before');
    }
      i {
        display: block;
        font-style: normal;
        float: left;
        &:before {
          color: $main;
          font-size: 2.5rem;
        }
      }

      .text {
        float: left;
        margin-left: 4rem
      }

  }
