/* Ministry teams (list page) styles */

#dark-content.ministryteams {


  .list {

    li {
      display:block;
      text-align: center;
      margin:2rem auto 3rem auto;

      &:first-of-type {
        margin-top: 0;
      }

      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
        @include omega();
        display:inline-block;
        &:nth-of-type(2) {
          margin-top: 0;
        }

      }

    }
  }

}

.teams-titles {

  text-align: center;

  h3 > span {
    color: #bd8d46;
    display: block;
    font-size: 1rem;
    vertical-align: middle;
  }

  ul {
    list-style-type: none;

    li {
      padding-right: 5px;
      margin-top: 1em;

      @include media($medium-screen-up) {
        display: inline-block;
        margin-top: 0;

        &:after {
          content:'\2022';
          padding:0 0 0 0.5rem  ;
          color:#ccc;
        }


        &:last-of-type:after  {
          display: none;
        }
      }
    }
  }
}


//Letters on the various pages

.letter-img {
  display: block;
  margin:0 auto 1rem auto;

  &.left {
    @include media($medium-screen-up) {
      float: left;
      padding-right: 1em;
    }
  }


  &.right {
    @include media($medium-screen-up) {
      float: right;
      padding-left: 1em;
    }
  }
}

.letter-img-sbs {

  margin: 2rem auto;
  text-align: center;

  img {
    display: inline-block;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

  .letter-thanks {
    margin-top: 1rem;

    strong {
      color: $secondary;
    }

    @include media($medium-screen-up) {
      float: right;
    }
  }

