#dark-content.pastorsarticles {
   .blog-container {
      &::after {
         content: "";
         display: block;
         clear: both;
      }
      .blog-archives {
         @include span-columns(12);
         background: #4c1b1b;
         padding: 15px 15px 16px 16px;
         border-radius: 15px;
         h5 {
            margin-bottom: 1rem;
            color: white;
         }
         li {
            margin: 10px 0;
            color: #f6e497;
            font-weight: bold;

            &:first-child {
               margin: 0 0 10px;
            }
            &:last-child {
               margin: 10px 0 0;
            }
            a {
               background: #f6e497;
               color: #202020;
               padding: 5px 5px 6px 7px;
               border-radius: 7px;
               display: block;
               text-align: center;
               letter-spacing: 0.07rem;
               font-weight: bold;

               &:hover {
                  background: #f0d251;
               }

               &.month {
                  background: rgba(#f6e497, 0.33);
                  color: rgba(white, 0.9);

                  &.active {
                     background: rgba(#f6e497, 0.5);
                  }

                  &:hover {
                     background: rgba(#f6e497, 0.5);
                  }
               }
            }
         }
         @include media($medium-screen-up) {
            @include span-columns(3);
         }
      }
      .blog-list {
         @include span-columns(12);
         text-align: left;

         @include media($medium-screen-up) {
            @include span-columns(9);
         }

         li {
            clear: both;
            width: 100%;
            display: inline-block;
            margin-bottom: 2rem;
            border-bottom: 1px solid #999;
            padding-bottom: 2rem;

            .day-badge {
               width: 75px;
               height: 75px;
               background: $secondary;
               border-radius: 50%;
               font-weight: 700;
               line-height: 1.2;
               color: #444;
               box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
               padding: 15px;
               text-align: center;
               font-size: 1rem;
               margin: 1rem auto;
               position: relative;
               display: flex;
               justify-content: center;
               flex-direction: column;

               @include media($medium-screen-up) {
                  float: left;
                  margin: 0rem auto;
               }
            }

            .blog-text {
               float: right;

               width: 100%;

               @include media($medium-screen-up) {
                  width: 87%;
               }

               padding-left: 1rem;
               a {
                  color: $main;

                  &:hover,
                  &:active {
                     color: lighten($main, 20%);
                  }

                  &.blog-title {
                     font-size: 1.5rem;
                  }
               }

               p {
                  margin: 1rem 0 2rem 0;
               }
            }

            .blog-button {
               @include ts-button(
                  $secondary,
                  "center-out",
                  true,
                  "envelope",
                  right
               );
               text-align: center;
               margin: 0 auto;
               color: #333;
               border-radius: 3.5em;
               font-size: 1.1rem;
               margin-bottom: 1rem;
               padding: 10px 2rem;
               display: block;
               &:hover,
               &.active {
                  color: #333;
                  background: $secondary;
                  cursor: pointer;
                  border-radius: 3em;
               }
               @include media($medium-screen-up) {
                  display: inline-block;
               }
            }
         }
      }
   }

   img.portrait {
      display: block;
      margin-bottom: 2rem;
      border-radius: 50%;

      @include media($small-screen) {
         @include span-columns(8);
         @include shift(2);
      }

      @include media($medium-screen-up) {
         @include span-columns(5);
         @include omega();
      }
   }
}

.articles-nav {
   position: relative;
   z-index: 1;

   @include outer-container();
   margin-bottom: 3rem;
   margin-top: -4.5rem;

   .next {
      float: left;
   }

   .previous {
      float: right;
      text-align: right;
   }

   > div {
      width: 33.33%;
   }

   .index {
      float: right;
      width: 33.33%;

      &.archive {
         margin-top: 100px;
         float: none;
         width: 100%;
         text-align: center;
      }

      > a {
         @include ts-button($secondary, "center-out", true, "envelope", right);
         text-align: center;
         margin: 0 auto;
         color: #333;
         border-radius: 3.5em;
         font-size: 1.1rem;
         margin-bottom: 1rem;
         padding: 10px 2rem;
         display: block;
         &:hover,
         &.active {
            color: #333;
            background: $secondary;
            cursor: pointer;
            border-radius: 3em;
         }
         @include media($medium-screen-up) {
            display: inline-block;
         }
      }
   }

   a {
      color: $main;
      &:hover,
      &:active {
         color: lighten($main, 20%);
      }
   }
}
.blog-pagination-title {
   margin-bottom: 1rem;
   color: #4c1b1b;
}
.blog-pagination {
   background: #4c1b1b;
   border-radius: 10px;
   padding: 15px 10px 16px 10px;
   margin-bottom: 2rem;

   span {
      padding: 7px;
      color: #f6e497;
      a {
         background: #f6e497;
         color: #202020;
         padding: 5px 5px 6px 7px;
         border-radius: 7px;

         &:hover {
            background: #f0d251;
         }
      }
   }
}
