.why-rfx {
  @include outer-container();
  height: 500px;
  @include media($medium-screen-up) {
    height: 500px;
  }
  background: #FFF;

  .inner {
    @include span-columns(12);
    height: 100%;

    .text {
      @include span-columns(12);

      padding: 4em 1em 0 1em;
      @include media($medium-screen-up) {
        @include span-columns(7 of 12);
        padding-top: 12em;
      }


      h3 {
        font-weight: 300;
      }

      h1 {
        color: $secondary;
        margin: .4rem 0 1rem 0;
      }

      .button {
        @include ts-button(#FFF, outline, false, angle-right, right);
        color: $main;
        border-color: $main;
        text-transform: uppercase;
        font-size: 1rem;


        &:after {
            transition: right 300ms ease-in, font-size 300ms linear, margin-top 300ms linear;
        }

        &:hover {
          color: #FFF;
          background: $main;
          &:after {
            right: 0.7em;
            font-size: 1.3em;
            margin-top:-.2em;
          }
        }

      }

    }

    .clients {
      @include span-columns(12);
      position:relative;
      display:block;
      height: 350px;
      margin-top: 2rem;

      @include media($medium-screen-up) {
        @include span-columns(5 of 12);
        @include omega();
        margin-top: 5rem;
        height: 400px;
      }

      img {

        position: absolute;
        transition: opacity 4s;
        opacity:0;

        @for $i from 1 through 9 {
          &:nth-of-type(#{$i}) {
            @include transition-delay(0.15s * $i);
          }
        }


        &:nth-of-type(1) {
          top: 0;
          transition-delay: 0;
          left:3%;
        }

        &:nth-of-type(2) {
          left: 39%;
          top: 32%
        }

        &:nth-of-type(3) {
          top:65%;
          left:2%;
        }

        &:nth-of-type(4) {
          top:67%;
          right:0;
        }

        &:nth-of-type(5) {
          top: 3%;
          left: 35%;
        }

        &:nth-of-type(6) {
          top: 3%;
          right: 3%;
        }

        &:nth-of-type(7) {
          left: -2%;
          top: 36%;
        }

        &:nth-of-type(8) {
          right:5%;
          top: 33%;
        }

        &:nth-of-type(9) {
               left: 46%;
               bottom: 13%;
             }


      }

      &.shown {
        img {
          opacity:1;
        }
      }

    }

  }
}

.three-icon {
  position: relative;
  z-index:6;
  padding: 3em 0;
  background: $main url('/images/three_icon_bg.jpg') no-repeat center top;
  background-size: cover;

  .bar {
    position: absolute;
    top: 30%;
    left:0;
    transform: translateX(-100%);
    height: 10px;
    background: $secondary;
    width:100%;
    z-index:1;
    display:none;
    transition: all 1.5s ease-out;
    transition-delay: 50ms;

    @include media($medium-screen-up) {
      display:block;
    }

    &.shown {
      transform: translateX(0%);
    }
  }

  .three-inner {
    @include outer-container()
  }
  .item {
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      &:last-of-type {
        @include omega();
      }
    }


    color: #FFF;
    position:relative;
    z-index:2;

    h1 {
      text-align: center;
    }

    p {
      font-weight: 300;
      margin-top: 1em;
      font-size: 1.2em;
      margin-bottom: 1em;
    }



    .circle {
      margin: 1.5em auto 1.5em auto;
      position: relative;
      width: 80%;
      background: $secondary;
      padding-bottom: 80%;
      border-radius: 50%;

      img {
        @include center(true,true);
      }
    }

  }
}


.testimonials {

  .testimonials-inner {
    height: 400px;
    transform: rotate(11.5deg);
    background: #FFF;
    z-index: 5;
    width: 100%;
    /*cover up the background but don't affect the layout */

    .cover {
      content:'';
      height:100%;
      position: absolute;
      right: -15%;
      top:0;
      width:20%;
      background:#FFF;
      z-index: 5;
    }

    .content {
      @include outer-container();
      position: relative;
      height: 100%;
      transform: rotate(-11.5deg);

      .text {
        @include span-columns(12);

        padding: 4em 1em 0 0;
        @include media($medium-screen-up) {
          @include span-columns(6 of 12);
          padding-top: 3em;
        }


        h3 {
          font-weight: 300;
        }

        h1 {
          color: $secondary;
          margin: .4rem 0 1rem 0;
        }

      }

      .quotes-cont {
        @include span-columns(12);
        height:100%;
        padding: 4em 1em 0 1em;
        position: relative;

        @include media($medium-screen-up) {
          @include span-columns(6 of 12);
          padding-top: 6em;
        }

        &:before, &:after {
          position: absolute;
          font-size: 15rem;
          opacity: 0.2;
          font-family: $roboto;
        }

        &:before {
          content: '\201C';
          top: 3rem;
          left: -1rem;
        }

        &:after {
          content: '\201D';
          bottom: -6rem;
          right: -1rem;
        }

        li {
          @include center(true,true);
          list-style-type: none;
          font-size: 1.6em;
          line-height: 1.5em;
          letter-spacing: em(-.5);
          opacity: 0.8;
          display: none;
          width:80%;
          min-height:200px;
          font-family: $roboto;
          font-style:italic;
          font-weight: 300;

          @include media($small-screen) {
            margin-top: 3rem;
          }

          @include media($medium-screen-up) {
            font-size: 2em;
          }

          span {
            clear:both;
            display: block;
            font-size: 0.65em;
            opacity: 0.9;
            font-weight: 600;
            float:right;
            font-style:normal;
          }
        }
      }
    }
  }
}