/* What we believe styles */

#dark-content.wwb {

  .purpose-statement {
    margin-top: 1rem;
    font-size: 0.9em;

    .harvest {
      padding-left: 2.5rem;

      p {
        margin-top: 1rem;

        span {
          color: $main;
          font-size: 1.31em;
          padding-right: 1px;
        }
      }
    }

    > h5 {
      margin: 1rem 0;
      color: $main;
      text-align: center;
      padding-left:0;
    }

    > p {
      margin-top: 1rem;
    }

    .mission-statement {
      text-align: center;
      width: 80%;

      @include media($medium-screen-up) {
        width: 50%;
        margin: 0 auto;
      }

      p {

        &:before {
          display: none;
        }
        margin: 0;

        &:first-of-type {
          margin-bottom: 1rem;
        }
        &:nth-of-type(2) {
          text-align: left;
          padding-left: 30%;
        }

        &:nth-of-type(4) {
          text-align: right;
          padding-right: 27%;
        }
      }
    }


  }

}
