{% set canonical = domain + '/missions/international' %}
{% set pageName = "International Missions" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <h1 class="section-title large">
            <p>International Missions</p>
        </h1>

        <div class="opening-quote">
            <p>The King will reply, “Truly I tell you, whatever you did for one of the least of these brothers and sisters of mine, you did for me.”</p>
            <strong>Matthew 25:40</strong>
        </div>

        <div class="gcontent">
            <p>We believe that God calls us different places to serve. Some hear God calling them to the local community, others want to help in our nation’s urban communities, and yes, God does call people to leave our great nation to serve others far away for short and long term mission work. Our congregation believes that we should therefore provide an opportunity for the believer to serve at home or away, so each one can respond to God’s call. That is why we have developed this three-pronged mission emphasis.</p>

            <h2>Our Partner Missionaries:</h2>

            <h3>Rivers Of the World (ROW)</h3>

            <p>Based in Atlanta, this is an exploration, evangelism, and medical mission to the most remote rivers of the world. If few people or no one has traveled a remote river of the world chances are ROW already is serving the communities located on these rivers. We support ROW with volunteers, finances, and through our prayers.</p>

            <h3>San Estevan, Belize New Church Development</h3>

            <p>Guided by ROW, we began building a new church in this central American country soon after we moved into our building back in 2004. When we started raising money to build our first ministry and worship center we pledged to God that we would raise an additional 10% to build a church in another country for another congregation. God blessed us richly with financial resources so we could build the beautiful facility in LaGrange, and God blessed us just as richly so we could build the church in San Estevan, Belize. The people of the church in San Estevan have become our friends. We have sent a number of mission teams to Belize to build this facility, but are currently on hold due to internal mission conflicts with people in Belize. We are praying God will reopen those doors so we can finish and establish this congregation in this little community that we have come to know and love as we have worked with the people of the community to build the church.</p>

            <h3>Ministry to Muslim Countries</h3>

            <p>We have two Mission families that serve in Muslim countries. Due to security concerns their names cannot be listed. They come to visit our church to preach and teach on a regular basis and each time they are an amazing blessing as their courage and their witness inspires our faith. We support these missionaries through prayer and finances.</p>

            <h3>Elijah, Ellen, Josephine, and Elizabeth Ombati (Kenya, Africa)</h3>

            <p>This is a new mission partnership with a family that is based in Oldham County when they are in the United States, which is very rare. Elijah just got his US citizenship, and now they have just returned to Kenya to continue the work God called Elijah to do years ago to help care for and educate orphans in small communities near Nairobi, Kenya. We are going to share worship via skype with the Ombatis in the Spring 2015. We support the Ombatis through prayer and finances.</p>

            <h3>Jeremy and Luta Garbat-Welch & Jathniel (Malawi, Africa)</h3>

            <p>This young couple has recently been commissioned by the Presbyterian Church (USA) to serve in Malawi. Jeremy will be training chaplains to minister to the people of Malawi. Luta will be training nurses in Malawi and four other surrounding countries. The task to which they are called is very large, and we are excited about supporting this young and energetic couple. We are going to share worship via skype with the Garbat-Welchs in the Spring 2015. We support the Garbat-Welchs through prayer and finances.</p>

            <h3>International Mission Opportunities</h3>

            <p>We have responded to the call from God to take mission teams to San Estevan, Belize. We are always open to providing the opportunity for people to serve in short or long term mission work, and can facilitate that happening if anyone feels called by God to serve internationally. Speak to Pastor Earley to help find a way to answer any such call from God.</p>

            <h3>CAPS For the World</h3>

            <p>This ministry, formed in 2008, was started at our church after a presentation by Rivers of the World. ROW wanted toboggan style caps to give to adults and children around the world. Our church members make each toboggan by hand. To date, we have provided CAPS to the following countries: Dominican Republic, Honduras, Belize, Nicaragua, Venezuela, Peru, The Democratic of Congo, Afghanistan, India and Vietnam. We have also sent CAPS to local schools and shelters, Rotary Club’s “Coats For Kids” program, a health clinic in Michigan and Red Bird Mission (Appalachia). CAPS has provided knit hats for the South Oldham Ministerial Association Christmas Baskets for the past four years. Last year (2014), 400 CAPS were given out with the baskets. As of 2015 over 4,000 CAPS have been made to keep heads warm locally, nationally, and around the world.</p>
        </div>
    </section>
{% endblock %}
