{% set canonical = domain + '/fellowship' %}
{% set pageName = "Fellowship" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="fellowship">
        <h1 class="section-title large">
            <p>Fellowship</p>
        </h1>

        <div class="gcontent">
            <h3>Fellowship? Congregational Agape?</h3>

            <p>
               What do these mean and what do they have to do with one another? From the Greek word koinonia comes what we call fellowship. Koinonia connotes the ideas of <strong>participation, sharing, and contribution</strong>. <strong>Agape</strong> is the Greek word for <strong>love that is unconditional</strong>. Within the context of the church sharing, participating and contributing motivated by love (<strong>agape</strong>) creates true fellowship (<strong>koinonia</strong>).
             </p>

            <p>
               Congregational Agape ministry exists to promote and enhance the kind of fellowship that is an expression of unconditional love... love in action that provides opportunities for <strong>participation, sharing</strong> and <strong>contributions</strong> through fellowship after Sunday worship, congregational and bereavement meals, support of special events, and prayer meetings guided by the Holy Spirit.
             </p>
        </div>

        <div class="opening-quote">
            <h6>The intent is captured by the following verse:</h6>

            <p>Put on then, as God's chosen ones, holy and beloved, compassionate hearts, kind1c1 ness, humility, meekness, and patience, bearing with one another and, if one has a complaint against another, forgiving each other; as the Lord has forgiven you, so you also must forgive. And above all these put on love, which binds everything together in perfect harmony.</p>

            <strong>Colossians 3:12-14</strong>
        </div>

        <div class="gcontent">
            <h3>CONGREGATIONAL AGAPE ~ MARCH 2016</h3>
        </div>

        <div class="opening-quote">
            <p>Owe no one anything, except to love each other, for the one who loves another has fulfilled the law.</p>
            <strong>Romans 13:8</strong>
        </div>

        <div class="gcontent">
            <p>March is moving in and with it SPRING!!!! With spring comes Easter and celebration of the most powerful event in the history of the world!!! The resurrection of Jesus and our proof that all HE said, did and taught is true!</p>

            <p>Look forward to these events to participate in fellowship with one another this month:</p>
        </div>

        <ul class="list ">
            <li>
                <p>March TBA - Congregational Annual Meeting and Potluck (immediately after church)</p>
            </li>
            <li>
                <p>March 17 – Passover Feast led by John Weiner. This will be a full Seder Feast including supper. John led this celebration when we were in the building on Yeager Ave. For all who attended it was eye opening and faith building so I encourage you to sign up early. Word is spreading and Cub Scout and Classical Conversations families are looking to join us! The cost will be about $5, but watch for details in the bulletin.</p>
            </li>
            <li>
                <p>March 19 – Easter Egg Hunt and Brunch with teaching about Jesus using resurrection eggs. Registration begins at 9:00 with teaching at 9:30. Hunt begins @ 9:45 and Brunch will follow the finding and turning in of the plastic eggs at about. 10:30.</p>
            </li>
            <li>
                <p>March 20 – Palm Sunday</p>
            </li>
            <li>
                <p>March 21-25 - Holy Week Services at 12 noon with lunch following at the La Grange Christian Church.</p>
            </li>
            <li>
                <p>March 24 – Maundy Thursday service</p>
            </li>
            <li>
                <p>March 27 – Easter</p>
            </li>
        </ul>

        <div class="gcontent">
            <p>Come and join in fellowship with one another and the Holy Spirit on Tuesday mornings at 9:30 as we come together in prayer guided by the Holy Spirit. This is a new adventure in prayer! All are welcome!</p>
        </div>

        <div class="opening-quote">
            <p>Finally, all of you, have unity of mind, sympathy, brotherly love, a tender heart, and a humble mind. 9Do not repay evil for evil or reviling for reviling, but on the contrary, bless, for to this you were called, that you may obtain a blessing.</p>

            <strong>1 Peter 3:8-9</strong>
        </div>

        <div class="gcontent">
            <p style="text-align:center">Peace and Blessings, Martha Earley, Elder ~ Congregational Agape</p>
        </div>

        <div class="about-fellowship">
            <img src="/images/fellowship/marthaearley.png" alt="Martha Earley's family" />

            <p>
                <p>Martha Earley is married to Al Earley (34 years), mother to four children, grandmother to six grandchildren. Part time veterinarian assistant, she loves animals and seems to have a menagerie which currently includes two collies, four chickens, and one cat. Growing in prayer, reading and meditating on scripture while gardening or sitting beside the fire, hiking and family gatherings are among her favorite activities.</p>

                <p>Pictured are husband, Al, youngest daughter, Danielle, and Martha.</p>
            </p>
        </div>
    </section>
{% endblock %}
