@import "normalize.scss/normalize.scss";

// Bring on the Bourbon, Neat, Bitters, Chasers, and Garnish it
@import "recipes/bourbon/app/assets/stylesheets/bourbon";
@import "recipes/neat/app/assets/stylesheets/neat";
@import "ingredients/topshelf/topshelf"; //Top Shelf is where we import Bitters and Grid Variables. Refills can also be enabled for global use here.
@import "recipes/chasers/src/chasers";
@import "recipes/garnish/src/garnish";

// Import Ingredients - Our main stylesheets + repeated styles used for sections
@import "ingredients/ambiance";
@import "ingredients/structure";
@import "ingredients/pageoverlay";
@import "ingredients/universalelements";
@import "ingredients/header";
@import "ingredients/footer";
@import "ingredients/navigation";
@import "ingredients/flyouts";
@import "ingredients/masthead";
@import "ingredients/lists";
@import "ingredients/openingquote";
@import "ingredients/breadcrumbs";
@import "ingredients/calendar";
@import "ingredients/buttons";

// Import Specials - our individual page styles;
@import "specials/index";
@import "specials/pastorsarticles";
@import "specials/whatwebelieve";
@import "specials/ministryteams";
@import "specials/fellowship";
@import "specials/contact";
@import "specials/heartofthefather";


/*
.video {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 25px;
   height: 0;
   margin: 0 0 1.5rem;
}

.video__frame {
   position: absolute;
   top: 0;
   left: 0;
   width: 670px;
   height: 100%;
   border: 0;
}

.chat__frame {
   float: right;
   position: relative;
   top: -40px;
   left: 0px;
   width: 290px;
}
*/

.full-container {
   width: 100%;
   position: relative;
   padding: 0 15px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;

   /* 600px */
   @media screen and (min-width:37.5em) {
      padding-left: 30px;
      padding-right: 30px;
   }

   @media screen and (min-width: 1200px) {
      width: 1200px;
      left: calc(62.5em - 1120px);
   }

   @media screen and (min-width: 1480px) {
      width: 1400px;
      left: calc(62.5em - 1200px);
   }
}


.video {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   padding-top: 25px;
   height: 0;
   margin: 0 0 1.5rem;
   box-sizing: border-box;
}

.video__frame {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}

.video-chat-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   position: relative;


   @media screen and (min-width:62.5em) {

   }

   &__vid {
      width: 100%;

      @media screen and (min-width:62.5em) {
         width: 70%;
      }
   }

   &__chat {
      display: none;

      @media screen and (min-width:62.5em) {
         display: block;
         width: 30%;
         padding-bottom: 39.5%;
      }
   }
}


.vid-playlist {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   position: relative;
   box-sizing: border-box;

   &__vid-container {
      width: 100%;

      @media screen and (min-width:62.5em) {
         width: 70%;
      }
   }

   &__list-container {
      width: 100%;
      overflow-y: scroll;
      max-height: 300px;

      @media screen and (min-width:62.5em) {
         width: 30%;
         max-height: 552px;
      }
   }
}

.video-menu {
   list-style: none;
   margin: 0;
   padding: 0;
   background: #222;

   &__item {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      &--selected {
         background: lighten(#222, 10%);
      }
   }

   &__btn {
      display: block;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      padding: 10px 15px;
      transition: all 200ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
         background: lighten(#222, 10%);
      }

      > * {
         pointer-events: none;
      }
   }

   &__thumb {

   }

   &__title {
      padding-left: 15px;
   }
}

.clear {
   display: table;
   content: '';
   clear: both;
}
