{% set canonical = domain + '/fireworks' %}
{% set pageName = "Fireworks tent" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="biblestudy">
        <h1 class="section-title large">
            <p>Fireworks tent!</p>
        </h1>

        <div class="gcontent">
            <h3>We NEED your help!</h3>

            <p>It's that time of year the fireworks tent fundraiser is coming up! This year it will be a fundraiser for the whole church instead of just the youth group.</p>
            <p>We will set up June 22 and clean up July 5. Please spread the word and encourage people to buy their fireworks at our tent in the Walmart parking lot.</p>
            <p>Also, we NEED your help at set up and clean up on June 22 and July 5, working the tent during the day or watching at night and most of all we need prayer for the tent for success and protection.</p>
            <p>If you are interested in signing up you can use <a href="https://www.signupgenius.com/go/70A0B4BA4AC2AA1F94-fireworks"> Signup Genius (https://www.signupgenius.com/go/70A0B4BA4AC2AA1F94-fireworks)</a> or contact Jamie Wilson at Jamie@jadamwilson.com or in church.</p>
        </div>
    </section>
{% endblock %}
