{% set canonical = domain + '/whatwebelieve' %}
{% set pageName = "What We Believe" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="wwb">
        <h1 class="section-title large">
            <p>WHAT WE BELIEVE</p>
        </h1>

        <ul class="list large">
            <li>
                <p>
                   We believe that Jesus Christ is the Lord and Savior of all, and each person needs to enter into a personal relationship with Him to experience forgiveness of sin and eternal life in Heaven. (Romans 10:9-10)
                </p>
            </li>
            <li>
                <p>We believe in the Trinity. We believe that God has revealed Himself to us as one God, experienced in three persons: Father, Son, and Holy Spirit. (Matthew 28:19)</p>
            </li>
            <li>
                <p>We believe the Bible is the inspired and infallible Word of God (II Timothy 3:15-17).</p>
            </li>
            <li>
                <p>We believe that all humans sin and that separates us from God, and we can't save ourselves from our sins. Therefore, all people need a savior, who is Jesus Christ. (Romans 3:23)</p>
            </li>
            <li>
                <p>
                   We believe that each Christian, upon confession of faith in Jesus Christ, experiences the indwelling of the Holy Spirit, who gives us spiritual gifts to build up His church. The Holy Spirit is the power of the church to do God's miraculous works in the world. (John 14:12)
                </p>
            </li>
            <li>
                <p>We believe that we are called to live in the world, but are not of the world so that we can make a Christian impact on the world through witness and missions. (John 17:15-17)</p>
            </li>
            <li>
                <p>The LaGrange Presbyterian Church Purpose Statement:</p>

                <div class="purpose-statement">
                   To equip Christians to be Disciples for Jesus Christ, and help Jesus bring in the HARVEST. The attributes of the Christian who wants to be a harvester for Christ include:

                    <div class="harvest">
                        <p><span>H</span>umility</p>
                        <p><span>A</span>gape love</p>
                        <p><span>R</span>esponsibility for others</p>
                        <p><span>V</span>ow to worship</p>
                        <p><span>E</span>vangelism</p>
                        <p><span>S</span>ervice</p>
                        <p><span>T</span>rained Disciples</p>
                    </div>

                    <h5>Our Mission Statement:</h5>

                    <div class="mission-statement">
                        <p>Called by God to Sow Seeds wherever Christ leads,</p>
                        <p>Locally,</p>
                        <p>Nationally,</p>
                        <p>Internationally.</p>
                    </div>
                </div>
            </li>
            <li>
                <p>We believe in the Sacraments</p>
            </li>
            <li>
                <p>We are guided by a representative form of government, led by elected elders who serve three year terms on the session. Biblical interpretations, ideas, and opinions can be shared by everyone. The majority rules on all matters that are brought to a vote at session meetings and congregational meetings and voted on by members. The PC (USA) uses the call system for pastors, where a pastor can stay at a church for as long as the congregation and the pastor agree that the pastor is called by God to the church.</p>
            </li>
        </ul>
    </section>
{% endblock %}
