{% extends '_layouts/redirect.njk' %}

{% block custom_meta %}
   {# These custom <meta> tags are specific to this particular redirect page. #}
   {# Its destination URL, in particular, has 'noindex' in its metas. #}
   {# Hopefully this will silence Google Search Console. #}
   {# Issue is "Excluded by ‘noindex’ tag" #}
   {# https://support.google.com/webmasters/answer/7440203#blocked_by_noindex_tag #}
   <meta name="googlebot" content="noindex, nofollow">
   <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% set url = "https://teams.microsoft.com/l/meetup-join/19%3acd297d7d2c3e4deba72799ecc835dc84%40thread.tacv2/1604454041909?context=%7b%22Tid%22%3a%22c69cfdb4-a4eb-415c-9459-606136d5a37d%22%2c%22Oid%22%3a%228a125954-fce5-4b8a-b102-b58919ab10f1%22%7d" %}
