{% set canonical = domain + '/ministryteams' %}
{% set pageName = "Ministry Teams" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="ministryteams">
        <h1 class="section-title large">
            <p>MINISTRY TEAMS</p>
        </h1>

        <ul class="list ">
            <li>
                <a href="/ministryteams/worship">Worship Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/missions">Missions Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/evangelism">Evangelism Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/finance">Finance Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/buildinggrounds">Building & Grounds Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/youth">Youth Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/christianeducation">Kids of the Kingdom Ministry Team</a>
            </li>
            <li>
                <a href="/ministryteams/smallgroups">Small Groups Ministry Team</a>
            </li>
        </ul>
    </section>
{% endblock %}
