{% set canonical = domain + '/resources/spiritual-gifts' %}
{% set pageName = "Spiritual Gifts Inventory" %}
{% set downloadPDF = "/resources/spiritual-gifts/inventory.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{pageName}}</h1>
            <p>You have just begun a process of discovering your spiritual gift(s).  As you reflect on the gift(s) you have identified through the <a href="{{ downloadPDF }}" download>Spiritual Gifts Discovery Survey/Analysis (Download)</a>, you should now try to determine which ones truly are, or are not, your gifts.  To assist you in doing that, follow the five steps below.</p>
            <h2>Explore The Possibilities</h2>
              <p>Read and study further the three key chapters in the Bible dealing with spiritual gifts (Romans 12, 1 Corinthians 12, Ephesians 4).  Study the Scripture references and definitions of each of the gifts.  Read additional in-depth literature written about the gifts.  Learn what the gifts are, what characterizes them, and how they function in the Body of Christ so that you can have things concrete to look for as you move ahead.</p>
            <h2>Experiment With Different Gifts</h2>
              <p>The Spiritual Gits Discovery Survey/Analysis which you recently completed helped you to identify and understand certain gifts.  Your feelings, reaction and general impression concerning the gifts were measured as you reacted to the statements.  Now you need to begin experimenting further with the gifts you pinpointed in the Survey.  Unless you do this, you will have a difficult time knowing whether you really have the gifts you identified or not.  The key is to get involved in ministry activities that allow you to try out these gifts.</p>
            <h2>Examine Yourself</h2>
              <p>Since God has assembled the Body, it follows that you should experience fulfillment when you are ministering in ways in which you are gifted to minister.  Thus, it is a good sign if you enjoy using a particular gift.  If, however, you dislike the ministry activities associated with a certain gift, it is possible that you do not actually have that gift.  It is important that you take time to reflect on how your experience when you use the gifts you have identified.  Pray for the Holy Spirit’s help as you do this.</p>
            <h2>Evaluate Your Effectiveness</h2>
              <p>Each gift is designed by God to accomplish ministry by building up the Body of Christ.  Since spiritual gifts are task-oriented and functional, you should see appropriate results as you use your gifts.  If you do not see positive results when using a particular gift, you may not have that gift.  But it could be that it may take more time to develop the gift or for you to learn to use it effectively.  As you evaluate your effectiveness, pray for the courage to be honest with yourself and God.</p>
            <h2>Expect Confirmation From The Body</h2>
              <p>Gifts are given to build up the Body and benefit others.  If you truly have a gift and are using it properly, other members of the Body will recognize this and confirm it to you.</p>
            <p>THROUGH PRAYER, THE LORD WILL LEAD YOU TO ACCURATE DISCOVERIES OF YOUR GIFT(S). ALLOW HIM TO GUIDE AND DIRECT YOU IN THIS IMPORTANT TASK.</p>
            
    </section>
{% endblock %}
