{% set canonical = domain + '/prayer-book' %}
{% set pageName = "Prayer Book" %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div id="dark-content">
      <div class="text-center gcontent">
         <h1 class="section-title large">
          Prayer Book
         </h1>

         <p>
            <strong>
               <u>An Invitation to Pray</u>
            </strong> by Al Earley and Lauren Rittman
         </p>

         <p><em>"A co-written book on all the various ways to pray and how you can start today. At the end of the book is a valuable 30-day prayer experiment."</em></p>

         <a class="button primary" style="display:inline-block" href="/resources/an-invitation-to-learn-to-pray.pdf" target="_blank">Download Prayer Book</a>

      </div>
      <div class="gcontent">
         <h5>Contents</h5>
         <ol>
            <li>
               <a href="#learntopray">You are Invited to Learn to Pray &ndash; page 1</a>
            </li>
            <li>
               <a href="#actsincommunion">ACTS IN Communion &ndash; page 2</a>
            </li>
            <li>
               <a href="#freeflowprayer">Free Flow Prayer &ndash; page 6</a>
            </li>
            <li>
               <a href="#godsvoice">How do You Know If It Is God&rsquo;s Voice? &ndash; page 10</a>
            </li>
            <li>
               <a href="#prayerevangelism">Prayer and Evangelism &ndash; page 11</a>
            </li>
            <li>
               <a href="#ourstories">Our Personal Stories &ndash; page 11</a>
            </li>
            <li>
               <a href="#thirtydays">Thirty-Day Prayer Experiment &ndash; page 13</a>
            </li>
         </ol>

         <p>Copyright Information: Al and Lauren give full permission to reprint or quote any part or the whole of this document. All we ask is that you email us with how you used it, and share victories with both of us as God blesses you. (email Al at <a href="mailto:pastorearley@bellsouth.net" target="_blank">pastorearley@bellsouth.net</a>, Lauren at <a href="mailto:allpurposegluestick@yahoo.com" target="_blank">allpurposegluestick@yahoo.com</a>
         </p>

         <h4 id="learntopray">Chapter One: You are Invited To Learn to Pray</h4>
         <p>Throughout the Bible God calls His people to learn to pray to Him. This is an amazing invitation from the creator of the universe. One would think that our all-knowing, all-seeing, all-powerful, and infinite God would have more important things to be concerned with than entering into conversation with us, but the Bible makes it clear that the most important thing to God is our relationship with Him.</p>
         <p>In Matthew 6:5-13 God&rsquo;s son, our Lord Jesus Christ is teaching the people how to pray. If the Son of God is teaching people how to pray it must be important. He teaches things like pray in private so you don&rsquo;t draw attention to yourself, don&rsquo;t ramble on and on babbling about things that don&rsquo;t matter, and then He gives the disciples the Lord&rsquo;s Prayer, as an example of how to pray. It is not the only example, nor is Jesus trying to teach us everything we need to know about prayer in this small teaching.</p>
         <p>In Luke 6:12-16 Jesus goes away by Himself to pray all night so God can show Him who the disciples should be. There are numerous times Jesus went on prayer retreats to gain strength, wisdom and insight into the will of God (e.g. Matthew 4:1-11, <a href="http://www.jesuscentral.com/ji/life-of-jesus-ancient/biography-of-jesus-christ/who-is-Jesus-by-mark/gospel-of-mark-1_35-39.php">Mark 1:35</a>, <a href="http://www.jesuscentral.com/ji/life-of-jesus-ancient/biography-of-jesus-christ/who-is-Jesus-by-mark/gospel-of-mark-6_45-56.php">Mark 6:45-46</a>, <a href="http://www.jesuscentral.com/ji/life-of-jesus-ancient/biography-of-jesus-christ/who-is-Jesus-by-luke/gospel-of-luke-5_12-16.php">Luke 5:16</a>). If the Son of God needed time to pray with His Heavenly Father how much more should we be motivated to do the same.</p>
         <p>Through the course of this booklet we hope we can open up to you the glory and power of prayer, so you can experience the amazing faith journey God has for you. We must learn to pray to become the mature disciple God desires each of us to become so that our relationship with God is everything God hopes it will be. This book teaches the basics of prayer. We have two models for you to choose from starting out. We strongly recommend you make a commitment to try both models sometime soon in your prayer journey. We both agree our prayer lives were greatly enhanced by practicing both models. If you are an organized, nuts and bolts kind of person then you will probably find ACTS In Communion to be the more fruitful prayer model starting out. It will take you 3-6 hours to do this model thoroughly. When you think about what you are trying to accomplish that is not very long.</p>
         <p>The second model is for the person who is less structured, and more comfortable with what we call &ldquo;Free Flow&rdquo; prayer. Free-Flow Prayer is for people who enjoy less structure and like to let their minds flow with pictures, sounds, and colors. If you think best in a spider-web pattern where ideas branch off into other ideas then, most likely, this type of prayer will be easy for you.</p>
         <p>This is our promise. If you will commit thirty days with a prayer partner to learning to pray we can almost guarantee you will learn how to pray. We can also guarantee it will change your life of faith. You will see, hear, and experience the presence of God in your life in a whole new way. May God bless you beyond your wildest imagination in the next thirty days.</p>

         <h4 id="actsincommunion">Chapter Two: ACTS IN Communion</h4>
         <p>I (Al) learned to pray with the help of this simple acronym that reminds us what the six basic prayers of the Christian are. There is much more the Bible teaches us about prayer. It is always necessary to start with the basics, the fundamentals. Like an athlete who excels because they have completely mastered the fundamentals, the Christian needs to understand some basic prayers before s/he can grow as a mature disciple of prayer.</p>
         <p>Here are the simple definitions of these six basic prayers. There will also be challenging prayer exercises to help you improve your understanding of prayer in each of these areas. The following is a simple summary of each of the six basic prayers.</p>
         <p>
            <strong>A</strong>doration &ndash; praising God for <u>WHO</u> God is. Lift up God&rsquo;s greatness, love, and spectacular creation.</p>
         <p>
            <strong>C</strong>onfession &ndash; confessing our specific sins and actions that are contrary to God&rsquo;s will.</p>
         <p>
            <strong>T</strong>hanksgiving &ndash; Counting all our blessings to celebrate how truly blessed we are.</p>
         <p>
            <strong>S</strong>upplication &ndash; prayers for yourself, that you will have strong faith and other personal needs you have.</p>
         <p>
            <strong>In</strong>tercession &ndash; prayers for others, their health, their work, their family, and their faith.</p>
         <p>
            <strong>C</strong>ommunion &ndash; quiet time when we listen for God&rsquo;s still small voice.</p>
         <h5>Adoration</h5>
         <p>It is important to make a distinction between prayers of Adoration and prayers of Thanksgiving. Prayers of Adoration thank God for WHO He is, while prayers of Thanksgiving thank God for what He has done in our lives. The Psalms give us the greatest examples of prayers of Adoration. We need to learn to praise God and adore Him no matter what is going on in our lives. God is always God, and always worthy of all praise, no matter what is going on in our lives, and no matter whether we feel thankful or not.</p>
         <p>This is often one of the most neglected prayers because we think we are praising God when we are thanking Him. We neglect our praise of God no matter what at our own peril. Life is hard, and it is often not fair. That is because we live in a fallen world since Adam and Eve were banished from the Garden of Eden. If we let the difficulty and unfairness of life diminish our adoration of God then our faith will always be fragile, and our prayer life shallow whenever life gets hard. If we can learn to praise and adore God no matter what is happening in our lives, we will have a powerful faith and prayer life that God will want to use to change the world around us for Jesus Christ.</p>
         <p>An Adoration Prayer Exercise: Study the following Psalms and write down all the things the Psalmist is praising God for: Psalm 8, Psalm 24, Psalm 100, Psalm 139.</p>
         <p>
            <strong>A. Memorize one of these Psalms or any other Psalm of Praise and Adoration.</strong>
         </p>
         <p>
            <strong>B. Once you have memorized a Psalm use it to pray your Prayer of Adoration. Lift up all the things you wrote down while studying the other Psalms. Anytime today go for a walk and pray your memorized Psalm as you adore God, who loves you.</strong>
         </p>

         <h5>Confession</h5>
         <p>Most people know they are sinners, but few people can name more than one or two sins that they think they struggle with. Yet, it is important for us to know what sins we struggle with in life for at least three reasons. First, satan knows what our sins are and uses them against us every chance he gets (note: we do not capitalize satan&rsquo;s name because he doesn&rsquo;t deserve it). If we don&rsquo;t know what our sins are then we will rarely understand how satan is manipulating us where we are easily tempted, thus able to destroy our marriages, families, and steal our joy in life.</p>
         <p>Second, when we begin to realize how weak, fragile, and sinful we are we will begin to realize how badly we need a savior, who is Christ the Lord! The first-time I (Al) had a sense of how much my life was gripped by sin was the first time I realized how bad I needed a savior, and what a precious gift Jesus is to me. He is the greatest gift we have ever been given.</p>
         <p>Third, when I fell on my knees and asked Jesus to forgive me of my sins I was overwhelmed by His love, forgiveness, and grace. That was one of the most precious, unforgettable moments of my life.</p>
         <p>Most people struggle with learning how sinful they are. It is not easy, and you won&rsquo;t feel good about it. This is not a &ldquo;feel good&rdquo; exercise. It is an exercise that will change your life, strengthen your faith in Jesus your Savior, and help you to understand the cross of Christ in ways you have never understood before. Don&rsquo;t be afraid.</p>
         <p>
            <strong>The Humility Exercise &mdash; Carefully study each scripture.</strong> Make sure you write down any sins the exercise exposes. Most cannot remember all the sins that are exposed. It is crucial that you make a list so you can deal with them in the days, months, and years to come. Once you have finished get on your knees (in front of a cross if one is available), and confess your sins. Then, most important, thank Jesus for His great mercy, that all your sins are forgiven. (Note: Jesus has forgiven all your sins, don&rsquo;t forget to forgive yourself!!!)</p>
         <h6>Ephesians 4:25- 32:</h6>
         <p>
            <strong>Vs. 25: Therefore each of you must put off falsehood and speak truthfully to your neighbor, for we are all members of one body.</strong>
         </p>
         <p>Do you ever lie? Exaggerate? Do you fai to see &ldquo;little white lies&rdquo; as sin? Do you tell things the way you want them rather than the way they really are?</p>
         <p>
            <strong>Vs. 26: In your anger do not sin, do not let the sun go down while you are still angry</strong>
         </p>
         <p>Are you angry with yourself? Others? God? Does it seem like you hold on to your anger for days? Weeks? Years?</p>
         <p>
            <strong>Vs. 27: and do not give the devil a foothold.</strong>
         </p>
         <p>Do you fail to see that you are a &ldquo;landing strip&rdquo; for satan when you open your mind to him through transcendental meditation, new age teachings, eastern mysticism, psychic predictions, occult literature, and violent, sex-driven movies? Do you get advice for daily living from horoscopes rather than from God? Do you let satan use you to thwart the cause of Christ in your church through criticism, gossip, and non-support?</p>
         <p>
            <strong>Vs. 28: Anyone who has been stealing must steal no longer, but must work, doing something useful with their own hands, that they may have something to share with those in need.</strong>
         </p>
         <p>Do you steal from your employer by doing less work, staying on the job less time than you are paid for? Do you &ldquo;pad&rdquo; your expense account? Are there any others you cheat and then justify because you think they somehow cheat you?</p>
         <p>
            <strong>Vs. 29: Do not let any unwholesome talk come out of your mouths, but only what is helpful for building others up according to their needs, that it may benefit those who listen.</strong>
         </p>
         <p>Do you ever use filthy language, tell slightly off-color jokes? Do you condone others doing so in your presence, in your home?</p>
         <p>
            <strong>Vs. 30: And do not grieve the Holy Spirit of God, with whom you were sealed for the day of redemption.</strong>
         </p>
         <p>Do you doubt God will do miracles in your life through His Holy Spirit? Do you struggle with the cynicism and skepticism of the world toward the truth of scripture? How are arrogant? Do you prefer to do your will over the will of God? Have you ever said &ldquo;no&rdquo; to God?</p>
         <p>
            <strong>Vs. 31: Get rid of all bitterness, rage and anger, brawling and slander, along with every form of malice. </strong>
         </p>
         <p>Do you complain, find fault, and argue? Do you have a critical spirit? Do you carry a grudge against Christians of another group because they don&rsquo;t see eye to eye with you on all things? Do you speak unkindly about people when they are not present? Are you angry with yourself? Others? God?</p>
         <p>
            <strong>Vs. 32: Be kind and compassionate to one another, forgiving each other, just as in Christ God forgave you.</strong>
         </p>
         <p>Have you failed to forgive anybody anything they might have said or done against you? Have you turned certain people off? Are you holding grudges? Do you get caught up in asserting your rights?</p>
         <p>(Note: This is an abbreviated Humility Exercise. If you would like to go deeper into humbling yourself and thwarting satan&rsquo;s attempt to use temptation and sin against you contact Al at <a href="mailto:pastorearley@bellsouth.net" target="_blank">pastorearley@bellsouth.net</a> to receive a longer version of the Humility exercise.)</p>

         <h5>Thanksgiving</h5>
         <p>Prayers of Thanksgiving thank God for all God has done for us, and all the blessings we have received.</p>
         <p>I Thessalonians 5:18 says, &ldquo;Give thanks in all circumstances; for this is the will of God in Christ Jesus for you.&rdquo; When we actually have a list of all the blessings God has showered down upon us, and then take time to thank God every day for all those blessings we will find more joy in life, especially in times when life is not going so well.</p>
         <p>For example, if we thank God every day for our spouse our love for our spouse will grow stronger and stronger. When life gets hard, and marriage becomes difficult we will have gotten so good at thanking God for our spouse that we will often see those marital struggles as bumps in the road to be worked through, unafraid that they could lead to barriers that can threaten our marriage.</p>
         <p>Prayer Exercise for Prayers of Thanksgiving: Make a list below of all the blessings God has given you. Memorize this list so you can count your blessings everyday for the rest of your life. It will change your outlook on everything if you do this.</p>
         <ol>
            <li>Blessings of faith:</li>
            <li>Blessings of family:</li>
            <li>Blessings of material possessions:</li>
            <li>Blessings of health, talents, and personality traits:</li>
            <li>Blessings of being an American citizen:</li>
         </ol>
         <p>Now that you have your list pray through it and thank God for all these blessings. Were you surprised at how many blessings you have? Most people are. Again, if we realize how many blessings shower down upon us everyday, it will make it a whole lot easier to get through those times when life is hard and unfair.</p>

         <h5>Supplication</h5>
         <p>People often ask if it is OK to pray for yourself. Absolutely!!! Jesus did. It is not easy to do God&rsquo;s will. It is not easy to stand up for our faith when the world is skeptical and cynical. God wants to hear us lift up our prayers for our self so we can be guided by Him to pray the right prayers, and grow closer to God as our friend.</p>
         <p>This exercise is designed to help you become more loving. We read in I John 4:8 that God is love. There are no better prayers for our self that we can pray than to let God guide us to be more loving.</p>
         <p>(Note: Like the Humility Exercise, this can be a difficult exercise because it will probably reveal things about your sin life you don&rsquo;t want to face. Do not be afraid. God wants you to come to Him and pray so He can make you better. Remember, God loves you too much to leave you where He finds you!)</p>
         <p>
            <strong>Read through I Corinthians 13</strong>
         </p>
         <ul>
            <li>Replace the word &ldquo;love&rdquo; with your name in I Corinthians 13:4-8. Carefully go through each verse and write down all your feelings, thoughts, celebrations, and concerns about how loving you are.</li>
            <li>What does it mean to confess Jesus the Lord of your life?</li>
            <li>What does it mean to confess Jesus as the Savior of your life?</li>
            <li>Confess your faith in Jesus Christ as your Lord and Savior. Make a commitment to pray this prayer, &ldquo;Jesus Christ, you are my Lord and Savior. I Trust You with my life,&rdquo; every day for the rest of your life. How would this Prayer of Supplication change your life if you made it a daily prayer?</li>
            <li>Are there any limits on the power God can grant through our prayer?</li>
         </ul>

         <h5>Intercession</h5>
         <p>Why do we pray for others to a God who is all-knowing and all-powerful? In Luke 23:34 Jesus prayed, &ldquo;Father, forgive them; for they do not know what they are doing.&rdquo; We pray because prayer opens up the floodgates of God&rsquo;s infinite grace and power to flow toward the person in need. God can act without prayer, but He chooses to operate within the boundaries of human will and invitation. He allows us to participate in His work on earth with each prayer.</p>
         <ul>
            <li>On a sheet of paper make four columns. In the first column put the date of the prayer request. The second column is for the list of all the people you need to be praying for. List who asked you to pray for them in the next column. Leave plenty of room in the last column to fill in how God answered your prayer.</li>
            <li>Also, pray through the prayer list in the church bulletin. Pray through the church&rsquo;s directory. Pray for the Pastor and his family.</li>
            <li>When you say you are going to pray for someone make sure you do it. Write down the date, their name, etc. and then pray your intercessory prayers with the firm belief that God will answer &ldquo;Yes&rdquo; to most of our prayers, that He must answer &ldquo;No&rdquo; to some of our prayers because there are things we simply cannot understand in the complexity of people&rsquo;s lives, and other times God will answer, &ldquo;Maybe&rdquo; or &ldquo;Not Yet.&rdquo; If you keep a journal of answered prayer you will be astounded by the results over time.</li>
         </ul>

         <h5>Communion with God</h5>
         <p>This is quiet time when we sit and listen for God&rsquo;s voice of &ldquo;sheer silence,&rdquo; &ldquo;gentle whisper,&rdquo; or &ldquo;still small voice.&rdquo; This Hebrew phrase is translated differently from the text from I Kings 19:11-13 (selected) (God) said, &ldquo;Go out and stand on the mountain before the LORD, for the LORD is about to pass by.&rdquo; Now there was a great wind.., but the LORD was not in the wind; and after the wind an earthquake, but the LORD was not in the earthquake; and after the earthquake a fire, but the LORD was not in the fire; and after the fire a sound of <strong>sheer silence</strong>. When Elijah heard it, he wrapped his face in his mantle and went out and stood at the entrance of the cave. Then there came a voice to him that said, &ldquo;What are you doing here, Elijah?&rdquo; We know God still talks to people? Think about some of barriers that you have encountered to hearing the voice of God.</p>
         <ul>
            <li>What are barriers to having quiet time with God?</li>
            <li>What helps to prepare us for quiet time and listening for God?</li>
            <li>How do we know if we have heard God&rsquo;s voice or are just listening to our own desires and wishes?</li>
         </ul>
         <p>Listening Prayer Exercise: Think of a question you would like God to answer. Write it down, and then pray that question to God. Sit quietly and listen for God&rsquo;s gentle whisper to your soul. Deep within your soul God whispers an insight, plants the seed of a new thought, or moves your mind to something you have never thought of. Write down everything that comes to your mind. Do this for 3-5 minutes.</p>
         <p>Carefully look at the answers you wrote down. Is there an answer you know was from God? If you aren&rsquo;t sure try the following test. God usually gives us answers that somehow surprise us, or we are certain are not what we were thinking, or seem very creative. Apply these tests to your responses and see if you are not clearer on what you wrote down that was from God, and what was from your own mind.</p>
         <p>Repeat the exercise two or three times with new questions, and see if you don&rsquo;t get better at recognizing God&rsquo;s voice. The more you do this the better you will get at listening for the voice of God for your life. With practice, you can learn which of those voices is God&rsquo;s and which is your own conscious. See How do You Know If It Is God&rsquo;s Voice?, page 11 for more insights into discerning what is from God&rsquo;s will.</p>

         <h4 id="freeflowprayer">Chapter Three: Free-Flow Prayer</h4>
         <p>Free-Flow Prayer might be easier for those who think of themselves as visual, colorfully minded, and creative people who do well without guided structure (nuts &amp; bolts of prayer as taught above). If you think best in a spider-web pattern where ideas branch off into other ideas then, most likely, this type of prayer will be easier for you. What is so beautiful about Free-Flow Prayer is that I (Lauren) don&rsquo;t have to set any agendas, timed guidelines or make rigorous notes. Free-Flow does what it says...it flows easily into my daily life. You can use these methods in the office, break room, house, car and backyard. Anyplace or anytime can quickly become a sacred space of prayer. God is everywhere and in all things.</p>
         <p>In this section, there are six different types of Free-Flow Prayer. However, there could be more that are out there. These prayer strategies can be used all together, one at a time or in groups. The most important rule of thumb for &ldquo;Free-Flow-ers&rdquo; is to let prayer happen as often as you can and in any situation. Each type of Free-Flow Prayer will include examples, how-to section, and how God answers/responds.</p>
         <p>
            <strong>Ephesians 6:18</strong> &ldquo;And pray in the Spirit on all occasions with all kinds of prayers and requests. With this in mind, be alert and always keep on praying for all the Lord&rsquo;s people.&rdquo; (see also 1 Thessalonians 5:16-22, John 15:5-7, Luke 18:1-8 and Mark 1:35)</p>
         <h5>1. Visual Prayer</h5>
         <p>
            <strong>What is it?</strong>
         </p>
         <p>We have so many movies and images of Jesus and God that we most certainly have our &ldquo;favorite&rdquo; version of Him in our minds. For visual people imagining that they are right next to Jesus, or in the throne room of God is the best way for them to begin praying.</p>
         <p>
            <strong>Examples:</strong>
         </p>
         <p>I have a few places where I meet the Lord to pray. These &ldquo;places&rdquo; are in my mind and I know they are safe and welcoming for me to freely talk to the Lord. I have imagined the throne room of God in Heaven. I think about the floor, the walls, the air, smells, lights and sounds. Most of my images are grounded in scripture. Revelation has beautiful descriptive language for visualizing the Heavenly places. When I begin to pray, I visualize clouds that go on for days and a golden setting sun in the far distance. Clouds softly glow with pinks, oranges and deep purple. I kneel on solid-crystal-clear gold tiles that line the floor of the room. Up on a small rise are the three thrones of the Trinity. God lets me see a picture of each person of the Trinity that reveals His mystery and majesty. When I am in the throne room I am always kneeling. Sometimes I sing, talk or cry.</p>
         <p>Another way to visually imagine a place for you and the Lord is to think of a safe place you know. I grew up in the Alps of Germany and have always felt at peace with the Mountains. I go to meet Jesus in a valley of lush, thick grass surrounded by tall snow-capped mountains. I take my shoes off and run towards a weeping willow tree near the center of the valley. There is a stone bench under the tree and Jesus sits there waiting to talk to me. When I am with him, he turns to face me and patiently listens to everything I say. It is just me and Him in our place. Sometimes these pictures are quite vivid with amazing details God shows me about my safe place and Jesus&rsquo; presence, and sometimes they are simpler. It is important not to compare, and to be free of expectations. Desire what God wants to give you, and give thanks for that.</p>
         <p>
            <strong>Praying Free Flow Visual Prayers: </strong>
         </p>
         <p>As in all prayer, it is important to remove distractions like phones and computers. Close your eyes, and steady your breath. Ask the Lord to show you a safe place. You may get an image or you may not. If you don&rsquo;t then think of a place you would feel safe in. The place can be real or imaginary. Some people start with just a couch or a feeling of temperature. Now spend some time looking around and getting comfortable in your safe place. What does the room or place look like? What is the weather? What makes it safe? Once you have created this safe place then ask Jesus to meet you there. Most people will see Jesus appear, walk in, or hear him. The first thing you should always do when you are at this point is ask this question: Jesus, what do you have to say to me? For some this can be a seriously nervous question to ask the Savior of the World. I can assure you, the answer will be exactly what you need to hear. After this initial greeting, talk to Jesus as if he was sitting right next to you. He is so hungry and eager to talk to you. Take time to listen to him answer you and speak to your heart.</p>
         <p>
            <strong>God&rsquo;s response:</strong>
         </p>
         <p>In most cases, the people who practice this type of Free-Flow Visual Prayer hear in their mind the voice of the Lord. Some say Jesus&rsquo; mouth moves but others say they just &ldquo;know&rdquo; what he said. Both ways are good. As you develop your safe place(s), and practice meeting the Lord there, you will hear his voice more and more daily. Just like any relationship, you must build trust and invest time into it. If I&rsquo;m ever having trouble falling asleep, I visualize my mountain place with Jesus and he tells me sweet truths from his heart. Before I know it, I&rsquo;m fast asleep. Other times when I am facing a difficult dilemma in my life, and need clear direction I meet God in the throne room. God always answers us. He answers in three ways: Yes, No and Wait. Of course, it is so hard to hear wait, but God is in control, and He knows best. Spend time in His presence, and tune your heart and mind to His voice. Your spiritual ears will thank you.</p>
         <p>(Side Note: If anything happens in your visually safe place that is NOT in the character of God, then immediately ask for Jesus to expose the lie or liar in the place. The wounds of life can be used by satan to deceive us, even in our prayers. This rarely happens when we are learning to pray, for God wants us to come closer to Him in prayer, and so He protects us.)</p>

         <h5>2. Free Flow Musical Prayer</h5>
         <p>
            <strong>What is it?</strong>
         </p>
         <p>Musical prayer is just what it sounds like. It is using music and melody in prayer form to open us up to . Whether you are listening to music, or making your own, musical prayer helps us to express our feelings melodically.</p>
         <p>1 Corinthians 14:15 &ldquo;So what shall I do? I will pray with my spirit, but I will also pray with my understanding; I will sing with my spirit, but I will also sing with my understanding.&rdquo;</p>
         <p>(see also Psalm 147:1 and Ephesians 5:19)</p>
         <p>
            <strong>Examples: </strong>
         </p>
         <p>&ldquo;Jesus Loves Me&rdquo; is one of the most known songs in the Christian world. Sometimes I love to sing this song on my own and really think about the words and meaning. I am instantly revived by the truth in these lyrics. Singing it on my own the song becomes a prayer.</p>
         <p>Another way to use musical prayer is to sing along to a song on the radio, iPod, or worship time at church. There are so many wonderful Christian artists, and when I sing along I believe the words in the lyrics. Not all songs are written for me so I pray that my friend would know the truth in this song, or I pray that the blessings in this song would be sent to my family and friends.</p>
         <p>
            <strong>How to pray it:</strong>
         </p>
         <p>Whether you are playing an instrument like King David, or singing a song like Miriam (Moses&rsquo; sister), when you put meaning and worship behind your actions it becomes a prayer for your heart. You can free-style, and sing to the Lord, or jam on a guitar while praying to put out your emotions to a song. Any way you slice it using musical prayer is pleasing to the Lord.</p>
         <p>
            <strong>God&rsquo;s response:</strong>
         </p>
         <p>God loves music. That&rsquo;s one reason performing in front of others can be so nerve wracking. Musical expression is like bearing your soul to God, and everyone listening. I have always felt that singing my prayers felt like praying multiplied by thirty. There are so many scriptures that tell us to cry out with praise to the Lord. Hannah in 1 Samuel prayed to God with song. The entire book of Psalms are lyrics to songs. The Lord will be praised. Luke 19:37-40 tells us when the disciples were singing praises to the Lord it upset the Pharisees. The Pharisees told Jesus to rebuke the disciples and Jesus replied, &ldquo;I tell you, if these were silent, the very stones would cry out.&rdquo; God has a multitude of angels in heaven that sing praises to him 24/7. So, you see, God loves to hear melodies of praise and prayers.</p>
         <p>As the music opens up your soul to the divine you may find yourself in quiet reflection while the music plays on. At these moments God may reveal His will for you and your life. It may feel like your mind is just wandering, but if it is wandering into eternal things, deep questions, or ideas you have never thought of that is probably God. Pay attention to them, and let the music continue to open up your soul as God shares Himself with you.</p>

         <h5>3. Free Flow Scriptural Prayer</h5>
         <p>
            <strong>What is it?</strong>
         </p>
         <p>In this type of prayer, we use scripture to guide our prayers including the words we actually pray. The Bible is &ldquo;God-Breathed&rdquo; <strong>
               <em>(2 Timothy 3: 16-17)</em>
            </strong>. That means the words and stories in it show us who God is by His very character and the scriptures guide and teach us.</p>
         <p>
            <strong>
               <em>Romans 15:4</em>
            </strong>
            <em> &ldquo;For everything that was written in the past was written to teach us, so that through the endurance taught in the Scriptures and the encouragement they provide we might have hope.&rdquo;</em>
         </p>
         <p>
            <strong>
               <em>Matthew 24: 35</em>
            </strong>
            <em> &ldquo;Heaven and earth will pass away, but my words will never pass away.&rdquo;</em>
         </p>
         <p>
            <strong>Examples &amp; How to pray it:</strong>
         </p>
         <p>This type of prayer can be used with any part of the Bible. The easiest scriptures to begin with are in Psalms. Let&rsquo;s take Psalm 91 for an example. As you read the verses stop after each one and pray into it.</p>
         <p>
            <strong>
               <em>Psalm 91:1</em>
            </strong>
            <em> &ldquo;Whoever dwells in the shelter of the Most High will rest in the shadow of the Almighty.&rdquo;</em>
         </p>
         <p>My prayer would be something like this: &ldquo;Lord, I want to dwell in your shelter. You Lord, are Most High, bigger than anything and greater than anyone. You give me rest and peace in the shadow of your greatness. Like a child that can hide from their enemies behind their mom&rsquo;s leg, you also provide that comfort.&rdquo;</p>
         <p>You try it! Turn to Psalm 23, and pray through each verse.</p>
         <p>The 2<sup>nd</sup> way to pray with scriptures is to remove the pronouns like: &ldquo;we&rdquo;, &ldquo;they&rdquo;, &ldquo;them&rdquo;, etc. We replace the pronouns with: &ldquo;I&rdquo;, &ldquo;my&rdquo;, &ldquo;your name&rdquo;, etc. The scriptures become more like a prophetic truth for your life.</p>
         <p>
            <strong>
               <em>Ephesians 1: 3-4</em>
            </strong>
            <em> &ldquo;Praise be to the God and Father of <u>our</u> Lord Jesus Christ, who has blessed <u>us</u> in the heavenly realms with every spiritual blessing in Christ. For he chose <u>us</u> in him before the creation of the world to be holy and blameless in his sight.&rdquo;</em>
         </p>
         <p>That scripture would now read like this: &ldquo;Praise be to the God and Father of <strong>MY</strong> Lord Jesus Christ, who has blessed <strong>ME</strong> in the heavenly realms with every spiritual blessing in Christ. For he chose <strong>ME</strong> in him before the creation of the world to be holy and blameless in his sight.&rdquo; The scripture becomes real for yourself, which is how scripture is intended to be. You try it! Turn to Romans 8:31-39, and pray through each verse</p>
         <p>
            <strong>God&rsquo;s response:</strong>
         </p>
         <p>Matthew 4 tells us the story of when Jesus was led into the wilderness and tempted by Satan. What we should learn from this story is that not only did Jesus quote and know God&rsquo;s word, Satan also quoted scripture. This is important because our enemy wants to lie, cheat, and destroy you with half-truths&hellip;just like he tried to do with Jesus.</p>
         <p>Praying through scripture teaches us truth from God&rsquo;s character itself. There can be no confusion about how God loves, protects, guides, disciplines and blesses us. When we pray scripture, it becomes a conversation between you and our Lord. His words help nurture the belief that they are personal truths for ourselves.</p>

         <h5>4. Pictured Prayer</h5>

         <p>What is it?</p>
         <p>This type of prayer uses images and pictures to pray for people, events, and places. Pictured prayer is mostly intercessory type of prayer. That means you pray for others on their behalf, bringing their needs to the Lord.</p>
         <p>
            <strong>
               <em>1 Timothy 2: 1</em>
            </strong>
            <em> &ldquo;I urge, then, first of all, that petitions, prayers, intercession and thanksgiving be made for all people&hellip;&rdquo;</em>
         </p>
         <p>
            <strong>
               <em>Matthew 5:44</em>
            </strong>
            <em> &ldquo;But I tell you, love your enemies and pray for those who persecute you&hellip;&rdquo;</em>
         </p>
         <p>
            <strong>Examples:</strong>
         </p>
         <p>Pictured prayer begins with pictures. Whether you clip them from magazines, newspapers or keep photos in a book or on your fridge. I keep photos on my fridge and every time I go to open the fridge I say a prayer for whichever photo catches my eye. Sometimes I will sit in the kitchen and pray over the photos. Seeing the faces of those I love and know, help me pray over them. I pray salvation for those who are lost, health for the sick, blessings in marriage etc.</p>
         <p>When I am reading through social media I will see articles or posts and instantly pray for the circumstance. When terrorist attack I pray for the people affected by the attack, I pray salvation for the lost, I pray for the 1<sup>st</sup> responders, for the people angered and living in fear by the attack and so on.</p>
         <p>
            <strong>How to pray it:</strong>
         </p>
         <p>If you want to start this type of prayer then start by collecting your pictures. Use a photo book or hang them on the wall. Then commit to look at them, and pray over the images. The images serve as a reminder of who/what you are praying for. Kids drawings are another great way to spark the idea to pray. Simply use the images you have to start your prayers.</p>
         <p>Find your phone (yes, for a brief time, have your phone available). Pull up the pictures on your phone, and look at the ones that seem to catch your eye first. Start praying for the person/people in the picture.</p>
         <p>
            <strong>God&rsquo;s response:</strong>
         </p>
         <p>It can be hard to believe, but God sees us, everywhere. We are visual creatures like God, we are all affected by beautiful scenery and memories of loved ones. God watches over us all the time, and protects us. We do not understand how God uses our prayers for others, but He promises that our prayers matter. However, He usually waits to act in our lives and the lives of others until He is invited. So invite God into the lives of the people in your life!</p>
         <p>
            <strong>
               <em>Genesis 1: 27</em>
            </strong>
            <em> &ldquo;So God created mankind in his own image, in the image of God he created them; male and female he created them.&rdquo; (see also 1 John 3: 1-2). </em>
         </p>
         <p>We are all pictures of God&rsquo;s design. When we pray over others we are praying for God&rsquo;s children. How diverse and beautiful is the family of God.</p>
         <h5>5. Artful Prayer</h5>
         <p>
            <strong>What is it?</strong>
         </p>
         <p>Artful prayer is when you use art to express your prayers. Paint, sculpture, clay, glue, pipe cleaners (fuzzy sticks to my youth kids), it does not matter the medium. If you are a person who needs to see and feel your prayers, then artful prayer may be the best way for you to experience prayer.</p>
         <p>
            <strong>Examples:</strong>
         </p>
         <p>When my grandma died, she had been one of the most influential people in my life. She taught me how to pray. When she went on to her home in Heaven, I struggled. I had so many emotions all twisted up inside me. I didn&rsquo;t know how to express any of them with words. So, to get it all out, and to help me understand all the layers of my emotions I went to clay. I sculpted busts of many emotions. Each bust was a prayer because it was helping me show the Lord my heart. I made a bust that was yelling with tears staining its face. I made a bust that looked downcast, one that was lost, one that cried softly, one that was happy, one that was scared. These busts helped me focus on each emotion, and pray into each emotion with the Lord.</p>
         <p>Other times I have painted on a canvas, let it dry then painted over it again. My brush strokes and color choices helped me visually see and feel what I needed to communicate to the Lord.</p>
         <p>
            <strong>How to pray it:</strong>
         </p>
         <p>The first thing to decide is what type of medium you would like to work with. Clay is one of my favorite because it is the medium talked about most in the bible. But sewing, beadwork, painting, collage, sculpture and any medium can be used to aid in prayer.</p>
         <p>The second thing to do is while you are working with your medium keep in mind that you are creating with the help of the Lord. Pray before you begin, focus on what you would like to accomplish by praying through this piece.</p>
         <p>Most artists can work with their hands, and be deep in thought about something else. Too often those deep thoughts are on all kinds of cares and concerns, wishes and desires. Now redirect those thoughts toward God. Invite God into those thoughts, and instead of thinking about things, talk to God about them. For some of you this may take practice. I listen to Christian piano songs while praying through my art. I use the medium as an outward expression of my prayers.</p>
         <p>Try it! Begin an art project in your favorite medium, and while you work be aware of being focused on God, talking to God, and the other thoughts that come to your mind, give them to God. Listen and see what God puts back into your soul.</p>
         <p>
            <strong>God&rsquo;s response:</strong>
         </p>
         <p>God himself is a creator. Look at the world around us, the sunsets, clouds, unique animals and see how God was so creative. Every corner of this Earth is His creation.</p>
         <p>
            <strong>Genesis 1:1</strong> &ldquo;In the beginning God created the heavens and the earth.&rdquo;</p>
         <p>
            <strong>Psalm 19: 1 </strong>&ldquo;The heavens declare the glory of God; the skies proclaim the work of his hands.&rdquo;</p>
         <p>
            <strong>(see also Isaiah 41: 17b-20</strong>, <strong>
               <em>Psalm 139:13</em>
            </strong>
            <em>, <strong>Isaiah 44: 24</strong>, <strong>Genesis 1: 26-27</strong>, </em>
            <strong>Jeremiah 18: 5-6</strong>, <strong>Job 10: 8-11</strong>, <strong>Isaiah 64: 8</strong>
         </p>
         <p>
            <strong>Other possible Free-Flow Prayer Ideas:</strong>
         </p>
         <ul>
            <li>Praying during a task, working out etc. Allow your mind to think about what you&rsquo;re doing in that moment, shut the world out and concentrate on how God is in the situation with you. If you&rsquo;re gardening think about creation and life, praise God for his creativity, pray that animals, trees, life be abundant&hellip;etc.</li>
            <li>Pray for people who pass you by. When in the car or shopping at the store. Let&rsquo;s be honest and admit that we notice things about others right away. Like when a mom doesn&rsquo;t have the right kind of clothing on a child, when someone cuts us off while driving, when someone is wearing a vulgar shirt, etc. We all have been given tools to see the world around us and God is calling us to pray and not judge. So pray for that mom, that man in a hurry or the teen wearing vulgar clothing.</li>
         </ul>

         <h4 id="godsvoice" class="text-center">How do You Know If It Is God&rsquo;s Voice?</h4>
         <p>The Bible gives us insights that can help us refine our ability to tell if we have heard God&rsquo;s voice, and heard it correctly. The four questions to discern if something is from God are taken from Presbyterian-Reformed</p>
         <p>Ministries International (P.O. Box 429, Black Mountain, NC 28711, 828-669-7373, <a href="mailto:prmi@prmi.org">prmi@prmi.org</a>, <a target="_blank" href="http://www.prmi.org">www.prmi.org</a>). This amazing organization is doing some of the best theological teaching on the power of the Holy Spirit. If you want to take every aspect of your faith journey to the next level participating in the Dunamis Project at PRMI will do just that.</p>

         <h5>Four Questions for Discerning the Will of God:</h5>
         <ol>
            <li>Does it give glory to Jesus Christ in the present and the future? (John 14:26, John 16:13-14)</li>
            <li>Is it consistent with the intentions and character of God as revealed in Scripture? (John 2:22, II Tim. 3:14-17)</li>
            <li>Do other people who are filled with the Holy Spirit have a confirming witness? (I Corinthians 14:29)</li>
            <li>Is there confirmation in objectively verifiable events or facts? (Deut. 18:21-22, Isaiah 55:10-11)</li>
         </ol>

         <h4 id="prayerevangelism" class="text-center">Prayer and Evangelism: Helping Others Come To Christ</h4>
         <h5>
            <em>FIVE BLESSINGS for FIVE NEIGHBORS for FIVE MINUTES a day, FIVE DAYS a week</em>
         </h5>

         <p>The Great Commission challenges us to participate in this prayer evangelism outreach to the people we know who may need faith in Jesus Christ or a new church home. Why should we bless our neighbors with our prayers? 1) Our neighbors matter to God. They are precious children whom God loves, and God grieves when they are separated from Him. 2) God commands that &ldquo;requests, prayers, intercession and thanksgiving be made for everyone&rdquo; (I Tim. 2:1-4). 3) As we bless others we will be blessed by our loving God who calls us to care about our neighbor.</p>
         <p>Who should I pray for? Make a commitment to God to be praying for five families or individuals at all times. You want to pray for people who have no church home, or no faith. Think through the following circles of people to help you think of the people to pray for: Family, Neighborhood, Work place, Hobbies and Recreation, Friends, and especially friends you know going through life change or crisis. (Note: if you can&rsquo;t think of anyone take it to God in a time of listening prayer and let God build your list of five people).</p>
         <p>List below the names of five people or families you will pray for:</p>
         <p>_______________________________</p>
         <p>_______________________________</p>
         <p>_______________________________</p>
         <p>_______________________________</p>
         <p>_______________________________</p>

         <p>What &ldquo;BLESSINGS&rdquo; should I pray? Think of the word BLESS to remember five important ways to pray for your neighbors:</p>

         <p>
            <strong>
               <u>B</u>
            </strong> Body &ndash; health, protection, strength</p>
         <p>
            <strong>
               <u>L </u>
            </strong>Labor &ndash; work, income, security</p>
         <p>
            <strong>
               <u>E</u>
            </strong> Emotional &ndash; joy, peace, hope</p>
         <p>
            <strong>
               <u>S </u>
            </strong>Social &ndash; love, marriage, family, friends</p>
         <p>
            <strong>
               <u>S </u>
            </strong>Spiritual &ndash; salvation, faith, grace</p>
         <h4 id="ourstories" class="text-center">Our Personal Stories</h4>
         <p>When I (Al) was in seminary all my preaching professors taught that if you want to be a good preacher you have to read a lot and pray a lot. I wanted to be a good preacher, but I didn&rsquo;t know how to pray much beyond dinner prayers, and prayers of emergency (God please help? We are in trouble!). I knew I needed to learn to pray like a mature Christian, and God helped me by introducing me to Professor Ben Johnson from Columbia Presbyterian Seminary. His book <u>An Adventure in Prayer</u> inspired this book, and taught me to pray. He promised the same thing I promised in this book, that if you will commit to prayer for thirty days you will learn to pray.</p>
         <p>I remember the first week of prayer thinking, &ldquo;Is anybody listening?&rdquo; It seemed I had no ears to hear God&rsquo;s voice. The second week it seemed that for moments I was experiencing God&rsquo;s presence, and hearing God&rsquo;s voice. Coincidences also began to be noticeable. The things I was praying about began to be answered. The third week I was beginning to expect to hear God&rsquo;s voice, and sensing I was getting better at recognizing the difference between God&rsquo;s voice and my own thoughts. The fourth week I decided I didn&rsquo;t believe in coincidences any longer. The power of prayer had become evident in my prayer life. It worked! After thirty days, I not only learned to pray, I made a commitment to pray for the rest of my life. It really wasn&rsquo;t any more complicated than that.</p>
         <p>Having seen that learning to pray as a mature Christian was not rocket science, I started buying copies of Prof. Johnson&rsquo;s book to teach others to pray. It didn&rsquo;t work so well. People struggled with time, other commitments, and just didn&rsquo;t complete the thirty days. That is when I came up with the idea of prayer partners. If one person wasn&rsquo;t very successful at learning to pray, would two people work better? It made all the difference in the world. Few people quit praying when they had a prayer partner to pray for, who was also praying for them. Since that discovery decades ago I have celebrated with hundreds of people who have learned to pray.</p>
         <p>I challenge you to find a prayer partner, work through the exercises in this book, and commit to praying with your partner for thirty days. Thirty days from now you will know that prayer to our creator God is indeed powerful.</p>
         <p>My journey in prayer (Lauren) has been a life-long practice. My family ancestry is very spiritual, and my grandmother was probably the most influential teacher of prayer that I knew. She was 4&rsquo;11&rsquo;&rsquo; and round with a laugh that shook her whole body. When she prayed she demanded that the Lord listen, and she used scripture to call God out. She told me that God knew his Holy promises from scripture, and so did the devil, so it was our job to know them as well. Scripture was your best defense and offense all rolled into one. When my grandma prayed she meant what she said, and she spoke with authority. Sometimes, as a child, I would think God was in time-out or getting in trouble because of the intensity in which grandma prayed to Him. I believed that grandma had a red phone, like batman did with the mayor, and she would call God up in Heaven to get busy. My grandmother would pray for blessings and for justice upon her enemies, and the enemies of the Lord. She would rebuke demons and commission angels. I watched her and learned but did not participate in serious prayer as a young child.</p>
         <p>When my grandmother passed away in 2002 it shook me to my core. Looking back on that time now, I realize that I skated by on my grandmother&rsquo;s prayer life and obedience. She was a massive umbrella-of-prayer which covered all of my family. At her funeral, we all felt the loss. Her prayer coverage was gone, we were exposed, the umbrella gone, and the world raining down on us. My cousin spoke at her funeral and said, &ldquo;Maybeth prayed like no one else, and she carried the torch of prayer for our family daily, nightly, and without ceasing. Look now, the torch is laying on the ground, its bearer gone to heaven. Who will have the courage to pick it up, and continue the call? Who will pray for our family? Who will speak to the Lord on our behalf?&rdquo; Obviously, I was meant to hear those words, because it is the ONLY thing I remember from that day. Her funeral was the day I was called to become a prayer warrior.</p>
         <p>I had been prepared for this my entire life. I knew much of the, and believed EVERYTHING in it. Never once did I ever question scripture, or the miraculous things written about in the Bible. I had felt Holy Spirit upon and within me my whole life as well. My dreams were more like visions, and my visions were more like prophetic images. Under the care and shelter of my grandmother&rsquo;s umbrella, I had been learning to pray, and use my gifts to talk with the Lord. Some people wait decades or their whole lives before hearing from the Lord. In my case, I can never get him to be quiet. I see God in all things, and I talk to him like my best friend. I&rsquo;m honest and emotionally naked to Him. It is such a relief to know that He loves me anyway.</p>
         <p>Because I am visual I have a &ldquo;safe&rdquo; place in my imagination where I go to see the Lord. I have mentioned two places I go in my mind so far, and not just talk to Jesus, but to be fully present and be touched by Jesus as well. This is my favorite way to pray&hellip; talking to Jesus as if he was the person who knows me the most, can comfort me above all others and can bring peace and direction to my mind and heart. He is my one true love, and my doting father all in one. I ask him questions and he answers me. He listens to me cry over the lost, and encourages me to not give up, and to keep praying for others.</p>
         <p>I learned to pray from my grandmother because she told me to know the scriptures and have them written on my heart. The Holy Bible is God&rsquo;s own words, his very character. Because she taught me this, I now can be affirmed that I hear the voice of the Lord and I can go to Him with deep intimacy. Prayer is not a designated Christian chore for me&hellip; it is the basis of my relationship to Jesus, the savior who loves me more deeply than I can ever imagine. I bring Him with me wherever I go, and I desperately want to see him in all that I do.</p>
         <h4 id="thirtydays" class="text-center">Thirty-Day Prayer Experiment</h4>
         <p>
            <u>Covenant with a Prayer Partner</u>: We are so glad you have read <u>An Invitation to Learn to Pray</u>. If you really want to learn to pray there is only one more thing you need to do besides read this book, and do all the exercises. You must get someone else to join you in the adventure. Proverbs 27:17 says, &ldquo;Iron sharpens iron, and one person sharpens the wits of another.&rdquo; We need someone else to hold us accountable to successfully complete the 30-day prayer experience. Our experience in teaching people to pray is absolutely clear, don&rsquo;t try to learn by yourself. It is too easy to quit, and then no one will know you have. People who start with a prayer partner almost always finish their thirty days of prayer. People who don&rsquo;t have a prayer partner almost never finish their thirty days of prayer.</p>
         <p>So, find a prayer partner, and if possible, pick someone you know has prayer experience. Then start reading the scriptures together each day, and make plans to answer the questions below once a week. Thirty days from now you will have finished one of the greatest adventures of your life.</p>

         <p>To be given to your prayer partner:</p>
         <p>Name &ndash;</p>
         <p>Phone Number &ndash;</p>
         <p>Time I pray &ndash;</p>
         <p>My prayer request &ndash;</p>
         <p>Date I will begin reading scriptures on &ndash;</p>

         <p>
            <u>Questions for Weekly Discussion</u>: Find time, in person or by phone, to speak to your prayer partner about your experiences in prayer. These starter questions are designed to help you grow in your prayer life.</p>

         <p>
            <strong>Week 1</strong>
         </p>
         <ol>
            <li>How have you been aware of God this week?</li>
            <li>What struggles have you had this week?</li>
            <li>What was the most meaningful thing that happened to you in prayer this week?</li>
         </ol>
         <p>
            <strong>Week 2</strong>
         </p>
         <ol>
            <li>Have you prayed differently in any way this week?</li>
            <li>What was the most meaningful thing that happened to you in prayer this week?</li>
            <li>Have you told anyone about your prayer experiment?</li>
         </ol>
         <p>
            <strong>Week 3</strong>
         </p>
         <ol>
            <li>Do you find yourself praying or thinking about God more through the day?</li>
            <li>Does it seem that you have heard God speak to you any better during your listening prayer this week?</li>
            <li>Are you noticing an increased number of &ldquo;coincidences&rdquo; occurring through the week?</li>
         </ol>
         <p>
            <strong>Week 4</strong>
         </p>
         <ol>
            <li>What have been your greatest prayer discoveries this month?</li>
            <li>What decisions have you made about prayer after you finish this thirty-day challenge?</li>
            <li>Who will you tell about your experience, and what do you want to tell them?</li>
         </ol>
         <p>
            <u>Scriptures for Daily Study and Prayer</u>: Everyday read the suggested scripture before you pray. As you pray your prayers work the scripture into your prayers, so that in effect, you are praying the scriptures.</p>
         <p>Day 1 John 3:16-17</p>
         <p>Matthew 3:13-17</p>
         <p>Luke 4:1-13</p>
         <p>John 3:1-11</p>
         <p>Mark 1:16-18</p>
         <p>Matthew 5:13-16</p>
         <p>Matthew 6:25-34</p>
         <p>Matthew 7:7-12</p>
         <p>Luke 5:17-26</p>
         <p>Luke 6:27-36</p>
         <p>Mark 8:27-30</p>
         <p>Matthew 13:44-46</p>
         <p>John 11:38-44</p>
         <p>Mark 11:1-11</p>
         <p>Matthew 21:12-17</p>
         <p>Matthew 26:17-30</p>
         <p>Mark 14:32-42</p>
         <p>Luke 22:47-53</p>
         <p>John 18:33-40</p>
         <p>Matthew 27:32-50</p>
         <p>Luke 23:32-43</p>
         <p>John 19:28-37</p>
         <p>Matthew 28:1-10</p>
         <p>Luke 24:13-35</p>
         <p>Matthew 28:16-20</p>
         <p>Romans 8:28-39</p>
         <p>I Corinthians 13</p>
         <p>Phipppians 4:10-13</p>
         <p>Colossians 3:12-17</p>
         <p>I Thessalonians 5:12-22</p>

      </div>
   </div>
   <!-- #dark-content -->
   <br><br>
{% endblock %}