{% set canonical = domain + '/online-sermons' %}
{% set pageName = "Online Worship Services" %}

{% extends '_layouts/default.njk' %}


{% block main %}
   <div id="dark-content">
      <div class="text-center gcontent">
         <h1 class="section-title large">
            Online Worship Services
         </h1>

         <p>
            Click the play button on the video below, and you should see a count-down timer on the image leading up to the time of the service. Once it hits zero, you should be automtically joined with us for worship.
         </p>

         <p>
            If you suspect that there are issues or you would like to watch past videos, please
            <a href="https://www.youtube.com/watch?v=aXb62pygAeI&list=PLL7r1tZ2qPgxJAoEwO1umtXAVyGcCEAGN&index=1" target="_blank">visit our channel on YouTube</a> or scroll down.
         </p>

         <p>
            We pray that these services are glorifying to God.
         </p>
      </div>


      <div class="full-container">
         <div class="vid-playlist">
            <div class="vid-playlist__vid-container">
               <div class="video">
                  <iframe
                     class="video__frame"
                     src="https://www.youtube.com/embed/?autoplay=1&list=PLL7r1tZ2qPgx7s6hWuuvsXG-4QllpDMnB&listType=playlist"
                     frameborder="0"
                     allowfullscreen="allowfullscreen"
                     allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
               </div>
            </div>
         </div>

         <hr>

         <h4 class="text-center">Past Worship Services</h4>

         <br>

         <div class="vid-playlist">
            <div class="vid-playlist__vid-container">
               <div class="video">
                  <iframe
                     class="video__frame"
                     src="https://www.youtube.com/embed/?autoplay=0&list=PLL7r1tZ2qPgxJAoEwO1umtXAVyGcCEAGN&listType=playlist"
                     frameborder="0"
                     allowfullscreen="allowfullscreen"
                     allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
               </div>
            </div>
         </div>
      </div>
   </div><!-- #dark-content -->
   <br><br>
{% endblock %}
