{% set canonical = domain + '/calendar' %}
{% set pageName = "Calendar" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <h1 class="section-title large">
            <p>Calendar of Events</p>
        </h1>

        <div class="gcontent">
            <h4>FAMILY FESTIVAL Labor Day September 2nd 3pm - 9pm</h4>

            <p>1901 Prestwick Dr. Lagrange, KY 40031</p>

            <p>Inflatables, Games, Food, Fun, Bubbles, Crafts, Cornhole Tournament*, Photo Booth & More! 7:30pm Glow Worship! Sponsored by LaGrange Presbyterian Church and Life Church. Join us for an afternoon of fun for the whole family!</p>

            <p>*Register for the Cornhole tournament between 3-5pm. First 16 teams will battle it out for a prize!</p>

            <iframe src="https://www.google.com/calendar/embed?showNav=0&amp;mode=MONTH&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=lagrangepres.org_kui8r51s6s4ovi6nru15l7jfsk%40group.calendar.google.com&amp;color=%23cc3333&amp;src=lagrangepres.org_6t5h9sfrc77ftqu8us459b5efg%40group.calendar.google.com&amp;color=%23994499&amp;src=lagrangepres.org_lhi8p3st5d2okinlvvvj2ok1q0%40group.calendar.google.com&amp;color=%23336699&amp;src=lagrangepres.org_846qq44g6lk023hb7m585ucfk8%40group.calendar.google.com&amp;color=%2322aa99&amp;src=lagrangepres.org_jkbqr1a7v0bnd391e8sq11clco@group.calendar.google.com&amp;color=%23109618&amp;src=lagrangepres.org_ouksnhearocb04ci590g11ont4@group.calendar.google.com&amp;color=%23d6ae00&amp;src=lagrangepres.org_6btao7np9bgasedvdv7hrnl9pc@group.calendar.google.com&amp;color=%23a87070&amp;ctz=America/New_York&amp;showTitle=0" style="border-width:0;" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>
{% endblock %}
