{% set canonical = domain + '/virtual-gathering/' %}
{% set pageName = "Virtual worship!" %}

{% extends '_layouts/default.njk' %}



{% block main %}
   <section id="dark-content">
      <h1 class="section-title large">
         Outline of Virtual gathering opportunities
      </h1>

      <p>The Fall has always been a time in the life of our church to refocus on our faith, spiritual disciplines,
and get back into our routines. Not this year! All the routines had to change. But this does not have to
affect our growth in faith and commitment to our spiritual disciplines. The following plan comes with a
challenge to the congregation. The session has approved this as our new Fall Program. It is designed to
give everyone a chance to participate regularly in the life of the church numerous times each week. We
will use a combination of Zoom and Teams virtual meeting room apps with the goal to move completely
over to Teams over time. All Zoom and Team meetings are open to anyone who wants to participate,
regardless of age, even when they are designed for a certain age group.</p>

<p><b>Our Fall challenge is this:</b> Every member of the church is to make a commitment to worship with us
on Sunday mornings either in-person or through Internet Church at 10:30 on Sunday mornings. We
hope you will make 10:30 your time to worship. If for some reason you are unable to do so then make a
commitment to view Internet Church every week. Second, attend at least one Bible study or prayer
meeting every week. I strongly encourage you to attend two, three, or more.</p>

      <br>

      <div class="gcontent">
      
         <h3>Sunday Morning</h3>

         <ul>
         <li><b>8:45</b> – Men of the Church accountability meeting via zoom and in-person – We will not launch this on
November 1. There are many other things to coordinate at this time. However, we will renew our
gatherings in the near future. It will be led by Pastor Al, and we will share where we have seen God this
week and check on how we are doing in our prayer and study lives. We close with prayer.</li>

         <li><b>9:30</b> – Genesis Class via zoom – led by Tom and Gene with Al providing technology support. They will
continue to use the Presbyterian curriculum to study the Bible in-person and virtually. If you want to
attend the class virtually contact Al to receive the link.</li>

         <li><b>9:30</b> – <a href="/virtual-gathering/adult-bible-study/">
                           Adult Bible Study via Microsoft Teams</a> and in-person – The class will continue to study Max Lucado’s “The Story”.</li>

         <li><b>9:30</b> – Youth Sunday School – At this time there will be no Sunday morning youth class. The youth meet regularly each Sunday afternoon.</li>

         <li><b>10:30</b> – Worship the Lord! Via <a href="/online-sermons">online</a> and in-person.</li>

         <li><b>11:45</b> – <a href="/virtual-gathering/fellowship/">
                            Fellowship in Fellowship Hall and via Microsoft Teams</a>. This will be the one time during the week that everyone in the church can connect with one another. To join in virtually simply log-in a few minutes after worship is over.</li>
</ul>
      </div>
      

      <div class="gcontent">
         <h3>Instructions for joining with Teams</h3>
         <p>Click the link for the virtual meeting, either for <a href="/virtual-gathering/adult-bible-study/">Adult Bible Study</a> or for <a href="/virtual-gathering/fellowship/">Fellowship in Fellowship Hall</a>.</p>
         <p>Click the button to Continue on this browser</p>
         <img src="/images/virtual-gathering/teams-continue-browser.png" height="214px" width="496px">
         <p>Select Allow to let Microsoft Teams use your mic and camera for calls and meetings on this browser.</p>
         <img src="/images/virtual-gathering/teams-allow.png" height="155px" width="312.5px">
         <p>Enter your name and click Join now.</p>
         <img src="/images/virtual-gathering/teams-join.png" height="245.4px" width="317.4px">
         </div>
   </section>

   <br><br>
{% endblock %}
