{% set canonical = domain + '/resources/proverbs' %}
{% set pageName = "The Book of Proverbs" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">The Book of Proverbs</h1>
            <p>In this series I will not be preaching on each chapter.  Instead, I will preach the book of Proverbs using the summary Solomon gives us in chapter 1 (see Proverbs 1 commentary).</p>
                    {% include "_partials/resources/proverbs.njk" %}
    </section>
{% endblock %}
