{% set pageName = "Proverbs 2 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-2-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Moral Benefits of Wisdom
> 1 My son, if you accept my words and store up my commands within you,  
2 turning your ear to wisdom and applying your heart to understanding—  
3 indeed, if you call out for insight and cry aloud for understanding,  
4 and if you look for it as for silver and search for it as for hidden treasure,  
5 then you will understand the fear of the LORD and find the knowledge of God.  
 
**Vs. 1-5:** When one is considering the moral benefits of wisdom we start again at Fear of the Lord.  To understand Fear of the Lord is the foundation of understanding all the Proverbs.  Again, fear of the Lord is being more afraid to do ANYTHING without God then we are afraid of anything else.  In these verses Solomon is speaking specifically to his son.  The search for wisdom is a great search.  We listen for wisdom whenever we listen to anything.  We search for wisdom with all our heart.  We also search for God with all our heart (e.g. Jeremiah 29:13).  We  are to call out and cry aloud for wisdom we are so hungry to gain her.  We are to search for wisdom like precious silver and hidden treasure.  If our desire for wisdom is that intense then we will understand fear of the Lord, and we will gain wisdom and knowledge.   
 
> 6 For the LORD gives wisdom; from his mouth come knowledge and understanding.  
7 He holds success in store for the upright, he is a shield to those whose walk is blameless,  
8 for he guards the course of the just and protects the way of his faithful ones.  
 
**Vs. 6-8:** When we search for wisdom some of the rewards God gives us include knowledge, understanding, success, a shield of protection for the blameless, justice, and faithfulness.  For if you yearn for wisdom you will choose to live a blameless, just, and faithful life.  It is what the wise do! 
 
> 9 Then you will understand what is right and just and fair—every good path.  
10 For wisdom will enter your heart, and knowledge will be pleasant to your soul.  
11 Discretion will protect you, and understanding will guard you.  
 
**Vs. 9-11:** As we allow wisdom to enter our hearts then we will better grasp what is right, just, and fair.  Also, as wisdom enters our hearts we will experience knowledge that is a pleasant experience for our souls.  There is a peace that comes to the life that avoids many of the selfimposed consequences to bad choices.  Such bad choices can often be avoided as we gain wisdom.  For example, choosing to smoke can cause many health risks.  The wise person will either know that these consequences were as a direct result of their poor choices, or know better than to choose to smoke.  The fool gets cancer and then angrily yells at God, “Why me, Lord?”  The wisdom to not make foolish choices in the first place brings protection and guards us from many of the struggles of life in a fallen world.   

> 12 Wisdom will save you from the ways of wicked men, from men whose words are perverse,  
13 who have left the straight paths to walk in dark ways,  
14 who delight in doing wrong and rejoice in the perverseness of evil,  
15 whose paths are crooked and who are devious in their ways.  

**Vs. 12-15:** Wisdom will guard us from the ways of the wicked or being seduced into following or doing anything with the wicked.  The wicked are a bad lot.  He describes them as those who use perverse words, leave straight paths and instead choose crooked paths, walk in dark ways, delight in doing wrong, rejoice in what is perverse, and seek to be devious in their ways.  A curious question is whether the wicked choose this way of living or by not choosing wisdom fall into this way of living.  I believe few people consciously choose to relish perversity for example.  But by choosing to satisfy their fleshly desires they fall into deeper and deeper perversity, and don’t even realize when their choices have turned them into a basically perverse person.  When they become comfortable with this perverse life they will then make excuses for it and choose it.  Therefore, it seems that the original choice of rejecting wisdom leads to the eventual choice of perversity or any other form of wickedness.  Having said all this, I don’t want to oversimplify how a person falls into such choices.  The wickedness of their parents and other family members, socio-economic factors, and many other things can contribute to a person ending up choosing wickedness.  A person is not destined to be wicked, but breaking free from family patterns, etc. can be too much for many.  That is why fear of the Lord plays such a key role in all of the search for wisdom.  For with God’s help we can overcome all obstacles and barriers.   

> 16 Wisdom will save you also from the adulterous woman, from the wayward woman with her seductive words,  
17 who has left the partner of her youth and ignored the covenant she made before God.  
18 Surely her house leads down to death and her paths to the spirits of the dead.  
19 None who go to her return or attain the paths of life.  

**Vs. 16-19:** Another category of wicked people is the adulterous woman.  She is to be avoided at all cost.  She will use seductive words to lead you down her deadly path.  One cannot attain the paths of life while walking her deadly paths.  Though Solomon is wise to warn his son against the wiles of the adulterous woman he would do well to reflect upon the deadly path of the adulterous man.  He need only look into the mirror to see a man with 700 wives and 300 concubines to see a man who walked a deadly path of adultery.  His own choices of indulging himself in the women of the world would eventually lead to the downfall of his glorious kingdom in less than two years.  He would not begin to have the wisdom to figure this one out until the final years of his life when it was too late.   

> 20 Thus you will walk in the ways of the good and keep to the paths of the righteous.  
21 For the upright will live in the land, and the blameless will remain in it;  
22 but the wicked will be cut off from the land, and the unfaithful will be torn from it.  

**Vs. 20-22:** Proverbs 2 closes out with the choice for Solomon’s son to make.  You can walk in the ways of good, the paths of righteousness, and be upright, thus enjoying all the blessings of the land.  Or you can choose the path of the wicked and be cut off from the land.  The land is probably a metaphor for all the blessings of life.  One choice brings those blessings and the other does not.  On the surface this is a simple choice.  However, few actually choose the path of righteousness.  Even Solomon, with all his wisdom, gave God lip service too often, pushed the limits of righteousness, and indulged in all the pleasures of the flesh while counseling his son to avoid such choices.  Rehoboam practiced what Solomon did, not what he said, and chose the path of wickedness.  Not because he wanted to be a wicked person.  He just didn’t want to make all the hard choices that righteousness requires.  The righteous person must be a person of integrity, with one wife, who looks out for others, and his honest, just to name of few character traits outlined by countless proverbs on choosing righteousness.  When you choose not to be righteous, choose to take short cuts and the easy path, then by default, you choose wickedness.  One cannot simply read the proverbs on righteousness, and declare, “I am going to be righteous.”  It requires work, discipline, and a desire to grow in wisdom.   
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
