{% set pageName = "Proverbs 1 (A Commentary written by Al Earley) " %}
{% set sermonLink = "https://youtu.be/mFI8lgrvp04" %}
{% set sermonTitle = "Proverbs: The Blessing of Wisdom" %}
{% set downloadPDF = "/resources/proverbs-1-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Introduction
A proverb is a short, wise saying that is proven to be true because it is used over a long period of time.  **The book of Proverbs is a collection of such sayings, mostly written by King Solomon.**  It is the twentieth book of the Old Testament. In I Kings 3 we have the famous story of God granting any gift that Solomon should request.  Solomon asks for wisdom, which pleases God greatly, and Solomon’s wisdom becomes world famous.  Kings and queens traveled from distant places to hear Solomon’s answers to difficult questions, and then they lavished expensive gifts upon him to offer thanks.

King Solomon reigned in Israel from around 970-930 BC, after his father, King David.  I Kings 4:32 says, “He spoke three thousand proverbs and his songs numbered a thousand and five.”  Some of those proverbs are fortunately still with us today in this treasure of wisdom known as the “Book of Proverbs.”  There are a few sections of the book that are marked as wise sayings from others, but it is mostly the proverbs of Solomon.  The final compilation of the book into a whole book was probably around the time of King Hezekiah (715-687 B.C.).  Proverbs 25:1 speaks of the copy work done during King Hezekiah’s reign.  The text reads, “These are more proverbs of Solomon, compiled by the men of Hezekiah king of Judah…”

There is no other book like Proverbs.  It consists of short, pithy statements with very practical points.  They are drawn from everyday life, and couched in poetic speech laced with many analogies and similes.  Proverbs is structured as follows: 1:1-9: The reason for the book, Chapters 2-9: Ten speeches by a father to his son about the importance of gaining wisdom, and four poems from Lady Wisdom, Chapters 10-29: The main collection of Proverbs, Chap. 30: The man who lives by wisdom, and Chap. 31: The woman of noble character.

One of the great things about the book of Proverbs is it is a great devotional reading for children.  The wisdom is of course divinely inspired, and some of the proverbs can be funny.  They can provoke great discussions about what is truly wise, and how God’s wisdom is different from the world’s.

Proverbs is probably one of the easiest books to read of the Bible, but don’t be deceived.  It will challenge you and what you think, and therefore is better read in short sections, so you can dwell on them carefully, especially the most troubling proverbs.  Remember, the Bible tells us Solomon was the wisest man ever, and they are written by his hand, and inspired by God.  So, we should dwell on the challenging proverbs the most.
 
## Purpose and Theme
> 1	The proverbs of Solomon son of David, king of Israel:  
2	for gaining wisdom and instruction; for understanding words of insight;  
3 for receiving instruction in prudent behavior, doing what is right and just and fair;  
4 for giving prudence to those who are simple, knowledge and discretion to the young—  
5 let the wise listen and add to their learning, and let the discerning get guidance—  
6 for understanding proverbs and parables, the sayings and riddles of the wise.  
7 The fear of the LORD is the beginning of knowledge, but fools despise wisdom and instruction.
 
**Vs. 1-7:** The very beginning of Proverbs sets forth that King Solomon is the author first.  He is the same Solomon that is the son of David, the greatest king of Israel.  The point of this book of proverbs is then described.  
**A.** The first reason to study these Proverbs is to gain wisdom.  Throughout Proverbs we will see that wisdom is a precious gift that cannot be taken away.  Wisdom is the greatest gift Solomon has been given by God.  When God offered Solomon anything Solomon wanted he asked for the wisdom to be a great king for God’s great people (I Kings 3:1-15).  These Proverbs are therefore a gift from Solomon to others.  
**B.** The second reason is to gain instruction for living better with the wisdom gained.  There will be a lot of proverbs that will give instructions for living life better.  
**C.** Wisdom will also lead a wise person to understanding words of insight.  By this Solomon will illustrate that a person striving to be wise will realize when he/she is receiving important instructions for life and then not be afraid to receive instructions.  So often people are terrified they will be considered incompetent if they need instruction.  So they foolishly don’t allow wise people to instruct them.  
**D.** Many of the proverbs will focus on living prudently.  It is not easy to live prudently, especially in our modern times.  We have become so used to coarse behavior, rudeness, unruliness, and sexual acting out.  Reclaiming prudence will always be a sign of wisdom in our modern world.  
**E.** Doing what is right, just, and fair is the next category of proverbs that Solomon will share.  These are often common sense proverbs but we don’t listen to common sense too often, and so these proverbs are important to direct our steps.  
**F.** Another group of proverbs has to do with how to compassionately deal with the simple and young.  Again, the word prudence is used to describe an appropriate way to deal with the simple.  The simple and young are distinguished from the foolish who are treated harshly in countless proverbs.  The Hebrew word rendered simple in Proverbs denotes a person who is gullible, without moral direction and inclined to evil.  But it doesn’t have the greater condemnation that goes with foolishness which means morally deficient.   
**G.** Next are the proverbs that help the wise and discerning get wiser and more discerning.  Most people think they are smart/wise enough, and so they don’t really want others to help them get wiser.  This falls into the category of the foolish.  Solomon knows all about how the wise can be foolish.  Simply read the book of Ecclesiastes, as he realizes he has wasted his life on idols, and neglected his faith in the one true God.  
**H.** Finally, the most important proverb of all, the fear of the Lord is the beginning of wisdom, and its corollary, that fools desire no wisdom, and by implication they desire nothing that has to do with God.

Since Solomon lays out so clearly how the proverbs can be categorized I will use these eight categories of wisdom to help me organize the proverbs of the book and as the topic for my sermons over the next eight weeks.  I have not finished the commentaries as I begin this series, but at the end of the sermon series all the proverbs will be categorized for much easier use.
 
Themes of Proverbs:  
A.	The Blessing of Wisdom: 2:1-2; 3:13-26; 4:1-6, 10-13; all of chapter 8; 10:1, 20-21, 31-32  
B.	Gain Instruction for Living: 2:3-4; 3:11-12; 4:7-9; 10:12, 19, 23, 25, 28, 30; 11:2, 4-6, 8-11, 14, 18-21, 23, 30-31; 12:5-7,  
C.	To Receive Instruction from Others: 9:7-9; 10:8, 13, 17; 12:1  
D.	Prudent Living: 3:9-10; 4:14-19, 4:20-27, all of chapter 5 and 7; 6:20-35; 10:4, 5, 14-16, 24; 11:15, 24-29; 12:4, 8,  
E.	Doing What is Right, Just, and Fair: 2:9-11; 3:27-30; 10:2, 3, 6, 7, 9, 11; 11:1, 3, 16-17, 12:3,  
F.	Guiding the Simple and the Young: 9:1-6 & 13- ;  
G.	Avoiding Foolishness: 2:12-15 & 16- ; 3:31-35; 6:1-5, 6-11; 12-15, 10:10, 18, 20-21, 26; 11:12-13, 22  
H.	Fear of the Lord: 1:24-29; 2:1-5; 3:5-6, 7-8; 6:16-19; 8:13 & 35; 9:10-12; 10:22, 27, 29; 11:7; 12:2  
 
## Prologue: Exhortations to Embrace Wisdom  
Warning Against the Invitation of Sinful Men

> 8 Listen, my son, to your father’s instruction and do not forsake your mother’s teaching.  
9 They are a garland to grace your head and a chain to adorn your neck.  
10 My son, if sinful men entice you,do not give in to them.  
11 If they say, “Come along with us; let’s lie in wait for innocent blood, let’s ambush some harmless soul;  
12 let’s swallow them alive, like the grave, and whole, like those who go down to the pit;  
13 we will get all sorts of valuable things and fill our houses with plunder;  
14 cast lots with us; we will all share the loot”—  
15 my son, do not go along with them, do not set foot on their paths;  
16 for their feet rush into evil, they are swift to shed blood.  
17 How useless to spread a net where every bird can see it!  
18 These men lie in wait for their own blood; they ambush only themselves!  
19 Such are the paths of all who go after ill-gotten gain; it takes away the life of those who get it  

**Vs. 8-19:** This section is written to Solomon’s son(s). Who knows how many sons Solomon had with 700 wives and 300 concubines. The most important son to take this advice on not following the advice of sinful men is Rehoboam, who would take the throne at his father’s death. It is tragic that the first lesson for Rehoboam is the one he needed most, and the one he forgot first.

As Solomon’s reign was winding down the ten tribes to the north were struggling under the weight of the taxes and forced labor to build all of Solomon’s grand projects, most of them in and around Jerusalem.  When Rehoboam took the throne he met with the leaders of the northern tribes to get their support for him as king (I Kings 12).  They pledge their support to King Rehoboam if he would lessen the taxes and forced labor.  The older and wiser advisor’s council Rehoboam to work with the northern tribes and honor their request.  His younger and foolish advisors say tax more, enslave more, demand more! He listens to these fools and his first act as king leads to the country being split in two and centuries of civil wars between the north and the south.  Everything in this section of wisdom screams for Rehoboam not to listen to the young fools, and to work with the people in the northern tribes.  Rehoboam becomes a fool like his advisors, and pays a dear price.

In our lives it is not always easy to know who is wise and who is a fool.  Fools can dress up their foolish plans very nicely.  Basically this section offers advice that it is probably foolish if you are going to take advantage of those who are simple, young, or innocent.  Be wary when gambling is involved.  If injury or death could result, then it is to be avoided at all costs.  If you have any sense that your actions are at all evil, then they probably are.  Resolve to avoid illgotten gains at all cost.  It will hurt others, but it can destroy you.  In fact, any advantage one gains by acting in any of these ways will someday come back around to harm us.
 
## Wisdom’s Rebuke

> 20 Out in the open wisdom calls aloud, she raises her voice in the public square;  
21 on top of the wall[d] she cries out, at the city gate she makes her speech:  
22 “How long will you who are simple love your simple ways? How long will mockers delight in mockery and fools hate knowledge?  
23 Repent at my rebuke! Then I will pour out my thoughts to you, I will make known to you my teachings.  
24 But since you refuse to listen when I call and no one pays attention when I stretch out my hand,  
25 since you disregard all my advice and do not accept my rebuke,  
26 I in turn will laugh when disaster strikes you; I will mock when calamity overtakes you—  
27 when calamity overtakes you like a storm, when disaster sweeps over you like a whirlwind, when distress and trouble overwhelm you.  
28 “Then they will call to me but I will not answer; they will look for me but will not find me,  
29 since they hated knowledge and did not choose to fear the LORD.  
30 Since they would not accept my advice and spurned my rebuke,  
31 they will eat the fruit of their ways and be filled with the fruit of their schemes.  
32 For the waywardness of the simple will kill them, and the complacency of fools will destroy them;  
33 but whoever listens to me will live in safety and be at ease, without fear of harm.”  
 
**Vs. 20-33:** In this section wisdom is personified, that is, given a personality like a living person.
All the words for wisdom in Hebrew are feminine nouns, plus in Proverbs 1:20–33 and Proverbs 8:1—9:12, wisdom is personified as a woman who has much to offer.  So I will use feminine pronouns to speak of wisdom throughout these commentaries.

Wisdom goes to the public square on top of the wall at the city gate.  This is the most public place wisdom can go to call out to everyone that will listen that they need to desire wisdom.  First, she calls out to those who need wisdom most, the simple, mockers, and fools.  They should repent of their satisfaction at being simpletons, mockers, and fools.  By not seeking wisdom such people are stuck in their foolishness, for wisdom is always available, just like when she calls out from the most public place.

For their foolishness at ignoring wisdom they will be mocked by wisdom when their foolishness brings disaster and calamity to their lives, and they find themselves overwhelmed with distress and trouble.  Since we live in a fallen world wisdom can guarantee that disaster and calamity will come into all our lives, but will we have the wisdom to know how to handle such struggles.  It starts with fear of the Lord.  That is always the beginning of wisdom.  When we turn to the Lord in our times of struggle God protects, provides, and guides.  The more we have searched and found wisdom before calamity the more God has to work with to lead us to the greatest victories in life’s struggles.  But if one remains a fool by not fearing the Lord, then God has nothing to work with and that person is going to be overwhelmed with distress and trouble, and will not understand why s/he is experiencing distress and trouble because s/he is a fool.  When one neglects the gift of wisdom which is always available to us, through reading, correction by the wise, studying the wise, and countless other means to gain wisdom, then they set themselves up to be overwhelmed by life’s struggles.

So, what does it mean to fear the Lord?  What do you fear the most?  Most people say they fear things like death and speaking in front of people the most.  Spiders and snakes are way up the list as well.  I believe that what most people actually fear the most is for people to think poorly of them.  People will change their careers, marriage partners, residences, and just about everything else in their lives if they think it will improve what people think about them.  Now replace what people think about you with what God thinks.  That is fearing the Lord.  To fear the Lord is to be terrified to live any part of one’s life without God or God’s blessing.  It is to desire to know what God thinks is important in your life more than anything else.  It is to live your life in such a way that the most important thing in everything you think, say, and do is focused on glorifying God.  When one lives this way then they will naturally gain wisdom because God will lead them to those places in life to learn the wisdom they need for the future calamities of life.  God will not only prepare us for those calamities, He will make sure we have the wisdom to turn those calamities into great victories to advance the Kingdom of Heaven on earth.  There will no longer be life struggles that overwhelm us when we fear the Lord.  There will only be ministry opportunities to glorify God and bring God’s love, peace, and healing miracles to the world around us.  That is why fear of the Lord is the beginning of wisdom.  To choose any other path is to walk with fools.
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
