{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Invitations of Wisdom and Folly

> 9 Wisdom has built her house; she has set up[a] its seven pillars.
2 She has prepared her meat and mixed her wine; she has also set her table.
3 She has sent out her servants, and she calls from the highest point of the city,
4 “Let all who are simple come to my house!” To those who have no sense she says,
5 “Come, eat my food and drink the wine I have mixed.
6 Leave your simple ways and you will live; walk in the way of insight.”

Vs. 1-6: These verses are a poetic look at the house of wisdom. She has built it strong with
seven pillars, the number of perfection. God created the world in six days and rested on the
seventh. The number of seven appears throughout the Bible and when it does it points to God.
Also, how big is a house with seven pillars. We have rarely seen homes with more than 3 or 4
pillars, and those are usually mansions. A seven pillared house is massive. Also, She has set a
fine table of choice foods. She has sent out servants to call the people to come and dine at her
banquet table. She especially calls those with no sense and the simple. They can leave their
simple and senseless ways and gain wisdom. It is there for their choosing, if they will only
choose to eat.

> 7 Whoever corrects a mocker invites insults; whoever rebukes the wicked incurs abuse.
8 Do not rebuke mockers or they will hate you; rebuke the wise and they will love you.
9 Instruct the wise and they will be wiser still; teach the righteous and they will add to their learning.

Vs. 7-9: This is a classic style of proverb with its statement of wisdom, and then a restatement by
stating the opposite. The statement of wisdom is that one is wasting time correcting the mocker
and the wicked. They will only turn on you. However, if you rebuke the wise they will love
you, for they see the rebuke as a way to become wiser. The righteous see rebuke as a way to
grow in learning. We don’t run into many people that can handle rebuke or correction. We see
such things as personal attacks, and usually hate the person for believing they have any right to
point out our flaws no matter how right and wise they may be. This is the attitude of the mocker
and the wicked. We do not want it to be our attitude. All of us must learn to recognize when we
are receiving counsel, not take it personally, carefully review the counsel that is being offered,
and use the wisdom we have already accumulated to become wiser. If you can accomplish this
over time you will not only become wiser, but people will recognize wisdom in you.

> 10 The fear of the LORD is the beginning of wisdom, and knowledge of the Holy One is understanding.
11 For through wisdom[b] your days will be many, and years will be added to your life.
12 If you are wise, your wisdom will reward you; if you are a mocker, you alone will suffer.

Vs. 10-12: Another classic proverb. Proverbs 9:10 is a great summary verse of the entire book
of Proverbs. If I were to encourage you to memorize one verse from Proverbs it would be verse
9:10. Again, it tells us the most important wisdom is fear of the Lord is the beginning of wisdom.
My interpretation of this is that fear of the Lord has to do with our desire to live our lives
completely in the presence of the Lord. We fear doing anything in life without the Lord more
than anything else in life. When we come to this point we must remember that this is only the
beginning of wisdom. We have only started on the journey of wisdom when we have a healthyfear of the Lord. As this desire to do all things in the Lord grows we will also gain the
knowledge that brings understanding. The knowledge it is pointing to is to know the character of
God. We begin to have understanding of the world and our lives when we know that God is not
just loving, God is the very definition of what love is. We love because God first loved us (I
John 4:19). God is not just good; God is the very definition of what goodness is. The same is
true of God’s justice, mercy, sovereignty, holiness, wisdom, and faithfulness. The one who is
wise in the Lord will be rewarded. The opposite is more of an addendum, that the mocker will
suffer.

> 13 Folly is an unruly woman; she is simple and knows nothing.
14 She sits at the door of her house, on a seat at the highest point of the city,
15 calling out to those who pass by, who go straight on their way,
16 “Let all who are simple come to my house!” To those who have no sense she says,
17 “Stolen water is sweet; food eaten in secret is delicious!”
18 But little do they know that the dead are there, that her guests are deep in the realm of the dead.

Vs. 13-18: This chapter closes with the opposite of where it began. As wisdom is a wise woman
with a great mansion and a banquet table of choice foods of wisdom to dine on. So folly is an
unruly woman who is simple, knows nothing, sits around lazily and calls out to all the simple
and nonsensical folk to drink her stolen water and eat her secret food. The secret is that
everything in the house of folly leads to death. The choice is ours. Go into the house of wisdom
and dine on food that brings life. Go into the house of folly, and dine on the food that brings
death. Socrates said, “The unexamined life is not worth living.” If we don’t consciously decide
to seek wisdom then we will find folly, foolishness, and laziness by default.

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
