{% set pageName = "Proverbs 8 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-8-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Wisdom’s Call 

> 8 Does not wisdom call out? Does not understanding raise her voice?  
2 At the highest point along the way, where the paths meet, she takes her stand;  
3 beside the gate leading into the city, at the entrance, she cries aloud:

**Vs. 1-3:** In this chapter Solomon will personify wisdom.  These first three verses set the stage for wisdom to begin speaking directly to us the reader.  These verses tell us that wisdom is calling out, raising her voice, taking her stand, and at the city gate calling out to us to listen.  Then **Vs. 4 wisdom begins her speech. 

> 4 “To you, O people, I call out; I raise my voice to all mankind.  
5 You who are simple, gain prudence; you who are foolish, set your hearts on it.
 
**Vs. 4-5:** Wisdom calls the simple to turn from their simpleton ways, and desire to gain prudence.  She calls to the foolish to turn from their foolishness and set their hearts on her.  How does one discover that they are simpletons and foolish?  I think we will all agree that all the simpletons and fools we know are blind to their own ways.  It is the rare person who looks at their lives honestly and declares, “I am a simpleton and a fool, I need to seek out wisdom.”  So Solomon is singing to the choir, unless the simpleton or the fool is you or me, and we are the blind ones.  Are you a simpleton or a fool? 
 
> 6 Listen, for I have trustworthy things to say; I open my lips to speak what is right.  
7 My mouth speaks what is true, for my lips detest wickedness.  
8 All the words of my mouth are just; none of them is crooked or perverse.  
9 To the discerning all of them are right; they are upright to those who have found knowledge.

**Vs. 6-9:** Wisdom declares her trustworthiness, that what she speaks is right and true.  She detests wickedness.  All her words are just and none are crooked or perverse.  Perhaps the answer to the question raised above, “How does one discover that they are simpletons and foolish?,” may be found in **Vs. 9b, “they are upright to those who have found knowledge.”  Do we seek wisdom?  Is it something we value, and do we try to be in the presence of those that are wise?  On this last question I hasten to add, Proverbs 9:10 is probably the most important verse to help us discern who is actually wise.  It states, “The fear of the LORD is the beginning of wisdom.”  That means the level of wisdom is directly proportional to the level of one’s faith.  An atheist, no matter how many degrees they have, cannot be trusted to have any actual wisdom.  They may sound wise, but all their assumptions about life are based on fallacious foundations.  One can even wonder if the atheist actually knows anything of value, or if they are the biggest fools of all.   

> 10 Choose my instruction instead of silver, knowledge rather than choice gold,  
11 for wisdom is more precious than rubies, and nothing you desire can compare with her.

**Vs. 10-11:** In this brief section wisdom compares herself to silver, gold, and rubies.  She is more precious than all these and no jewel can compare to the instruction and knowledge gained from her.

> 12 “I, wisdom, dwell together with prudence; I possess knowledge and discretion.  
13 To fear the LORD is to hate evil; I hate pride and arrogance, evil behavior and perverse speech.  

**Vs. 12-13:** Wisdom dwells with prudence so we have both knowledge and discretion.  **Vs. 13 is probably the most important verse in this chapter.  Wisdom will teach us to fear the Lord by teaching us to hate evil.  Since God hates evil (Psalm 97:10, Proverbs 6:16-19 amongst many others) we show that we are growing in wisdom when we hate evil.  Wisdom speaks specifically of arrogance, evil behavior, and perverse speech in **Vs. 13.  This is not an exhaustive list, but it is a very good starting point for the person who wants to search for wisdom and grow wise.

> 14 Counsel and sound judgment are mine; I have insight, I have power.  
15 By me kings reign and rulers issue decrees that are just;  
16 by me princes govern, and nobles—all who rule on earth.

**Vs. 14-16:** With wisdom comes power, the ability to provide good counsel, and sound judgment. Through wisdom kings reign and princes govern.  Solomon’s son, Rehoboam, called upon an old group of counselors and a young group of counselors.  Both groups were presumably wise.  He listened to the young group and soon lost the kingdom to civil war.  Knowing who can provide good counsel and sound judgment is not easy.  The son of Solomon failed miserably at it.

> 17 I love those who love me, and those who seek me find me.  
18 With me are riches and honor, enduring wealth and prosperity.  
19 My fruit is better than fine gold; what I yield surpasses choice silver.  
20 I walk in the way of righteousness, along the paths of justice,  
21 bestowing a rich inheritance on those who love me and making their treasuries full.

**Vs. 17-21:** This section is pretty repetitive.  It again reiterates that wisdom is greater than riches, honor, wealth, and gold.  It adds that one will become rich if they follow the guidance of wisdom.  **Vs. 17 introduces a deeper hunger for wisdom, that we are to love her.  Both the Old and New Testament call us to love God with all our heart, soul, mind, and strength (Deuteronomy 6:5, John 10:27 and the other three Gospels).  If our love for wisdom leads us to a deeper love for God, then it is truly wisdom.  Any other wisdom should be questioned and doubted.

> 22 “The LORD brought me forth as the first of his works,[c][d] before his deeds of old;  
23 I was formed long ages ago, at the very beginning, when the world came to be.  
24 When there were no watery depths, I was given birth, when there were no springs overflowing with water;  
25 before the mountains were settled in place, before the hills, I was given birth,  
26 before he made the world or its fields or any of the dust of the earth.  
27 I was there when he set the heavens in place, when he marked out the horizon on the face of the deep,  
28 when he established the clouds above and fixed securely the fountains of the deep,  
29 when he gave the sea its boundary so the waters would not overstep his command, and when he marked out the foundations of the earth.  
30 Then I was constantly[e] at his side. I was filled with delight day after day, rejoicing always in his presence,  
31 rejoicing in his whole world and delighting in mankind.  

**Vs. 22-31:** This section is unique to all the scriptures, and clearly a revelation from God for Solomon.  That God brought wisdom forth before all of creation.  That it was out of wisdom that the Trinity, Father, Son, and Holy Spirit, created the universe.  Then Solomon recounts the beauty of creation that grew out of God’s wisdom in setting up creation.  It reminds me of Paul’s words in Romans 1:18-20, “The wrath of God is being revealed from heaven against all the godlessness and wickedness of people, who suppress the truth by their wickedness, since what may be known about God is plain to them, because God has made it plain to them.  For since the creation of the world God’s invisible qualities—his eternal power and divine nature—have been clearly seen, being understood from what has been made, so that people are without excuse.”  This is another revelation of God that indicates we should question whatever wisdom that comes from the godless and those that are uncertain about God’s existence.  They will incorrectly understand the very foundations of creation.  If your fundamental assumptions about creation are wrong how can anything else you think about the way the world works be right.

> 32 “Now then, my children, listen to me; blessed are those who keep my ways.  
33 Listen to my instruction and be wise; do not disregard it.  
34 Blessed are those who listen to me, watching daily at my doors, waiting at my doorway.  
35 For those who find me find life and receive favor from the LORD.  
36 But those who fail to find me harm themselves; all who hate me love death.”

**Vs. 32-36:** These verses have Wisdom’s final call for us to listen to her.  When we do we will find life and receive favor from the Lord.  Those who hate wisdom harm themselves and only find death.

### Footnotes
a. Proverbs 8:5 Septuagint; Hebrew foolish, instruct your minds  
b. Proverbs 8:16 Some Hebrew manuscripts and Septuagint; other Hebrew manuscripts all righteous rulers  
c. Proverbs 8:22 Or way; or dominion  
d. Proverbs 8:22 Or The LORD possessed me at the beginning of his work; or The LORD brought me forth at the beginning of his work  
e. Proverbs 8:30 Or was the artisan; or was a little child

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
