{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}

> 14 The wise woman builds her house, but with her own hands the foolish one tears hers down.

The positive side of this proverb points to the Proverbs 31 woman at the end of the Book of
Proverbs. Proverbs 31 goes into great detail about how a good wife can bless her husband,
children, and community. These would be considered a part of building her house. In contrast,
the woman who acts the fool tears her house down, often without even knowing that she is doing
it, and is easily tempted to blame everyone else but herself. Such are the ways of foolishness.

> 2 Whoever fears the LORD walks uprightly, but those who despise him are devious in their ways.

We often lump people into categories like good people, bad people, trustworthy people, and
those that are untrustworthy. This proverb should stand as a warning that the only category that
really matters is those that fear the Lord, and those that do not. Those that do fear the Lord have
made a choice and desire to live lives in righteousness. They will search for wisdom with all
their heart for they know that fear of the Lord is only the beginning of wisdom. Those that do
not fear the Lord are very unpredictable. They have not chosen to be righteous. They can appear
righteous at times, but that is usually a façade or by luck. Since they have chosen to try to be
good most of the time, but they have also given themselves the out to fall short. They can turn
out to be wicked at the most inopportune times. These are usually the most important times to
find out if a person is righteous or not. This proverb reminds us that all the proverbs point us to a
closer walk with the Lord, whether God is mentioned or not.

> 3 A fool’s mouth lashes out with pride, but the lips of the wise protect them.

We can learn a lot about a person by the way they talk. When a fool becomes defensive they
lash out with pride. Since arrogance is a lot easier to see in others than it is in ourselves, we can
at least have an insight that a person is a fool when they do this. Defensiveness is usually a sign
of foolishness in and of itself because fools also don’t learn and take counsel from the wise very
well either. The wise are not so quick to defend themselves, but speak sparingly, and with focus,
and we will find that such speech is very protective of the wise.

> 4 Where there are no oxen, the manger is empty, but from the strength of an ox come abundant harvests.

One can apply this to the life of a farmer, and the proverb has a simple meaning. A farmer
without an ox cannot plough his fields, and will therefore not have a large harvest. If we look at
this metaphorically then the harvest represents the blessing of the Lord. The ox represents the
tools or spiritual gifts God blesses us with. If we use those gifts to the glory of God then the
harvest will be 30-fold, 60-fold, or 100-fold. If we choose not to use the gifts God gives us, or
don’t know what those gifts are then our manger will be empty. Jesus tells us in the Parable of
the Talents (Matthew 25:14-30) that God showers abundant gifts on all of His faithful, and we
will be well rewarded for using those gifts. If we choose not to use them, or don’t find out what
they are then we will be judged harshly. As in all the proverbs, the choice is ours.

> 5 An honest witness does not deceive, but a false witness pours out lies.

The honest witness does their utmost to always, always tell the truth. If a false witness begins
lying, they will have to pour out lies to cover their tracks. It rarely, if ever happens, that one lie
will cover all of one’s deceptions.

> 6 The mocker seeks wisdom and finds none, but knowledge comes easily to the discerning.

The word mocker means someone who argues, jeers, speaks with contempt, and is a generally
disagreeable person. In the context of Proverbs, I like to think of a mocker as an old-fashioned
term for someone that curses other people’s lives by their words and/or actions. Their bad
disposition makes it nearly impossible to find wisdom. It is noteworthy that Solomon seems to
use the words wisdom and knowledge synonymously here, but they are not the same word.
Knowledge is the gathering of information. People can be very knowledgeable without having
any wisdom. Wisdom begins when a person learns to fear the Lord, that is, a person is more
afraid to do anything in their lives without God than they are afraid of doing anything else.

> 7 Stay away from a fool, for you will not find knowledge on their lips.

We usually become like the people we spend time with. It is very rare that a fool seeks to spend
time with a wise person to begin becoming wise. It is far more likely that the wise person may
end up spending time with fools, since there are so many more fools than wise people. It is
important for the wise person to be able to recognize foolishness, or they are likely to findthemselves slipping into the fool’s world. One has to work at wisdom. Foolishness comes
easily.

> 8 The wisdom of the prudent is to give thought to their ways, but the folly of fools is deception.

The “folly of fools” is a sad phrase that captures the life of the foolish. Like arrogance, folly and
foolishness is easier to recognize in others than it is to see honestly in ourselves. One way we
can recognize folly and foolishness in ourselves, and make corrections, is to give thought to our
ways before we act. Even the wise are easily tempted to jump into an action that seems to be
right without taking some time to reflect on whether that action is folly or foolish. The prudent
person will recognize when they need to take that time to think about their ways, and then do so.

> 9 Fools mock at making amends for sin, but goodwill is found among the upright.

When we think of the phrase, “I’m human, I am not perfect,” as an excuse and not a description
of the human condition we all find ourselves in, then we are set to excuse our own sin, and live
in our blindness. We are indeed sinners, and can never be perfect, but that does not mean we
can’t strive for righteousness. It is God’s desire that we will strive for righteousness so that we
will be a better reflection of God who created us in His image. That is why being righteous is a
hard choice. Another benefit of making that hard choice is that it brings goodwill to others, as
this proverb notes.

> 10 Each heart knows its own bitterness, and no one else can share its joy.

This is one of the hardest proverbs I have had to deal with. There is an old Swedish proverb that
says, “Shared joy is a double joy; shared sorrow is half sorrow.” I find wisdom in this
statement, and yet it seems to be in direct contradiction to Solomon’s proverb. I did some
research on the internet by using the search words, “Meaning of Proverbs 14:10.” This came up
with a lot of answers. This is an extremely effective tool for your personal Bible study. Some of
the interpretations I found meaningful include this one from Biblehub’s commentaries (Proverbs
14:10 Commentaries: The heart knows its own bitterness, And a stranger does not share its joy.
(biblehub.com)). It says, “The inward griefs and joys of men’s hearts, though sometimes they
may be partly manifested by outward signs, yet are not certainly and fully known to any but the
persons themselves who are the subjects of them; or, as Bishop Patrick paraphrases the verse,“Nobody can know what another suffers so well as the sufferer himself; and he alone is privy to
the greatness of that joy which springs from the happy conclusion of his sufferings.” The scope
of the proverb may be, to keep men from murmuring under their own troubles, or envying other
men’s happiness.”

> 11 The house of the wicked will be destroyed, but the tent of the upright will flourish.

This proverb reminds me of the “Three Little Pigs” in reverse. The fairy tale would look a bit
different guided by this proverb. When the three pigs retreated into the brick house, if the third
pig were a wicked pig he would have made mistakes that would have compromised his otherwise
strong fortress. Or the big bad wolf may have been so enraged because the pig was a wicked pig
that he would have resorted to other methods than huffing and puffing to make sure he got that
wicked pig, e.g. dynamite. However, if the pigs were righteous perhaps they could win the wolf
over by their righteousness, and a tent would have been sufficient housing

> 12 There is a way that appears to be right, but in the end it leads to death.

This vague proverb reminds us that when we follow a path, even if we are certain it is the right
path, we may be wrong, and we may be very wrong. Politics can be that way. Today, we may
be certain we know the right path that should be taken politically speaking. But we have all had
political beliefs that we thought were right on that day, and time proved that our insights were
not that good, or even completely wrong. The key to avoiding slipping into the traps of certainty
that leads to death is to trust those paths the Lord sets before us. These paths will always prove
to be the right path when we love God. As Romans 8:28 reminds us, “And we know that in all
things God works for the good of those who love him, who have been called according to his
purpose.” Spending the time to know what God’s will is, and loving God with all our heart, soul,
mind and strength (Matthew 12:30, Luke 10:27) will be good antidotes to following a wrong
path that seems right.

> 13 Even in laughter the heart may ache, and rejoicing may end in grief.

I remember a wonderful day with a friend. We laughed and talked a lot about life. It was really
one of the best days I had ever spent with the friend. Three days later he committed suicide. As
a trained person in suicide prevention I can tell you there were no signs that he was thinkingabout committing suicide. Laughter is great medicine indeed, but it can also mask an aching
heart. Laugh whenever you can. If you don’t feel like laughing find out why, and take real steps
to solve the problem(s). Life is too short to live it with an aching heart and without rejoicing.

> 14 The faithless will be fully repaid for their ways, and the good rewarded for theirs.

This proverb reminds me of the law of identical harvest Paul gives us in Galatians 6:8, “Do not
be deceived: God cannot be mocked. A man reaps what he sows.” The whole text is a good one,
and I invite you to look it up. This text reminds us that God is a God of justice, and time does
not limit God in judging or rewarding the good and bad deeds we commit. It may not be obvious
to us that the wicked man is paid back for his wickedness while he is living the fast life of wine,
women, and luxury. However, we cannot know how God is dealing with this wicked man. It
should not concern us. Instead, we need to always trust that in our lives, and in all life, we will
reap what we sow, that is we will receive our just rewards.

> 15 The simple believe anything, but the prudent give thought to their steps.

Everything on the internet is true. I have a bridge in Brooklyn to sell you. I am with the
government; you can trust me. There are many things that people believe that just aren’t true. It
takes wisdom not to be deceived by falsehood that masquerades as truth. Another good reason to
examine and explore our lives fully and completely - Who wants to be considered a simpleton?
Bob Lewis (writer of Men’s Fraternity) once said, “The unexamined life is not fully lived.” I
like that proverb too. I ask again, who wants to be a simpleton? It is a rhetorical question. It
takes a choice to desire wisdom to escape the traps of being a simpleton. It is important to
remind ourselves always that the beginning of wisdom is fear of the Lord (Proverbs 9:10).

> 16 The wise fear the LORD and shun evil, but a fool is hotheaded and yet feels secure.

Though vs 15 didn’t mention God, all the proverbs point to God. This proverb about how wise it
is to fear the Lord reminds us of that as it follows vs. 15. When we fear the Lord we will do all
we can to shun evil. The fool will not make those important connections in life. They can
become hotheaded, but are too foolish to know they should not feel secure.

> 17 A quick-tempered person does foolish things, and the one who devises evil schemes is hated.

This proverb has no positive wisdom. It simply points out the pitfalls of foolishness and
wickedness. Having a quick temper and being a fool go hand in hand. As does being wicked
and being hated because of your evil schemes. These seem on the surface to be self-evident
truths, yet there is no end to the number of people who do not work at avoiding a quick temper,
and are captivated by evil schemes without thinking they are wicked. An honest understanding
of yourself is a very hard thing to have. The wise person will always desire to expose their blind
spots and have an honest understanding of themselves.

> 18 The simple inherit folly, but the prudent are crowned with knowledge.

It is easy to be simpleminded. It is easy to inherit folly. The consequences are hard, but
foolishness means to never have to take the hard road. Instead the fool blames others and is
clueless why life seems so hard. These are the rewards of being a simpleton and a fool. The
prudent gains a crown of knowledge. It is important to remember that knowledge is the
accumulation of information. Whether Solomon uses knowledge and wisdom interchangeably I
am not sure. I do not use them interchangeably. Wisdom begins with fear of the Lord. If we
don’t have that as our foundation, then true wisdom will always elude us. The knowledge that is
more than the accumulation of facts, and compliments wisdom associated with fear of the Lord,
is knowledge of who God is. This kind of knowledge teaches us about God’s character, how
God acts, and what things God blesses and curses. When Solomon uses the word knowledge this
way then knowledge and wisdom both point to God.

> 19 Evildoers will bow down in the presence of the good, and the wicked at the gates of the righteous.

Evildoers and the wicked don’t actually bow down before anyone. They are too arrogant, selfabsorbed, devious, and obsessed with a hunger for wickedness to ever humble themselves in this
way. This is a proverb of what life teaches us, that because of God’s justice, and the way He has
designed creation, goodness, love, mercy, compassion, forgiveness, and the other blessings of
faith bring with them respect and reward. It is just like Jesus dying on the cross. As Jesus
looked down upon his murderers from His cross, He asked His heavenly Father to forgive them
for they didn’t know what they had done, (Luke 23:34). They never bowed down to Jesus, ever!
But creation bows down to Jesus, who is the redeemer of all creation. Also, His followers bowdown before Him, as we seek to gain the wisdom to understand the ways of our heavenly Father,
and experience salvation and eternal life.

> 20 The poor are shunned even by their neighbors, but the rich have many friends.

This is a statement about the way things are. Being poor is not necessarily a determiner of
wickedness, any more than being rich means you are righteous. Jesus struggled with this Jewish
belief which infects our world in every age. It is not true that the rich are so because they are
receiving the blessing of the Lord, and the poor are so because they are being cursed by God. It
is common that righteousness brings with it a reward of financial wealth, but this is not always
the case. It is common that wickedness can bring poverty, but this is not always the case either.
So this proverb needs other proverbs to complete its wisdom. By itself it simply tells us the way
things are.

> 21 It is a sin to despise one’s neighbor, but blessed is the one who is kind to the needy.

The way this is phrased the question that needs to be asked is the same one asked of Jesus, “Who
is my neighbor?” In the parable of the good Samaritan Jesus takes the despised Samaritan and
turns him into the hero of the story. Through this parable Jesus demonstrates that our neighbor is
anyone that is in need. It is not a geographical question but a question of mercy. Who needs the
love of Jesus Christ in their life? That person is my neighbor. It may be a sin to despise one’s
neighbor, as the proverb says, but it is really hard and sometimes dangerous to be kind to
someone in need. Care for someone in need anyway and trust God to bring the blessing for your
service in the name of Jesus Christ.

> 22 Do not those who plot evil go astray? But those who plan what is good find[a] love and faithfulness.

As we have tracked through 14 chapters of Proverbs there is a sense of predictability with many
of these proverbs. If someone is in the habit of plotting evil, then they will go astray. Those that
plan good will find love and faithfulness. We think, “Of course.” Then we must step back and
ask, “Why does the wisest man who ever lived keep finding new and different ways to say the
same thing?” I think it is because the message is so important and so hard to live in real life.
Normally, a person doesn’t dive into the whole book of Proverbs at once, but approaches it over
time, reading small pieces at a sitting. Then you will find that the message keeps hitting you,that if you plot evil, choose wickedness, consume deceit, allow darkness in your heart, and all the
other ways we can choose the path of wickedness we separate ourselves from God and all His
blessings. On the other hand, choosing righteousness over and over again, day in and day out,
year in and year out, for a lifetime will yield an amazing life in spite of all the pitfalls and
fallenness of the world which is hard and unfair. So choose life, choose righteousness, choose
the light of Christ.

> 23 All hard work brings a profit, but mere talk leads only to poverty.

I have worked hard before and it has come to very little, but the good discipline of learning how
to always work hard will lead to the truth of this proverb, that the willingness to always work
hard may not bring profit today, i.e. short term rewards, but hard work will eventually pay off.
So, always work hard. Very little ever comes of talking about working hard. Many people know
how this can easily lead to poverty.

> 24 The wealth of the wise is their crown, but the folly of fools yields folly.

What is the wealth of the wise? Wisdom doesn’t always bring financial riches, but the wise are
always wealthy. With wisdom comes a strong home, healthy relationships with one’s spouse,
children, and friends, respect in the community, and most importantly a close walk with the Lord
who the wise want to keep at the center of everything in their lives. When we have all these
things then we are a very rich person who can wear a beautiful crown fashioned by our God who
showers blessings upon those who choose righteousness. On the other hand, fools and folly go
together like flies and smelly things (your choice what smelly things fit best in this metaphor).

> 25 A truthful witness saves lives, but a false witness is deceitful.

One who chooses wisdom and righteousness and to fear the Lord will also speak truthfully,
especially in court. This is not true for the lying witness.

> 26 Whoever fears the LORD has a secure fortress, and for their children it will be a refuge.

I have been quick to lift up these proverbs that speak of fearing the Lord. Here, Fear of the Lord
brings a safe home for one’s children. In our world today many parents are trying to raise good
kids without the help of God. Let’s just imagine that you could do this. What would it looklike? You would want to teach the child to choose righteousness, be upright, tell the truth, speak
words that are a blessing to others, and desire wisdom. This short list of things we would want
to teach a child are all very difficult to accomplish without the help of God. The best you could
hope for is that your child would shoot for the middle between righteousness and wickedness.
My experience tells me that life, or one’s desires, or satan will make sure the child will one day
face a challenge where to be righteous will be very expensive. Then they have to decide if they
will still choose righteousness. If they have no fear of the Lord, then they have no reason to
make a great sacrifice, and almost always that adult child will choose to satisfy their own desires.
Without God that will almost always set up a slippery slope of falling into wickedness, with
occasional pangs of guilt (wherever those come from when one doesn’t believe in God), at which
point they might fight back out of the darkness, but will always be satisfied with a place in the
middle that is below where the middle used to be. And what about teaching our children wisdom
without the help of God? Since Fear of the Lord is the BEGINNING of wisdom, then we can be
assured whatever wisdom we think we bestow on our children is a kind of fake wisdom, that
resembles more of an accumulation of bits of knowledge that a person can spout off periodically
to impress other people with how wise one is. The proverbs teach us clearly that one cannot be
truly wise without Fear of the Lord. On the other hand, all of the things we want to teach our
children can be accomplished when we put God at the center of our home.

> 27 The fear of the LORD is a fountain of life, turning a person from the snares of death.

The person who fears the Lord will know that our bodies are a temple of the Holy Spirit.
Therefore, that will help motivate a person to take care of themselves physically. The person
who fears the Lord will find that letting God into one’s heart will bring peace and comfort, thus
reducing worry and stress. Their heart will stay stronger. The person who fears the Lord will let
God redeem their imperfect love, thus making their relationships better, bringing more joy to
their life. The person who fears the Lord will find more satisfaction in their work because they
work to glorify God. Therefore, something that one does with about 1/3 of their life is dedicated
to serving God and one will receive rich blessings for their work, bringing meaning and purpose
to life. The list goes on and on of how Fearing the Lord makes life healthier and richer, and
gives us the wisdom to turn away from other choices that can cause worry, stress, physical
problems, and an early death.

> 28 A large population is a king’s glory, but without subjects a prince is ruined.

Solomon’s son, Rehoboam, could have benefitted much from learning this proverb from his
father. When Rehoboam took the throne the nation of Israel was at the height of its political,
military, and economic power. But Solomon had relied on much forced labor and taxation from
the 10 northern tribes to accomplish much of this. When Rehoboam was crowned king the
people of the north asked him to take it easy on them and they would be loyal to him.
Rehoboam’s older advisor’s surely quoted this proverb to encourage Rehoboam to lighten the
load on the north. The younger adviser’s brashly told him to show them his power. Make them
bend to his will. He listened to the youngsters and the north told him to go his own way. Within
years both kingdoms were weak, and fell into idolatry, and decline of the economy, spiritual life,
wealth, military power, and eventually collapse. Together, with more subjects all focused on
serving the one true God, they were powerful in every way. Divided, idolatrous, and concerned
about their personal glory there was weakness and collapse, just like the proverbs tell us.

> 29 Whoever is patient has great understanding, but one who is quick-tempered displays folly.

We live in a world of instant gratification, but that does not mean we should wallow in it.
Patience is a virtue that is rarely valued in our fast-paced world of instant gratification. Patience
is a hard virtue to develop because when we ask God to help us be patient He has to teach us
patience by putting us into situations that require patience. It takes wisdom and understanding to
be comfortable with delayed gratification. We have to be able to see the unseen rewards that
come with waiting on the Lord. We have to learn to trust that we will reap what we sow, but not
NOW! God makes us wait for things because it makes us have stronger faith, trust Him more,
and most importantly draw closer to Him. We need to recognize when we are being seduced by
the world of instant gratification, and draw on our growing wisdom that comes with patience.
Any other path is foolishness and will lead to things like a quick temper, which benefits no one.

> 30 A heart at peace gives life to the body, but envy rots the bones.

satan loves to fill us with his dark virtues like envy and jealousy. They cause all kinds of
spiritual, emotional, and physical maladies that slowly rot us from the inside out. Paul tells us to
wear the shoes fitted with the gospel of peace as a part of the armor of God (Ephesians 6:10-18).When we equip ourselves with shoes that cover us with the gospel of peace we can walk into the
storms of chaos and calm the storms in the name of Jesus. I think it is important for all mature
Christians to put on the armor of God every day, through prayer. My prayers to have the peace
that passes all understanding has changed the way I act, especially in times of emergencies. One
day an SUV was hit by a bigger truck and was spinning right for my car at about 45 mph. God
intervened and moved the trajectory of the SUV at almost a 90-degree angle away from all other
cars including my own. I spent a moment praising God for his protection, and then knew God
was calling me to be a peacemaker for the drivers of the two cars that had collided. The woman
driving the SUV was not injured but was out-of-control hysterical. Who wouldn’t be after
spinning out of control at a high rate of speed past many other cars? Praying on the armor of
God and having feet shod with the gospel of peace can help someone not be hysterical in a life
threatening situation. I was able to calm her and the truck driver down, and then see God bring
peace into her life when I was moved by Holy Spirit to pray for her. That prayer changed
everything about the accident scene. That is a beautiful example of how peace brings life to
one’s body.

> 31 Whoever oppresses the poor shows contempt for their Maker, but whoever is kind to the needy honors God.

The prophets and Jesus spoke a lot about the poor. When Jesus reads from the prophets back in
his home synagogue in Nazareth He reads Isaiah 61:1-2, ““The Spirit of the Lord is on me,
because he has anointed me to proclaim good news to the poor. He has sent me to proclaim
freedom for the prisoners and recovery of sight for the blind, to set the oppressed free, to
proclaim the year of the Lord’s favor.” After reading this he tells all the people who saw him
grow up, “Today this scripture is fulfilled in your hearing” (Luke 4:18-21). In Matthew 25:40,
“Truly I tell you, whatever you did for one of the least of these brothers and sisters of mine, you
did for me.” The “least of these” are all the people that are poor, hungry, naked, and sick and
need someone to care for them. God cares about the poor and He wants us to care as well. He
will honor us with His saving power as Jesus states in Matthew 25:38, ““Then the King will say
to those on his right, ‘Come, you who are blessed by my Father; take your inheritance, the
kingdom prepared for you since the creation of the world.” There is no greater gift than to
receive the Kingdom of Heaven. Jesus says those who ignore people in need will be judged
harshly, even to hell. This proverb provides a glimpse of the teachings of Jesus regarding God’sdesire for His people to take care of those in need, to become servants to King Jesus who is the
king of servants.

> 32 When calamity comes, the wicked are brought down, but even in death the righteous seek refuge in God.

What causes people the most fear? Most lists include snakes, speaking in public, and heights. If
the list doesn’t have death first then it is a suspect list. People today fear death, and they should
if they are not secure in their faith in Jesus Christ. There is no other name by which we are
saved. For those that don’t get right with Jesus they have three options. 1) Accept that they will
be going to hell for eternity. 2) Pretend there is no God and they are just going to die and it will
be over. 3) Not think about it at all. All three are pitiful options, but in my experience #3 is the
worst. In their attempt to not think about death it rears its ugly head at all the wrong times (thank
you satan), and they are totally unprepared for the emotional upheaval that follows, often making
bad choices and hurting the people around them. All they want is for death to go away so they
can stop thinking about it again. God does not want this for any of us because He loves us. But
He has also given us free will, and so He will not destroy our free will to save us from ourselves.
When our faith sets us completely free from the fear of death then there is nothing in life that can
truly hurt us. That is one of the many reasons why the fear of the Lord is the beginning of
wisdom. It teaches us not to be afraid of death.

> 33 Wisdom reposes in the heart of the discerning and even among fools she lets herself be known.[b]

This proverb is hope for the foolish. We have seen over and over that we must choose to search
for and find wisdom. If we expect to become wise by default, we will actually choose
foolishness. That wisdom lets herself be known even to the foolish means that the door for
change is always open. A person can live the life of the fool for decades, and then decide, “No
longer!” Wisdom always waits to be searched for again.

> 34 Righteousness exalts a nation, but sin condemns any people.

God has woven into creation that there is a special place for leaders in influencing the morals of
a nation. When a nation’s leaders are immoral and unjust the nation becomes weak. When a
nation is led by righteous and moral people it will strengthen the nation. When we look closely
at the books of Judges, I & II Samuel, I & II Kings, and I & II Chronicles God makes this clear.When the judge or king was righteous the nation thrived in every way. When the nation was led
by a judge or king that was immoral and idolatrous the nation fell into bondage. When we look
at the moral character of our nation’s leaders today one must wonder what the future holds, for
righteous leaders seem very rare out of either party in our country today.

> 35 A king delights in a wise servant, but a shameful servant arouses his fury.

This does not strike me so much as wisdom but as a description of the way things are. Kings are
used to getting what they want. We see this vividly in Matthew 2:3 when King Herod is asked by
the Magi where the King of the Jews has been born Matthew writes, “When King Herod heard
this he was disturbed, and all Jerusalem with him.” Not only was Herod not happy with this
question but He brought the rest of Jerusalem in on his anger. A wise servant will almost always
please any king. The king just doesn’t have time to deal with a shameful servant. It is the nature
of being a king.

### Footnotes
a. Proverbs 14:22 Or show  
b. Proverbs 14:33 Hebrew; Septuagint and Syriac discerning / but in the heart of fools she is not known

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
