{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}

## Proverbs of Solomon

> 10 The proverbs of Solomon: A wise son brings joy to his father, but a foolish son brings grief to his mother.

Vs. 1: Chapter 10 begins the proverbs of Solomon proper. Most of the rest of the chapter will
have one-line statements of wisdom that will usually make a statement and then follow it with
the opposite. They will cover a wide variety of topics that I have grouped into eight categories in
the chapter 1 commentary. The beauty of the proverbs is that God uses different proverbs in our
lives at different times. Today you may read a proverb and it means very little to you. A year
from now God may lead you back to that same proverb and it speaks important wisdom into your
life. Therefore, we will always get something new out of “The Book of Proverbs” because they
will always speak to us differently depending on where we are in our lives. For that reason, my
commentary may seem meaningful to me today, but another day I would change my mind
completely on how God is using that proverb in my life. Proverbs contains thirty-one chapters,
about twenty of them contain twenty to thirty-five wise sayings that are each two poetic lines
long. To help move through them the proverbs will be in bold, and my comments will not be in
bold.
Commenting on vs. 1, After prefacing much of the wisdom offered in the first nine chapters
as an address for his son, this proverb simply states that a wise son brings joy to his father. Why
does the son desire to bring joy to his father or grief to his mother? A son rarely intends to bring
grief to his parents. It is just that sons and daughters rarely have the wisdom to make the
connection that choices they make in one area of life affect the other areas of their lives.
Wisdom is not something someone wants and therefore has. The search to become wise is a
lifestyle choice one must make consciously.

> 2 Ill-gotten treasures have no lasting value, but righteousness delivers from death.

What makes a treasure ill-gotten? It is a wise person who can see a treasure and then see clearly
if to have that treasure is ill-gotten or deserved. Many movies have a scene where a character
walks through a cave of treasures, warned that s/he can have none of these treasures or they willlose their life. The character can rarely resist the temptation of the ill-gotten treasure that is
forbidden. The character in the movie that does not fall to temptation usually proves to be a
righteous person, worthy of the greatest prize in the cave of treasures. That is a good metaphor
for life.

> 3 The LORD does not let the righteous go hungry, but he thwarts the craving of the wicked.

The hand of God is protecting and providing for the righteous person, no matter his/her needs.
However, it is rare to have faith to trust God completely with our needs. We usually get tired of
waiting on God who is refining us, and try to solve our problems ourselves. As far as thwarting
the wicked, it often doesn’t appear to be true from a surface perspective. Too often, it appears
the wicked do well. But we do not know the torment and inner conflicts the wicked struggle
with, as well as the outward battles with enemies who seem to grow in number as the years of
wickedness continue.

> 4 Lazy hands make for poverty, but diligent hands bring wealth.

Our modern understanding of poverty is that circumstances and unfairness bring poverty. It is
not laziness that causes poverty. Statistically speaking, I once read that 90% of people in poverty
got there by breaking one of three life rules. Don’t get pregnant in high school. Don’t get
pregnant out of wedlock. Earn a high school diploma or its equivalent. The other 10% are
struggling in poverty for a whole host of reasons. Avoiding laziness academically and morally
would have a huge impact on reducing the number of people in poverty. Hard work and diligent
hands will eventually win out.

> 5 He who gathers crops in summer is a prudent son, but he who sleeps during harvest is a disgraceful son.

Harvest is a very important time of year. The son who is such a fool as to be sleepy and lazy in
harvest deserves to be disgraced. Knowing the times is an important knowledge if one desires to
be wise. There are times to be restful. Harvest is not one of them.

> 6 Blessings crown the head of the righteous, but violence overwhelms the mouth of the wicked,

Righteousness brings a crown of blessings to our lives. But this is not instant gratification. This
is delayed gratification which brings the blessings of a righteous lifestyle, not just a day of
righteousness. The wicked will live violent lives, whether that be in the form of enemies or inner
turmoil.

> 7 The name of the righteous is used in blessings,[b] but the name of the wicked will rot.

What thoughts come to your mind when you read these names: Jesus, Abraham Lincoln, George
Washington, Billy Graham? What thoughts come to your mind when you read these names?
Judas, Adolph Hitler, Fidel Castro, Joseph Stalin? The point is clear. Build a good name by
adopting a lifestyle of righteousness.

> 8 The wise in heart accept commands, but a chattering fool comes to ruin.

This reminds me of players who their coach says are coachable. They are almost always a player
who plays above his/her natural ability. A chattering fool cannot be coached and they usually
find out the highest level of their ability is far lower than it actually is. This is true in life as well
as sports.

> 9 Whoever walks in integrity walks securely, but whoever takes crooked paths will be found out.

Crooked paths involve lying and deceit, and it gets very complicated to cover one’s lies. As the
saying goes, “Oh! What a tangled web we weave, when first we practice to deceive! (quoted
from the play Marmion by Sir Walter Scott). We do not have to be concerned about the path
when we walk in integrity.

> 10 Whoever winks maliciously causes grief, and a chattering fool comes to ruin.

This proverb has no opposite. It is two warnings against foolishness. Don’t wink maliciously
and don’t chatter like a fool.

> 11 The mouth of the righteous is a fountain of life, but the mouth of the wicked conceals violence.

This is very similar to vs. 6. It is different in that both parts of the proverb deal with the way
people talk. The righteous talk in a way that brings life. The wicked talk in a way that brings
violence. Few people want to be wicked, yet they are unwilling to notice that their lives are full
of violence. Most people who encounter tough times think life is unfair, which it is. More often
than not, that person is doing wicked things blindly that cause the violence they experience.

> 12 Hatred stirs up conflict, but love covers over all wrongs.

It is easy to see conflict spring up around hatred. A person’s hatred can make them irrational
about what is actually going on in their lives. Love, on the other hand, is the most powerful
force for good and change in the universe, if we will seek to learn the lessons of unconditional
love, and seek to practice those lessons to the point of sacrifice, like Jesus did.

> 13 Wisdom is found on the lips of the discerning, but a rod is for the back of one who has no sense.

My favorite proverbs talk about how the wise will take instruction, critique, and even criticism
without becoming defensive. This is one of those proverbs. The wise person discerns and
speaks of wise things. The person with no sense must have sense knocked into them, and even
then the knock may prove to knock them senseless.

> 14 The wise store up knowledge, but the mouth of a fool invites ruin.

This reminds me of the quote, “It is better to remain silent and be thought a fool than to speak
and to remove all doubt.” It is very similar to Proverbs 17:28, “Even fools are thought wise if
they keep silent, and discerning if they hold their tongues.

> 15 The wealth of the rich is their fortified city, but poverty is the ruin of the poor.

This is a hard proverb for me to understand. It seems to be saying that the rich use their wealth
to protect themselves like a city is protected by its fortifications. The poor have no such
protection, and their poverty exposes them to ruin. Combined with the vs. 4, “Lazy hands make
for poverty, but diligent hands bring wealth,” it seems Solomon believes that poverty is a choicelike foolishness, wickedness, and laziness. My experience working with the poor can support
this to some extent. This is a very different way of looking at poverty than our modern way. We
should see poverty from a moral perspective, not a socio-economic perspective. It would then
follow that a person who finds themselves in a place of poverty can choose to love and trust God,
live a life of integrity, seek and gain wisdom, and that person would eventually leave the life of
poverty. What we are doing today doesn’t seem to be working that well. We should look at this
carefully.

> 16 The wages of the righteous is life, but the earnings of the wicked are sin and death.

This proverb could easily be seen to back up vs. 15 as it deals with wages. It can be true both
metaphorically and literally. Metaphorically, we get paid richly by living righteously with the
gift of life. The wicked person gets paid with sin and death. Literally, over time most people
find that righteousness in life will yield financial gain and advancement. Wickedness brings sin
and death in one’s career and salary.

> 17 Whoever heeds discipline shows the way to life, but whoever ignores correction leads others astray.

Most people hate correction of any kind. To even suggest they could be better, do better, or
improve is to tread on a dangerous road. Such an attitude is foolishness of the highest kind. A
wise person is going to know quickly if a person can handle correction, and if not withhold their
wisdom from the fool. To do otherwise is to waste one’s time, and invite scorn, ridicule, and
hatred from the fool. Why invite trouble from a fool? Just let them go on in their foolishness.

> 18 Whoever conceals hatred with lying lips and spreads slander is a fool.

This proverb doesn’t have an opposite, but both parts of the proverb chastise the fool for what
they say. The fool will lie to conceal the hatred of his/her heart as well as spread slander. We
encounter this when someone says nice things about us only to stab us in the back with their
words when we are no longer with them.

> 19 Sin is not ended by multiplying words, but the prudent hold their tongues.

When someone is sinning they will often just keep talking in a vain attempt to get themselves out
of trouble. It is rare that more talk will solve the problem because the person is a fool. The
prudent person doesn’t try to make excuses, blame others, or chatter in hopes of deflecting their
sin. They hold their tongue and take the consequences of their actions.

> 20 The tongue of the righteous is choice silver, but the heart of the wicked is of little value.

We can learn a lot about people by listening to what they talk about, how they talk, and the
things they focus on when they talk. Wise people are fun to listen to because their words are
precious like silver. Not so true with the fool.

> 21 The lips of the righteous nourish many, but fools die for lack of sense.

Again, the wisdom spoken by the wise will nourish our lives, if we will listen (see vs. 17). The
fool is in danger of death due to their lack of sense. Sadly, because of their lack of sense they
won’t know what hit them.

> 22 The blessing of the LORD brings wealth, without painful toil for it.

This is an interesting proverb because I can think of times when God has given me God-sized
tasks and they have involved spiritual pain. The work does at times seem toilsome as well. But
as I reflect on the toilsome parts it is really the times that I didn’t wait on the Lord and do the
God-sized task God’s way. So it became toilsome in my own desire to be in control. OF course,
once one completes the God-sized task they receive blessings upon blessings from the Lord.

> 23 A fool finds pleasure in wicked schemes, but a person of understanding delights in wisdom.

“Get rich quick” and taking short cuts fall well into the wicked scheme category here. Fools like
such schemes. The person who wants to grow in wisdom will not focus as much on the results as
the journey and the gaining of more wisdom. Thus, there is a promise of blessing in all that we
do as we gain new wisdom in each journey.

> 24 What the wicked dread will overtake them; what the righteous desire will be granted.

Many of the proverbs speak about how the wicked don’t know what is going on, so they don’t
understand why life turns on them. But when they do know, this proverb indicates that they will
not be able to escape their own folly. But here again, the fool is unlikely to understand why s/he
has a momentary understanding of the coming calamity, because they will not understand the
events they chose to get them to the momentary place of insight. These things do not happen to
the righteous who often receive the desires of their heart because they often want the desires of
God’s heart.

> 25 When the storm has swept by, the wicked are gone,
but the righteous stand firm forever.
The storms of life blow through our lives in unpredictable ways. God knows the struggles we
are going to face long before we will actually face them, and He is sending tests of faith,
wisdom, and His love to build us up so we can get through those storms. The righteous will
desire to understand and learn to trust God as God builds this rich tapestry of life into us. God is
doing the same for the wicked, but it is lost on them. The storms will simply sweep them away.
Jesus’ teaching to build your house upon the rock foundation (Matthew 7:24-27) is pointed to in
this proverb. The house built on the sand will be destroyed in the storms of life, while the house
built with a firm foundation of faith in Jesus Christ will weather every storm.

> 26 As vinegar to the teeth and smoke to the eyes, so are sluggards to those who send them.

A sluggard is a lazy or slothful person. Their laziness will affect them in many negative ways as
many of the proverbs illustrate. But they are also a pain to those around them. Not a great pain.
Yet, when we experience the discomfort of vinegar upon our teeth or smoke in our eyes we know
we have had the experience. So it is with the sluggard who makes his/her presence felt in
irritating ways.

> 27 The fear of the LORD adds length to life, but the years of the wicked are cut short.

The fear of the Lord (fear of doing anything without the Lord more than being afraid of anything
else) is a healthy choice physically as well as spiritually and emotionally. Wicked living will
bring our death more quickly.

> 28 The prospect of the righteous is joy, but the hopes of the wicked come to nothing.

Throughout my life I have found great joy in life while desiring to live a righteous life. When I
was young I wasn’t sure if I was missing something by not doing all the carousing I would see
others do. The Monday stories of drunkenness, sex, and dangerous living seemed so
glamourous. With the wisdom of years, I am glad I didn’t find such living glamorous enough to
pursue it. Those who lived that way that I know today have truly come to nothing. This is a
proverb the young just have to accept as true. The journey of life will teach them it is very true.

> 29 The way of the LORD is a refuge for the blameless, but it is the ruin of those who do evil.

Following where God leads us will provide protection for us in the storms of life (vs. 25) if we
desire to be blameless and righteous before God. Since the evil person does not desire this then
they will find no refuge in God. This is not necessarily punishment as much as it simply is the
way things are. An evil person is not going to understand or see the refuge God is providing, and
thus will be exposed to the peril of his wickedness.

> 30 The righteous will never be uprooted, but the wicked will not remain in the land.

The choice to live righteously brings with it stability to live well and long and not be uprooted.
The wicked will experience life to be ever-changing, unstable, and unpredictable. This chaotic
world is a very hard world to live in.

> 31 From the mouth of the righteous comes the fruit of wisdom, but a perverse tongue will be silenced.

The choice to live righteously will affect the way we talk to people, and what people think of our
words and who we are. People are less likely to want to hear from someone who has a perversetongue, and so they will silence that person either by not listening to them or simply shutting
them up.

> 32 The lips of the righteous know what finds favor, but the mouth of the wicked only what is perverse.

Like vs. 31, the choice to be righteous will bring the desire to hear what we have to say by most
people (all except fools, sluggards, and the wicked). But the wicked will speak perversely, and
there are many proverbs that speak to the foolishness of wanting to hear the perverse talk of the
wicked, and none of them are good.

### Footnotes
a. Proverbs 10:6 Or righteous, / but the mouth of the wicked conceals violence  
b. Proverbs 10:7 See Gen. 48:20.

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
