{% set pageName = "Proverbs 7 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-7-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Warning Against the Adulterous Woman

> 7 My son, keep my words and store up my commands within you.  
2 Keep my commands and you will live; guard my teachings as the apple of your eye.  
3 Bind them on your fingers; write them on the tablet of your heart.  
4 Say to wisdom, “You are my sister,” and to insight, “You are my relative.”  
5 They will keep you from the adulterous woman, from the wayward woman with her seductive words.

**Vs. 1-5:** (Note: This chapter covers the same material on the adulterous woman as chapter 5, but with a little bit different angle).  This chapter begins with another call to seek wisdom, especially wisdom passed on from father to son.  These teachings will bring life.  Guard these teachings by binding them on your fingers.  This may be an allusion to tie a string on your finger to remind you of something important.  Also, guard them on the tablet of your heart.  This is a call to guard wisdom as a foundation of who you are.  Wisdom is special, like your sister, and insight is special like your relatives.  Then Solomon goes in a familiar direction.  The wise son will avoid the adulterous woman and her seductive words.  It may seem that Solomon is being redundant at this point, except that he has a particular situation in mind that he will share in the verses that follow.

> 6 At the window of my house I looked down through the lattice.  
7 I saw among the simple, I noticed among the young men, a youth who had no sense.  
8 He was going down the street near her corner, walking along in the direction of her house  
9 at twilight, as the day was fading, as the dark of night set in.  
10 Then out came a woman to meet him, dressed like a prostitute and with crafty intent.  
11 (She is unruly and defiant, her feet never stay at home;  
12 now in the street, now in the squares, at every corner she lurks.)  
13 She took hold of him and kissed him and with a brazen face she said:  
14 “Today I fulfilled my vows, and I have food from my fellowship offering at home.  
15 So I came out to meet you; I looked for you and have found you!  
16 I have covered my bed with colored linens from Egypt.  
17 I have perfumed my bed with myrrh, aloes and cinnamon.  
18 Come, let’s drink deeply of love till morning; let’s enjoy ourselves with love!  
19 My husband is not at home; he has gone on a long journey.  
20 He took his purse filled with money and will not be home till full moon.  
21 With persuasive words she led him astray; she seduced him with her smooth talk.  
22 All at once he followed her like an ox going to the slaughter, like a deer[a] stepping into a noose[b]  
23 till an arrow pierces his liver, like a bird darting into a snare, little knowing it will cost him his life.

**Vs. 6-23:** The situation Solomon describes may be a picture he has in his mind, or it may be a scene he actually watched unfold.  He tells it like it is the latter while looking out a window of his palace, though it is more likely a scene from his mind’s eye because Jewish law has clear punishment for adultery by stoning, and as king he can stop this foolish story immediately rather than use it to instruct his son.

He describes a group of men gathered together enjoying one another’s fellowship.  One of the men plays the part of the fool on the fool’s errand.  He goes looking for trouble and finds it in the adulterous woman.  She spots him coming and approaches him from her home which she has prepared for her adulterous affair with linens from Egypt and many aromatic perfumes.  She kisses him, speaks seductively to him, and lures him into her home.  He has been caught by her smooth words and promise of unbridled lust.  He is like an ox led to the slaughter.
 
> 24 Now then, my sons, listen to me; pay attention to what I say.  
25 Do not let your heart turn to her ways or stray into her paths.  
26 Many are the victims she has brought down; her slain are a mighty throng.  
27 Her house is a highway to the grave, leading down to the chambers of death.

**Vs. 24-27:** Solomon’s final verses warn his son against falling into the adulterous woman’s traps of lust and destruction.  This wisdom is good for the son of a king who has access to his father’s wealth and could become an easy mark by an opportunistic woman looking to improve her lot in life.  However, they seem hollow coming from a king with 700 wives and 300 concubines.  Clearly Solomon sees a big difference between his massive harem and the seductive evil of the adulterous woman.  Chapter 5 also spent the entire chapter illustrating in vivid imagery the evils of the adulterous woman.  So another conclusion we can draw from chapter’s 5 and 7 are that great wisdom does not necessarily guard someone from the blindness of hypocrisy.  In all of his wisdom Solomon may have been blind to his hypocritical teachings about adultery, but his sons don’t seem to miss it, and really paid little attention to the teachings of dear old dad.  So another pearl of wisdom I have to offer that Solomon seems to miss is that unrepentant hypocrisy can completely undermine a man’s ability to teach his sons good wisdom.

### Footnotes 
a.	Proverbs 7:22 Syriac (see also Septuagint); Hebrew fool  
b.	Proverbs 7:22 The meaning of the Hebrew for this line is uncertain.
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
