{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}

> 11 The LORD detests dishonest scales, but accurate weights find favor with him.

Chapter 11 continues as chapter 10, with one-line proverbs in no particular order. I have tried to
categorize all the proverbs into a useable list using the introduction to Proverbs that Solomon
uses in chapter 1. So, even though these proverbs cover the whole range of life lessons and
wisdom, you can turn to the summary in chapter 1. This proverb lifts up God’s love for honesty,
and hatred of the sin of dishonesty in business. It speaks of the merchant’s scales, used to do
honest business. It was known that a merchant might cheat his customers by using dishonest
scales. God hates dishonesty in all business. He expects us to show honesty and integrity in all
our ways if we want to receive His blessing. So the question is implied, do we want all of our
business activities to be blessed by God or are we comfortable letting God curse us by trying to
take short cuts and cheat people for our personal gain?

> 2 When pride comes, then comes disgrace, but with humility comes wisdom.

There are many proverbs that call us away from pride and toward humility. It is wise to seek
humility and avoid pride. It is hard to actually do it because we rarely see our own arrogance,
though we seem to have 20/20 vision to see the arrogance of others. People rarely want to be
prideful as a chosen lifestyle and are therefore rarely prideful in all things. However, we should
assume that there are areas of our life where pride is a problem. If a person doesn’t know where
those areas are then that person has a blind spot, and needs to find ways to look honestly at
themselves. Do you have prideful blind spots? Do you know where your areas of pride come
out in your words and actions?

> 3 The integrity of the upright guides them, but the unfaithful are destroyed by their duplicity.

Similar to vs.1, the wise person will choose integrity over duplicity (defined as deceitfulness or
double-dealing). When one makes a life choice to be honest and show integrity we do so by
rejecting what others think, and desire to show integrity in the eyes of God and Him alone.
Humans are fickle and often don’t notice that we have made a choice to be honest and showintegrity. God always knows. We can trust that making such a life choice will guard us against
the fickleness of humans over the long-term. There may be a price in the short-term, but God
promises that we reap what we sow over the long-term (Galatians 6:7-8).

> 4 Wealth is worthless in the day of wrath, but righteousness delivers from death.

If wealth is worthless in the day of wrath, then when is the day of wrath? Most people
experience a day of wrath in their lives. This is the day when their wealth has no value and they
search within themselves to find the personal resources to deal with whatever the wrath is. If
they have not lived a life of righteousness as a priority of the highest order, then they will suffer
the consequences of death either literally or figuratively. The day of wrath could be a day when
a loved one finds out they have cancer or dies a violent death, crushing financial collapse, or a
personal faith crisis. We don’t control when these days come. They are part of life in a fallen
world, and they will come. The day of wrath is often when we reap what we sow. Sow
righteousness and we will experience deliverance from death. Sow deceitfulness and reap its
bitter harvest.

> 5 The righteousness of the blameless makes their paths straight, but the wicked are brought down by their own wickedness.
6 The righteousness of the upright delivers them, but the unfaithful are trapped by evil desires.

Like vs. 4, these two verses are proverbs about making the choice to live righteously. Vs. 5 tells
us that living righteously will lead us down straight paths, while wickedness will bring itself
down by its own wickedness. Vs. 6 tells us that righteousness will deliver us from the
difficulties and unfairness of life, while the unfaithful cannot escape the problems presented by
the fallen world nearly as easily.

> 7 Hopes placed in mortals die with them; all the promise of[a] their power comes to nothing.

This proverb has an unspoken opposite. First, it reminds us that people will let us down in both
during their life and then they ultimately let us down when they die, a destiny that cannot be
avoided. The unspoken opposite is that God never dies, His character is never changing, and Heis always there. Therefore, we need to put our hope in God first, foremost, and always. Even
those that love us the most will fall short in their day-to-day love for us, and then when they die
we are left alone. Trust in God!

> 8 The righteous person is rescued from trouble, and it falls on the wicked instead.
9 With their mouths the godless destroy their neighbors, but through knowledge the righteous escape.
10 When the righteous prosper, the city rejoices; when the wicked perish, there are shouts of joy.
11 Through the blessing of the upright a city is exalted, but by the mouth of the wicked it is destroyed.

All four of these verses deal with the choice to live a righteous life. When a righteous person
encounters trouble they will experience rescue. This will be from God who will reward their
righteousness or from another who out of respect for knowing a righteous person will do their
best to help their righteous friend in their time of need. Righteous living will give us the
knowledge to escape the traps of godless neighbors who always seem to be present throughout
our lives. It makes people feel good to see the righteous prosper. This good will only add to the
blessings that the righteous experience. Following that same logic, when the righteous prosper
the city is exalted. It is good for everyone when the righteous prosper.
On the other hand, the wicked must deal with the trouble their wicked lives lead them into all
the time. They are the godless neighbor who tries to destroy others, but they are stopped by the
righteous in their pursuit of hurting others. Their wickedness leads them to being hated by others
who celebrate their downfall for there is a sense among the people that the wicked will bring ruin
to their city. It seems that vs. 10-11 apply directly to the Christmas favorite, “it’s a Wonderful
Life.” George Bailey is the righteous man who experiences all the blessings of his righteous
choices when he is in trouble. His angel, Clarence, shows him how Bedford Falls would become
a cesspool of evil if Mr. Potter had his way. His way would destroy the city, and the
righteousness of George Bailey exalts the city.12 Whoever derides their neighbor has no sense,
but the one who has understanding holds their tongue.

> 13 A gossip betrays a confidence, but a trustworthy person keeps a secret.

Both of these proverbs deal with the demon the tongue can be. Vs. 12 speaks of how speaking
against one’s neighbor causes hurt for everyone and therefore is a senseless act. Our neighbor
doesn’t need someone who has not earned the right to criticize to speak evil about them. It only
tears people down. Vs. 13 touches on how gossip destroys trust in a person. The ability to keep
information confidential is so important for a person to be trusted. The wise person will build
trust by keeping confidence and not speaking against people like their neighbor. The wise
person is the one who strives to be the person people think never speak badly of someone else.

> 14 For lack of guidance a nation falls, but victory is won through many advisers.

One would wonder why the wisest man in history would need to have advisors, but he did. We
read in II Chronicles 9:29 about three of those advisors. “As for the other events of Solomon's
reign, from beginning to end, are they not written in the records of Nathan the prophet, in the
prophecy of Ahijah the Shilonite and in the visions of Iddo the seer concerning Jeroboam son of
Nebat?” Nathan was a great prophet for Solomon’s dad, King David as well as for Solomon.
Also, Ahijah (who we know little about) was a prophet for Solomon. Prophets received that
designation because they heard the voice of God, and spoke for God to the king and the nation.
Iddo was a seer, which meant he could see things in the spiritual realm like visions from God,
angels, and demons. If King Solomon turned to two prophets and a seer for spiritual guidance
from God that tells us how important it is to choose people we can trust to be a part of our lives,
and ask them to be honest with us so we don’t fall into trouble in our personal areas of blindness.

> 15 Whoever puts up security for a stranger will surely suffer, but whoever refuses to shake hands in pledge is safe.

This is an odd proverb. The first part makes sense. When we put up security, something of
financial value to help a stranger we must know we can easily lose our security. This is probably
most important when we are hoping to get something for nothing, that is, some get rich quickscheme, and put up security investing in the work of some stranger who could be a crook. The
second part doesn’t really sound like the opposite of the first, and goes against the wisdom of
building a good name, so that someone trusts in your good name and your hand shake is
sufficient to having a written contract. If we keep thinking the way the proverbs think, then this
proverb is not telling us to not going against trusting the handshake of a person of integrity, but
is referring to the same stranger as the first half. To this stranger we should even avoid shaking
hands, much less entering into some written contract.

> 16 A kindhearted woman gains honor, but ruthless men gain only wealth.
17 Those who are kind benefit themselves, but the cruel bring ruin on themselves.

These two proverbs speak of the wisdom of kindness. Kindness brings honor and benefits. The
opposite of kindness is to be ruthless, which may gain one wealth, but it will be wealth without
honor. Another opposite of kindness is cruelty, which will bring ruin upon our lives.

> 18 A wicked person earns deceptive wages, but the one who sows righteousness reaps a sure reward.
19 Truly the righteous attain life, but whoever pursues evil finds death.
20 The LORD detests those whose hearts are perverse, but he delights in those whose ways are blameless.
21 Be sure of this: The wicked will not go unpunished, but those who are righteous will go free.

Again we have a set of proverbs together that call us to choose to live a life of righteousness.
When choosing righteousness, we will receive a sure reward, attain life, receive the delight of the
Lord, and experience freedom in the Lord. The wicked who choose not to seek righteousness in
their lives will receive unstable wages, death, and rejection and punishment from the Lord.
These texts on righteousness are Solomon’s way of saying what Paul said in Galatians 6:7, “Donot be deceived: God cannot be mocked. A man reaps what he sows.” Solomon simply goes into
more detail what we will reap when we choose to sow righteousness or not.

> 22 Like a gold ring in a pig’s snout is a beautiful woman who shows no discretion.

Periodically a proverb becomes memorable because Solomon uses an image that is quite unique.
Comparing any part of a beautiful woman to a pig’s snout is going to become memorable.
Solomon knows well the cost of investing in beautiful women who show no discretion. There
were probably many such women amongst his 700 wives and 300 concubines. Beauty that is
only skin deep, as in a woman who shows no discretion, loses its beauty when one scratches
below the surface.

> 23 The desire of the righteous ends only in good, but the hope of the wicked only in wrath.

Again, we see how important it is to choose to be righteous, for even their desires will end in
good. But the wicked will experience wrath if the desire of their heart is not righteousness.

> 24 One person gives freely, yet gains even more; another withholds unduly, but comes to poverty.
25 A generous person will prosper; whoever refreshes others will be refreshed.
26 People curse the one who hoards grain, but they pray God’s blessing on the one who is willing to sell.
27 Whoever seeks good finds favor, but evil comes to one who searches for it.
28 Those who trust in their riches will fall, but the righteous will thrive like a green leaf.
29 Whoever brings ruin on their family will inherit only wind, and the fool will be servant to the wise.

Vs. 24-29 focuses on giving and wealth. Solomon may have been the richest person ever in
history, even compared to the billionaires of today when adjusted for inflation. In these verses
Solomon encourages extravagant giving, for the giver will gain even more. The generous will
prosper. Those that are benevolent and sell at a fair price receive blessing from those who deal
with them. Don’t trust in your riches and you will thrive like a green leaf. Finally, if one brings
honor to their family their inheritance is sure, otherwise they will inherit the wind, and find
themselves like a servant to the wise. People often get angry when churches talk about money,
tithing, and the importance of generous and cheerful giving. The Bible speaks over and over
again about money, how it is easy to idolize money, that when we withhold our tithe and don’t
give our tithe as the first fruit of our wages we are robbing from God and He will curse our
money. One preacher read Malachi 3:8-10 which says, ““Will a mere mortal rob God? Yet you
rob me. “But you ask, ‘How are we robbing you?’ “In tithes and offerings. You are under a
curse—your whole nation—because you are robbing me. Bring the whole tithe into the
storehouse, that there may be food in my house.” Then he asked, “Would you rather have 90%
of your money blessed by God or 100% of your money cursed by God.” I think this is the idea
Solomon is developing in these proverbs, that money, all of the money we have, is a gift from
God, and if God curses that money we should learn more about fearing the Lord. That is what
truly wise people will do.

> 30 The fruit of the righteous is a tree of life, and the one who is wise saves lives.
31 If the righteous receive their due on earth, how much more the ungodly and the sinner!

Since this chapter has focused much on choosing a life of righteousness it seems only fitting that
it should close with the final two verses speaking of the importance of this choice. Vs. 30 is a
beautiful proverb without an opposite, which is implied in all the other proverbs on righteousness
throughout this chapter. “The fruit of the righteous is a tree of life!” This metaphor recalls the
tree of life in the Garden of Eden which made death impossible, God’s original plan for His
creation. We can bring that fruit into the lives of others when we desire to live righteous lives as
our highest priority. Life will try to kill our desire to choose righteousness because we live in a
fallen world that is hard and unfair. The wise person will not be deterred by the fallen world we
live in. Our righteousness is rewarded in this life and the next by God, and we become a
blessing to all those around us, bringing life into their lives (that is unless they are fools),
because we have chosen righteousness.

### Footnotes
a. Proverbs 11:7 Two Hebrew manuscripts; most Hebrew manuscripts, Vulgate, Syriac and
Targum When the wicked die, their hope perishes; / all they expected from

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
