{% set pageName = "Proverbs 6 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-6-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Warnings Against Folly

> 6 My son, if you have put up security for your neighbor, if you have shaken hands in pledge for a stranger,  
2 you have been trapped by what you said, ensnared by the words of your mouth.  
3 So do this, my son, to free yourself, since you have fallen into your neighbor’s hands: Go—to the point of exhaustion— and give your neighbor no rest!  
4 Allow no sleep to your eyes, no slumber to your eyelids.  
5 Free yourself, like a gazelle from the hand of the hunter, like a bird from the snare of the fowler.

**Vs. 1-5:** Solomon continues to talk to his sons in this next section that counsels to avoid folly, foolishness, and laziness.  This chapter marks a subtle shift from the first four chapters.  They were structured more like wise instruction for the sons.  Now we shift to short proverbs that will cover many different areas of wisdom without necessarily being linked to the proverb before.

These proverbs are short pithy verses of wisdom, stating a general truth or piece of advice. This proverb counsels against being beholden to neighbors and strangers.  Making formal or informal commitments with either of these are hard to control.  Every homeowner has a bad neighbor story, or even a whole book.  Neighbors have a way of borrowing things permanently, seeing the world through their eyes of wants and wishes, and disregarding the people around them.  It can take a while before we build the kind of trusting relationship with a neighbor that we can feel safe entering into arrangements that are long term, and even then such arrangements can fall apart and signal the end of the relationship.  It seems obvious that entering into arrangements with strangers is not a good plan.  Solomon counsels that if you find yourself in such a relationship you should work extra hard, even losing sleep over completing the arrangement so that it comes to an end.

On a personal note I have found that when I have tested this proverb and entered into an arrangement with a neighbor or stranger I do so with the full knowledge that they will let me down.  I am willing to lose money or personal property, and expect to do so.  This way I have something else in mind in helping my neighbor rather than helping with what the neighbor wants.  My hope is usually to build the right to be heard and be able to use my loss to make them a better person.  This allows me to help a neighbor without feeling like I’ve been let down.  I know I am going to be let down, and when I am not it is a pleasant surprise.

> 6	Go to the ant, you sluggard; consider its ways and be wise!  
7 It has no commander, no overseer or ruler,  
8 yet it stores its provisions in summer and gathers its food at harvest.  
9 How long will you lie there, you sluggard? When will you get up from your sleep?  
10 A little sleep, a little slumber, a little folding of the hands to rest—  
11 and poverty will come on you like a thief and scarcity like an armed man.

**Vs. 6-11:** These proverbs are about avoiding being a sluggard or a lazy person.  The ant is the opposite of the sluggard, and the person who is struggling with laziness should consider the example of the ant.  The ant is a tireless worker storing food in the summer and at harvest time for the time of need in the winter.  The sluggard needs to realize that their laziness will lead to poverty and there will be many times of scarcity.

Interestingly, studies of ants show that about 40% of ants in an ant colony are actually lazy. Accept for an occasional chore here or there, or some sort care for the “real” workers. Otherwise, they are basically doing nothing.  A study in 2015 finally discovered their purpose in the colony.  By marking the ants with a tiny color code scientists were able to discover which ants would be good examples of hard work for Solomon’s proverbs and which ants would not.  Then the scientists began removing different ants from the colony to find out what would happen.  When they removed 20% of the truly industrious ants the lazy ants stepped in and solved the problem.  So basically, the lazy ants are not really lazy, they are reserve work force. Their job is to wait until they are needed and then step in and do whatever job is needed. Interestingly enough, when the “lazy” ants were removed from the colony they were not replaced.  The colony was less concerned about establishing some homeostasis, and more concerned about addressing the task or need at hand.  This discovery also reinforces the truth of this proverb by pointing out that is your job in the colony is to be the “lazy” ant, that is replacement work force, then you should also know that in the eyes of your well-regarded, gogetter colleagues, you're an anonymous, disposable unit of labor.

> 12 A troublemaker and a villain, who goes about with a corrupt mouth,  
13 who winks maliciously with his eye, signals with his feet and motions with his fingers,  
14 who plots evil with deceit in his heart— he always stirs up conflict.  
15 Therefore disaster will overtake him in an instant;     he will suddenly be destroyed—without remedy.

**Vs. 12-15:** Solomon gives us a very good description of how to spot villains and troublemakers.  They have corrupt mouths, malicious winks, use their body (like their feet and fingers) to give signals presumably to accomplish evil ends, they plot evil with deceit in their heart, and always stir up evil.  That is a pretty thorough list of things to look out for to avoid connecting with villains and troublemakers.  We need to know that disaster will overtake them quickly, and if we are a part of their deceit, we will get caught in their destruction.  When disaster and destruction overtakes such people there is no remedy.

> 16	There are six things the LORD hates, seven that are detestable to him:  
17 haughty eyes, a lying tongue, hands that shed innocent blood,  
18 a heart that devises wicked schemes, feet that are quick to rush into evil,  
19 a false witness who pours out lies and a person who stirs up conflict in the community.

**Vs. 16-19:** This proverb is in the form of a list of seven things God hates.  The wisdom is pretty straight forward.  Don’t seek to have or allow to develop any of these traits in your life.  To do so will separate you from God because God hates these things.  They are haughty eyes, a lying tongue, hands that shed innocent blood, a heart that devises wicked schemes, feet that are quick to rush into evil, a false witness who pours out lies, and a person who stirs up conflict in the community.  The haughty eyes remind us of the malicious wink in vs. 13.  As we have seen earlier, eyes, as the window to the soul, reflect the content of our character.  If we have kind eyes then when people look into our eyes it will look different to others than haughty eyes.  People will be able to see into who we are by looking at the way we look and use our eyes.  The lying tongue and lying in court go together.  God simply hates lying.  Innocent people get hurt.  Lying is evil.  Shedding innocent blood is a complete renunciation of what is good and loving.  Of course, God hates all that hurts the innocent and defenseless.  If our heart devises wicked schemes we better wear sun glasses to hide our eyes.  Where do our feet take us?  If we find ourselves in the midst of evil regularly we better step back and take an honest look at ourselves.  Finally, we all have met people who have this knack for stirring up trouble.  They are called antagonists and instigators.  God finds such people detestable.  Does it ever seem like you are a troublemaker, instigator, or antagonist?

People often find it difficult to associate God with hatred.  The Bible is clear God hates sin and everything associated with sin.  Jesus made it clear, as do the proverbs, that sin was much more than our actions.  Sin goes to the heart and character of a person.  As people of love we are to learn to hate our sin as much as God does.  Then we will avoid haughty eyes, lying tongues, and being antagonists and instigators of evil.  This is what the search for wisdom will lead us to.
 
## Warning Against Adultery

> 20	My son, keep your father’s command and do not forsake your mother’s teaching.  
21 Bind them always on your heart; fasten them around your neck.  
22 When you walk, they will guide you; when you sleep, they will watch over you; when you awake, they will speak to you.  
23 For this command is a lamp, this teaching is a light, and correction and instruction are the way to life,  
24 keeping you from your neighbor’s wife, from the smooth talk of a wayward woman. 25 Do not lust in your heart after her beauty or let her captivate you with her eyes.

**Vs. 20-25:** The first four verses of this proverb stress the importance of listening to the wisdom of one’s parents about this bit of wisdom.  It is simple.  Stay away from another man’s wife (and of course, stay away from another woman’s husband).  The rest of this chapter speaks of all the bad things that happen when a person invades the bed of married people.  It is interesting that people test the truth of open marriages, infidelity, fornication, and always come to the same place.  That place is exactly what the Bible teaches.  Sexual intimacy is a gift from God within the bonds of marriage.  Celibacy while single is also taught.  Problems always become evident over time under any other sexual scenario.

> 26	For a prostitute can be had for a loaf of bread, but another man’s wife preys on your very life.  
27 Can a man scoop fire into his lap without his clothes being burned?  
28 Can a man walk on hot coals without his feet being scorched?  
29 So is he who sleeps with another man’s wife; no one who touches her will go unpunished.  
30 People do not despise a thief if he steals to satisfy his hunger when he is starving.  
31 Yet if he is caught, he must pay sevenfold, though it costs him all the wealth of his house.  
32 But a man who commits adultery has no sense; whoever does so destroys himself.  
33 Blows and disgrace are his lot, and his shame will never be wiped away.  
34 For jealousy arouses a husband’s fury, and he will show no mercy when he takes revenge.  
35 He will not accept any compensation; he will refuse a bribe, however great it is.

**Vs. 26-35:** The evils, sinfulness, trouble, and brokenness that sexual intimacy outside marriage brings is predictable.  It is like putting hot coals in your lap and hope you don’t get burned.  It is like walking on hot coals in the hopes you won’t be scorched.  Committing adultery is destructive to oneself.  Shame and disgrace cannot be wiped away.  The adulterer must deal with jealousy and revenge.  Not stated here is that adultery is quite confusing to one’s children.  Solomon’s children are a perfect example.  Scripture clearly records that Solomon had one son, Rehoboam (1 Kings 11:43) and two daughters (1 Kings 4:11,14). There is a legend that Solomon sired a son with the Queen of Sheba (what is Ethiopia, today).  Her visit is recorded in I Kings 10:1-13 and II Chronicles 9:1-12.  She returned to home long before this child was born. We never hear again of a single child from 700 wives and 300 concubines except for his son and two daughters.  His son, King Rehoboam, proved to be a horrible king, and caused civil war and the breaking up of Israel in just a few years after taking the throne.  Could the lack of any outstanding and noteworthy children from 700 wives and 300 concubines, easily over 1000 children, be because growing up in Solomon’s palace was a very confusing experience?

### Footnotes 
a. Proverbs 6:3 Or Go and humble yourself,
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
