{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}

> 15 A gentle answer turns away wrath, but a harsh word stirs up anger.

This is one of the most famous proverbs in the book. Learning and living this proverb will help us in countless situations. When we are angry blurting out harsh words is easy and natural. No one has to teach us how to say harsh things when we are angry. It comes easily because we are fallen and our sinfulness must be dealt with always. In contrast, when we can discipline ourselves to use gentleness and kindness even when confronted with harsh situations it will turn back wrath and bring peace. Jesus wants us to be peacemakers, and rewards us for doing so, as we read in Matthew 5:9, “Blessed are the peacemakers, for they will be called children of God.”

> 2 The tongue of the wise adorns knowledge, but the mouth of the fool gushes folly.

Another proverb that addresses the way we talk. People can learn a lot about the choice we have made concerning our desire to search for wisdom or are just hoping wisdom finds us and latches on by the words we use. We will sound different when we are in a search for wisdom. We will sound like fools when we are not. The world thinks that professors at colleges, universities, and seminaries are a very wise lot. After all, they are teaching the next generation of leaders for our country. However, if they have no fear of the Lord, which few actually do, then one can hear the foolishness that cannot be hidden in their arrogance, self-centeredness, and idolatry of their own wisdom. I have found that people praise me for my wisdom, not when I am speaking about something I think I know, but when I am helping them find the truth of God’s word for their lives. The Bible is full of wisdom. We all do well to learn it and share what we learn with others every chance we get. Then others will know we have adorned them with knowledge and wisdom, the knowledge and wisdom of God.

> 3 The eyes of the LORD are everywhere, keeping watch on the wicked and the good.

We move briefly to speak of the eyes rather than the tongue, but it is the eyes of God, not human eyes that this proverb speaks of. God watches over the wicked and the good. We are all His creation, and He never gives up on us. Walking down the road of wickedness can end abruptly when we decide to choose righteousness and wisdom. God’s perfect will for our lives will always be to turn away from wickedness and foolishness, and toward righteousness and wisdom.He not only watches over us, He moves in persuasive ways to lure us into choosing His perfect will for our lives.

> 4 The soothing tongue is a tree of life, but a perverse tongue crushes the spirit.

This shows the contrast between blessing and cursing. When we bless someone with our words it can/will bring them life. When we curse someone it can/will crush their spirit. Fortunately, most people don’t like the idea of crushing the spirit of another. However, we curse people more easily than we realize. Lazy words, and careless thoughts come to our mind very easily, and before we know they are spoken and become real. We must never underestimate the power of the spoken word to change people’s lives for the good and for the bad. We must take seriously the effect on the spiritual realm by our words. We often can’t see such things, but the Bible assures us that the spiritual realm is very real, and it is effected by our words.

> 5 A fool spurns a parent’s discipline, but whoever heeds correction shows prudence.

There are proverbs that teach the wisdom of teaching one’s children discipline. This proverb teaches the child to be disciplined, i.e. learn from your parents. This gets complicated when the parents don’t live congruently with the discipline they teach their children. So a parent who tells a child to tell the truth, but then the child witnesses the parent lying is confused by what the parent teaches. The parent’s lies undermine all that s/he is trying to teach their child. When parents practice what they preach it gives the child a better chance to grow up and allow them to receive criticism and correction like a wise person should do.

> 6 The house of the righteous contains great treasure, but the income of the wicked brings ruin.

If we measure one’s worth and wealth by how much money they have then this proverb will make no sense. The treasure of the righteous may include wealth, but there are many other things that are great treasures like healthy relationships, good health, peace of mind, and of course, fear of the Lord that comes with a strong faith. The idolatry of money makes it an end in itself for the wicked, but without all the other treasures that come with righteousness it is only money, and the stuff it can buy.

> 7 The lips of the wise spread knowledge, but the hearts of fools are not upright.

Another proverb about how we talk. The wise talk in ways that spread knowledge. Since wisdom begins with fear of the Lord, then the talk of the wise must be able to point people toward and witness to the glory of God Almighty. The fool lacks righteousness to their core, to their heart, and therefore cannot speak with such wisdom.

> 8 The LORD detests the sacrifice of the wicked, but the prayer of the upright pleases him.

Many people struggle with the idea that God hates anything. Many of the proverbs speak of numbers of things God detests, despises, and hates. All of them have to do with sin, especially the sin of idolatry. Here, the Lord hates the attempt to make a sacrifice by the wicked. On the surface, this is confusing because making a sacrifice is usually thought of as a noble act, worthy of notice. However, there are sacrifices people make to draw attention to themselves. This is what God hates. When we make a sacrifice, and we fear the Lord, then God will get the glory for the sacrifice. God loves when righteous people pray. James 5:16b, “The prayer of a righteous person is powerful and effective.”

> 9 The LORD detests the way of the wicked, but he loves those who pursue righteousness.

Again, the Lord hates (detests) the way of the wicked, the paths they choose where they do their wickedness. The Lord loves when we choose to pursue righteousness. On the surface this seems an easy choice until we experience the struggles and difficulties that come with pursuing righteousness. It is not easy. Wisdom teaches us that choosing what is easy, which leads into the slippery slope of wickedness, seems easy on the surface, but the costs make it much more difficult than choosing righteousness… IN THE LONG RUN. We have to trust in the teaching of God that we do indeed reap what we sow over time, and reap the benefits of righteousness even when righteousness is difficult.

> 10 Stern discipline awaits anyone who leaves the path; the one who hates correction will die.

This proverb has no opposite, and really reinforces what was written in vs. 9. When we walk the path of righteousness it will be hard, but in the long run much better than the path of the wicked. The wicked will experience stern discipline for their folly, but will not learn anything from that discipline. Instead the wicked will hate correction, and try to make his folly and wickednesswork. In the long run, he will fail, and since wickedness lacks wisdom, he will probably not understand why he failed.

> 11 Death and Destruction[a] lie open before the LORD— how much more do human hearts!

This is probably one of those proverbs that will mean something different to me every time I read it. Today, it reminds me that we live in a fallen world, and therefore we must experience death and destruction in large and small ways every day. The Lord is with us in all of the death and destruction we must face. Even more than that, when we call on the Lord to be at the center of everything in our lives God will turn all things for good (Romans 8:28), and bring great victories in all of life’s circumstances. If we rely only on the strengths and resources of the human heart to deal with the fallenness of the world we may be able to handle the small experiences of death and destruction in our world, but the large ones can certainly crush our souls and spirits. The wise person would never try to do this. People try to do this all the time. Therefore, wise people are not always easy to find. When you do, learn from them.

> 12 Mockers resent correction, so they avoid the wise.

We tend to be like the company we keep. Mockers don’t have much if any wisdom and therefore they don’t like to be around those that have wisdom, especially if their wise friend might take pity and try to help the mocker gain wisdom. Not stated is that the wise enjoy being together because they are not afraid of constructive criticism, and they make one another better.

> 13 A happy heart makes the face cheerful, but heartache crushes the spirit.

This is one of those proverbs that is really saying more about the way things are, than expressing a pearl of wisdom. When we have joy and happiness in our heart our face is likely to show it. We can often tell when someone is struggling by looking into their face. Over time heartache will have a very real physical effect on us as it slowly crushes our spirit. This is not what God desires for us. God wants us to know joy and happiness in our lives. A saving faith in Jesus Christ should give us all the reason to be full of joy that we need. Such a faith sets us free to live the abundant life in this life and the eternal life in the next. All battles in this life pale in comparison to the eternal life God has prepared for us through Jesus Christ.

> 14 The discerning heart seeks knowledge, but the mouth of a fool feeds on folly.

Do you feed your soul with knowledge or your mouth with foolishness? These are not exactly opposites but they point to opposite lifestyle choices. A serious person will want to grow in wisdom and insight. They will want to grow in the knowledge that allows one to accomplish this. The fool is concerned with silly and foolish things. For example, what am I going to eat? It is not a question that is that important unless one has no food. However, in our affluent culture people spend huge amounts of time thinking about, stewing over (pardon the pun), and planning what they are going to eat. One must be very careful if they begin falling into such traps that they are not making an idol out of food, and worshipping food, which is definitely a sign that one is feeding on folly.

> 15 All the days of the oppressed are wretched, but the cheerful heart has a continual feast.

This proverb makes us pause to think about what makes someone oppressed. We have all met people who can be positive in even the most difficult situations. I read a story about a Chinese Christian who lived on the North Korean border. He would freely share the gospel with Koreans he was able to meet, a very illegal thing to do. He was always upbeat and full of joy even though his life was in danger daily. Was he oppressed? He was killed by a North Korean hit squad who was ordered to find him and kill him. Was he oppressed? He always had a cheerful heart and feasted on life. Now he is feasting on life in the altar in the throne room of God for eternity (Revelation 6:9-11). Could oppression be more of a state of mind than a struggle with the death and destruction of life?

> 16 Better a little with the fear of the LORD than great wealth with turmoil.

God has much to say about money. Perhaps the most famous verse is Malachi 3:10, “Bring the full tithe into the storehouse, that there may be food in my house. And thereby put me to the test, says the LORD of hosts, if I will not open the windows of heaven for you and pour down for you a blessing until there is no more need.” It is the only time God challenges His faithful people to test Him. Less familiar to most people is what God says about giving less than a tithe. We read in Malachi 3:8-9, ““Will man rob God? Yet you are robbing me. But you say, ‘How have we robbed you?’ In your tithes and contributions. You are cursed with a curse, for you are robbingme, the whole nation of you.” This is similar to what Solomon is saying about money in this proverb. Which would you rather have, blessed or cursed money from the Lord? There really isn’t a lot of wiggle room. God expects His faithful to tithe at the very least. We are not being benevolent when we tithe. We are being obedient. Something Jesus taught is also foreshadowed in this proverb. In Matthew 19:24 we read, “I tell you, it is easier for a camel to go through the eye of a needle than for someone who is rich to enter the kingdom of God." Having wealth causes people to struggle spiritually with money. It seduces them into believing they don’t need God because they have the money to take care of themselves. If they can take care of themselves financially they are too often further seduced into thinking they can take care of all their needs. Also, faithful Christians who went through a time of financial struggle often remember such times as being blessed because they knew they needed God to take care of them, and celebrated countless miracles of provision. Billy Graham once told his wife Ruth, “I don’t think we can afford to tithe.” Ruth came right back, “I don’t think we can afford not to tithe. The only way we are going to get through this is with the help of the Lord.”

> 17 Better a small serving of vegetables with love than a fattened calf with hatred.

This is a similar proverb to vs. 16, only it focuses on love being worth a sacrifice of having less food to eat. The feast from a fattened calf can barely be enjoyed around a table of hatred. So, Solomon is reminding us that reconciling with people we share table fellowship is worth the struggle. We won’t enjoy even good food with company we don’t want to be around. When we enjoy our time of fellowship after worship we continually remind ourselves it is not about the food. An enjoyable spread is always a delight, but a great conversation with just a coffee or juice in one’s hand is even more enjoyable. This proverb is another way of saying money can’t buy love or happiness.

> 18 A hot-tempered person stirs up conflict, but the one who is patient calms a quarrel.

We have all seen how one person’s temper can raise the tension and temper of everyone else in a room. Jesus said, “Blessed are the peacemakers, for they shall be called sons of God” (Matthew 5:9). We have also seen how a person can calm the storms of a quarrel by bringing peace and patience into the storm. God likes to use us to calm the storms of the quarrels around us.

> 19 The way of the sluggard is blocked with thorns, but the path of the upright is a highway.

This proverb reminds me of a saying, “If you want something done, ask a busy person” (origin unknown). It is not that highways don’t include plenty of road blocks, orange barrels, detours, and other obstacles. It is that a person with a track record for getting things done will work through those obstacles and accomplish the task at hand in a much faster period of time. There are very few obstacles that would ever compare to trying to walk a path of thorns. This is the way a sluggard trudges through the paths of life. The sluggard will also give up, and the job will not get done. Therefore, ask a busy person to help you when you want a job done.

> 20 A wise son brings joy to his father, but a foolish man despises his mother.

Why doesn’t the fifth commandment put any restrictions on honoring one’s father and mother? So many father’s and mother’s do not deserve the honor of their children. As a pastor I have met countless adults striving with all their effort to earn their father and/or mother’s love, affection, and approval. Even after their parents are dead they drive themselves harder to win that approval, often raising the bar to impossible standards, never satisfied that their parents would love them. Though the fifth commandment demands us to honor our parents, it does promise that when we do God will bless us, again regardless of whether our parents deserve to be honored or not. I believe honoring has more to do with how we approach our relationship with our parents than how well we perform for them. To honor our parents affects the way we treat and speak to them. It includes spending time and looking after their needs. It doesn’t mean to earn their affection, approval, or love. Sometimes I also know the parents of these adult children striving for the approval of their parents. Their parents speak of great pride, affection, and love for their children almost all the time. They just aren’t very good at showing or sharing it Withtheir children. That is why God doesn’t let us decide whether our parents deserve our honor or not. We wouldn’t be very good at it. There is too much we won’t know to make that decision. We simply need to trust God that we should honor our parents. That is what wise children do. Fools despise their parents.

> 21 Folly brings joy to one who has no sense, but whoever has understanding keeps a straight course.

Teenagers, especially boys, are easily enticed into doing stupid things. They may even know they are stupid things. And then once accomplished the exhilaration and joy they experience is its own high. Unfortunately, I know from personal experience all about that joy. Fortunately,God has sent a guardian angel to protect me from my foolishness, and sometimes has sent a few bonus angels because the foolishness was more than normal. Over time we are supposed to replace that folly with understanding so we know better than to jump off buildings for no good reason (fill in your own folly at this point). When that understanding is not gained we find adults living dangerously, and usually finding terrible consequences to foolish behavior that once brought joy, but now brings injury, embarrassment, and destruction.

> 22 Plans fail for lack of counsel, but with many advisers they succeed.

Put another way, two heads are better than one. Jesus sent his disciples out in pairs because we strengthen each other in word, thought, and deed when we work together. Too many Christians see the journey of faith as a lonely journey. This is a choice the Christian makes, and it is a choice made against all Biblical guidance. Amongst ministers, being a lone ranger is a key ingredient to failing in ministry. If a Christian wants to run the race and finish strong it will be very hard to do by themselves.

> 23 A person finds joy in giving an apt reply— and how good is a timely word!

I enjoy words. I like to play with words. I find puns to be entertaining, even if I am the only one that is entertained. I love when words create a beautiful picture that all can see in their mind’s eye. I love this proverb. It captures the joy I have enjoyed with a well written religion column, in inspiring sermon illustration, and a blessing shared on a person who needs a blessing to lift them up. Words are powerful. Never underestimate how they can build people up and tear them down. God inspired the apostle Paul to put it this way, “Do not let any unwholesome talk come out of your mouths, but only what is helpful for building others up according to their needs, that it may benefit those who listen” (Ephesians 4:29).

> 24 The path of life leads upward for the prudent to keep them from going down to the realm of the dead.

This proverb reminds me of Moses’ words to the Jewish people just before his death, “This day I call the heavens and the earth as witnesses against you that I have set before you life and death, blessings and curses. Now choose life, so that you and your children may live” (Deuteronomy 30:19). When we choose life, light, righteousness, wisdom, and holiness we will walk the pathof life that leads upward. All other paths will eventually lead to wickedness, foolishness, laziness, darkness, destruction, and death. Let us choose life!

> 25 The LORD tears down the house of the proud, but he sets the widow’s boundary stones in place.

The house represents our lives in this proverb. The arrogant will find that God tears down his house. Whether the house gets torn down by God’s direct intervention to humble the person or as the logical consequences of arrogance is not that important. Arrogance will slowly, but surely, tear down our lives. The opposite is true as well. The humble will see God build up their lives. But this proverb adds another twist, and that is that God has a special affection for widow’s, and will especially look out for them. Other places throughout the Bible we also know that God’s affection extends to orphans and the poor as well. Pastor Henry Blackaby wrote, “Don’t ask God to bless what you are doing. Find out what God is blessing and go and be a part of what God is doing so you will be blessed.” Service to widows, orphans, and the poor will always bring you to a place where you can receive the blessing of God.

> 26 The LORD detests the thoughts of the wicked, but gracious words are pure in his sight.

The thoughts of the wicked are going to be laden with darkness. It is in God’s character as perfect holiness that He would find such darkness detestable. It is thought that when Jesus cried out from the cross, “My God, My God, why have You forsaken me” (Matthew 27:46) was the moment that He actually took all the sins of the world upon Himself. Because He was covered in the darkness of the world’s sin it caused a separation between the Father and the Son that they had never experienced before. The dark thoughts we have separate us from our heavenly Father as well. This is another of the multitude of reasons we should want to choose righteousness with all our hearts. Then our thoughts will be dominated by gracious words that will be pure in His sight, and allow us to experience God’s presence in life changing ways.

> 27 The greedy bring ruin to their households, but the one who hates bribes will live.

There is no way to be involved in a bribe that is righteous. By their very nature bribes are unrighteous. Bribes are used to get something we can’t get otherwise in the legal course of things. They are used to manipulate the system. Often others get hurt directly or indirectly by the greed and graft that bribes sow into the system. When one turns to bribery they are admittingthey don’t think God has the power to take care of them. When we trust God to take care of us we avoid all the unrighteousness associated with bribes and other forms of corruption.

> 28 The heart of the righteous weighs its answers, but the mouth of the wicked gushes evil.

This proverb seems to be saying that we can see what is in the heart of a person by the way they talk. Solomon has been pointing to this all through the many proverbs that speak about the way we talk. If we have a righteous heart we will talk in ways that bless others, build them up, point to fear of the Lord, and are clean and uplifting. The darker our heart the more we will fall into using course language, curse people (even without thinking about it), tear people down, lie, and generally reveal a lack of concern about God in our lives. It really doesn’t mean that much when a person whose mouth gushes evil says, “Yes, I believe in God.” That really doesn’t mean much because even satan believes in God. Proverbs calls us to do far more than believe in God. We are to live with a healthy awe, reverence, and fear of the Lord.

> 29 The LORD is far from the wicked, but he hears the prayer of the righteous.

Why would the Lord be far from the wicked? Isn’t God everywhere? The distance we feel we are from God has to do with what we do to separate ourselves from God. This is not a proximity proverb but one that is talking about spiritual closeness. In prayer we can come very close to the Lord. At times, our closest experience of God’s presence in our lives is in prayer. Convincing people of that is very difficult. I know this is true because of how hard it is to convince people to pray. I think if we really believed what we say we believe about prayer we would want to be in prayer a lot more than we are now.

> 30 Light in a messenger’s eyes brings joy to the heart, and good news gives health to the bones.

We love to know what is going on. We especially look forward to hearing Good News. When someone is the messenger we look forward to their arrival, and watch their eyes to see if they have good news or not. We can’t wait. We want to know. And so we try to get a jump on the joy (or tragedy) by looking into the messenger’s eyes. The anticipation makes the actual moment of good news that much more enjoyable. It lifts us up. It can make us feel better, or as Solomon says, “good news gives health to the bones.”

> 31 Whoever heeds life-giving correction will be at home among the wise.

It is said of some people that they can be painfully honest. That is, they will tell you the truth even if it might hurt a little. The wise can be this way as they see a moment when sharing “lifegiving correction” can really help a person to grow. When we come to the point that “life-giving correction” is welcome, whether it hurts some or not, we will enjoy spending time with the wise.

> 32 Those who disregard discipline despise themselves, but the one who heeds correction gains understanding.

For the person who doesn’t like correction it is a form of self-loathing because they do not wish to improve. They are satisfied with their current state, and do not desire to go through the pains of growing wiser, stronger, and better. They may not think that their unwillingness to be corrected says they despise themselves, but it does when it takes such a toll on one’s life, and one is unwilling to make the necessary corrections. For those that look forward to correction the growth in understanding will also bring a renewed love for themselves, which is what God desires for us as clearly stated in Jesus’ second great commandment, “Love your neighbor as yourself” (Matthew 22:39).

> 33 Wisdom’s instruction is to fear the LORD, and humility comes before honor.

When we want to become good at something we must stress the fundamentals. A short stop cannot practice fielding ground balls too many times. A quarterback cannot practice throwing passes to a receiver too many times. If an athlete starts to struggle a good coach will tell them to focus on the fundamentals to pull themselves out of their slump. If we want to grow in wisdom, then the fundamentals always start with fear of the Lord. If we are ever in a place where we feel like we are somehow lacking in understanding of a situation the problem is likely spiritual, and needs a renewed focus on God and placing Him at the center of our lives anew.

### Footnotes
a. Proverbs 15:11 Hebrew Abaddon

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
