{% set pageName = "Proverbs 4 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-4-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Get Wisdom at Any Cost

> 4 Listen, my sons, to a father’s instruction; pay attention and gain understanding.  
2 I give you sound learning, so do not forsake my teaching.  
3 For I too was a son to my father, still tender, and cherished by my mother.  
4 Then he taught me, and he said to me, “Take hold of my words with all your heart; keep my commands, and you will live.  
5 Get wisdom, get understanding; do not forget my words or turn away from them.  
6 Do not forsake wisdom, and she will protect you; love her, and she will watch over you.

**Vs. 1-6:** This section is like a conversation with Solomon and any one of his dozens of sons.  It is wise counsel for the son to listen and learn wisdom from Solomon.  What would it be like to have your dad the smartest man ever to live?  Clearly, we know from the Bible, that Solomon was not able to translate that wisdom into sound instruction for at least one of his sons, the man who succeeded him, Rehoboam.  I don’t think Solomon’s sons ever came to a place to appreciate dad’s wisdom.  Through the teen and early twenty years it is often common for sons to experience rebellion against their dads as they try to understand themselves as their own man.  In that time, they are watching their dad closely to see if he walks the talk or is a hypocrite.  Rehoboam saw as much hypocrisy as he wanted to see, especially in the area of sexual purity.  

How confusing it must have been for Rehoboam to hear his dad’s proverbs about choosing your wife carefully and then see his dad collect queens and concubines like they were baubles.        Though history would show this text to be incongruent with the life Solomon lived, it is a touching text when we take Solomon and Rehoboam out of it.  The teacher recalls simpler days with his father and mother.  His desire to learn from his father, and apply those lessons to life.  You have a sense that the teacher remembers fondly a very close and intimate relationship with his dad.   

> 7	The beginning of wisdom is this: Get wisdom. Though it cost all you have, get understanding.  
8 Cherish her, and she will exalt you; embrace her, and she will honor you.  
9 She will give you a garland to grace your head and present you with a glorious crown.”
 
**Vs. 7-9:** Solomon extolls the virtue and value of gaining wisdom.  It is worth all one’s money and possessions to obtain it.  Wisdom is to be cherished and honored.  It will bring blessings to one’s life, like a glorious crown.   

> 10 Listen, my son, accept what I say, and the years of your life will be many.  
11 I instruct you in the way of wisdom and lead you along straight paths.  
12 When you walk, your steps will not be hampered; when you run, you will not stumble.  
13 Hold on to instruction, do not let it go; guard it well, for it is your life.

**Vs. 10-13:** This section returns to the call to the son to listen and learn all the wisdom he can from his father.  The gaining of this wisdom will add years to one’s life and make all one’s paths straight.   

> 14 Do not set foot on the path of the wicked or walk in the way of evildoers.  
15 Avoid it, do not travel on it; turn from it and go on your way.  
16 For they cannot rest until they do evil; they are robbed of sleep till they make someone stumble.  
17 They eat the bread of wickedness and drink the wine of violence.

**Vs. 14-17:** The first proverb of this section deals with avoiding the path of the wicked and evildoers.  You will know they are wicked because they cannot rest until they have done some form of evil.  They tend to thrive when hurting others, to the point of not being able to sleep well unless they have had a dose of evil in their lives.  Vs. 17 grasps the power of wickedness in some people as it uses two strong metaphors, “The evildoers eat the bread of wickedness and drink the wine of violence.”  It matters what we put in our hearts and minds.  It impacts the way we think and act.  If one feeds on violent, sexually promiscuous, and evil books, TV, internet, or phone links one will begin to experience life this way.  It will be a subtle transition in life to becoming a wicked person.  No one sets out to become wicked, but they feed their base desires, and it becomes as easy as it is unnoticeable that we have become wicked.  Also, few are wicked to the core.  They just have areas of weakness and wickedness for which they make excuses and enjoy feeding.  Though the proverb paints wicked people in broad strokes, we should always be wary of how easily any one of us can allow parts of our lives and character to become wicked and weak to temptation and evil.   

> 18	The path of the righteous is like the morning sun, shining ever brighter till the full light of day.  
19 But the way of the wicked is like deep darkness; they do not know what makes them stumble. 
 
**Vs. 18-19:** This is a wonderful metaphor about choosing the path of righteousness to live.  The choice starts out like the morning sun, and as we continue to live in righteousness our light shines brighter and brighter as the sun comes to the full light of the daytime.  To experience this proverb one must decide to choose righteousness over wickedness all the time.  This requires us to examine our lives regularly, to hate sin like God does, and choose righteousness over our temptations day and night.  This is a hard lifestyle to choose because of the weakness and fallenness of our natural inclinations as humans.

In contrast, the wicked walk and stumble in deep darkness.  The darkness gets deeper and darker as they continue to walk in their wickedness.  The phrase “they don’t know what makes them stumble” is interesting.  People often say they don’t know why so many bad things happen to them.  Sometimes it is just life.  Some people’s lives are harder than others.  But too often they have lived the unexamined life, and not paid any attention to how easily they have been tempted into wicked choices.  They stumble in the darkness, clueless that they are in a darkness caused by their own wicked choices.  They don’t know why they have lung cancer, and yet they have smoked all their life.  They don’t know why their marriage is weak, and yet they struggle with pornography all the time.  The wicked cannot look at themselves honestly, and follow the logical consequences of their actions.   
 
> 20 My son, pay attention to what I say; turn your ear to my words.  
21 Do not let them out of your sight, keep them within your heart;  
22 for they are life to those who find them and health to one’s whole body.  
23 Above all else, guard your heart, for everything you do flows from it.  
24 Keep your mouth free of perversity; keep corrupt talk far from your lips.  
25 Let your eyes look straight ahead; fix your gaze directly before you.  
26 Give careful thought to the[c] paths for your feet and be steadfast in all your ways.  
27 Do not turn to the right or the left; keep your foot from evil.

**Vs. 20-27:** This is a wonderful use of the human body as a teaching tool for the blessing of wisdom in one’s life.  First, we are to keep wisdom in our sight and in our heart.  This will be good for our body.  Start with protecting your heart.  This is the center of who we are and what we will be.  So when we want wisdom with all our heart it is a good way to protect our heart.  Your mouth contributes to your wisdom by keeping perverse and corrupt talk far from your lips.  Rude and coarse talk communicates a person’s weak heart and lack of desire for wisdom.  It degrades our own understanding of ourselves.  Next, look straight ahead with one’s eyes.  Our eyes are a window to our soul.  Shady people hide their eyes.  Wise people look straight ahead and have a strong fixed gaze.  Check a person’s eyes and learn a lot about the course of life they have chosen.  Choose the right path for your feet.  The feet don’t take us places.  Our mind, heart, and soul tell our feet where to go.  Where we go will reveal the choices for wisdom or foolishness we have made.  Sometimes people get to where they are going and wonder how they got there.  This often happens in infidelity, embezzlement, and other illegal or immoral places we end up.  They may be surprised that they got to these terrible places, but they got there because their heart, mind, and soul had a darkness that opened the door to walk places they didn’t want to go.  When we walk the straight paths we will not wonder how we got to the places we end up.  We must remember that walking straight paths are not easy to walk.  Life, satan, and our own desires will offer paths to the right or the left that we can walk off the straight path.  The right and the left are also paths to be careful to avoid for the illegal and immoral places we can end up.  Solomon’s use of the journey to find wisdom is indeed a full body commitment: mind, eyes, ears, mouth, heart, and feet.  

### Footnotes 
a.	Proverbs 4:7 Or Wisdom is supreme; therefore get  
b.	Proverbs 4:7 Or wisdom. / Whatever else you get  
c.	Proverbs 4:26 Or Make level
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
