{% set pageName = "Proverbs 3 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-3-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Wisdom Bestows Well-Being

> 3 My son, do not forget my teaching, but keep my commands in your heart,  
2 for they will prolong your life many years and bring you peace and prosperity.  
 
**Vs. 1-2:** This chapter focuses on how wisdom brings well-being.  That said, the proverbs throughout this chapter will all fall into the eight categories of proverbs described in Proverbs 1:1-7.  Again, these proverbs are addressed to a son, a young person, a learner, that is someone who should be open to learning the importance of wisdom at an early age, for gaining wisdom is a life-long process.  This proverb calls the learner to learn about wisdom with a commitment not to forget what he learns.  Keep these teachings in your heart and they will prolong your life and bring peace and prosperity.  These three blessings appear often through the book as rewards for gaining and living by the teachings of wisdom.   

> 3 Let love and faithfulness never leave you; bind them around your neck, write them on the tablet of your heart.  
4 Then you will win favor and a good name in the sight of God and man.  
 
**Vs. 3-4:** It is wise to let love and faithfulness be central to one’s life.  Solomon admonishes the learner to bind them around your neck and write them on your heart.  Choosing to put love and faithfulness in this place in one’s life will win the favor of God and others as well as build you a good name.  Solomon will explore the importance of a good name throughout the book.   

> 5	Trust in the LORD with all your heart and lean not on your own understanding;  
6	in all your ways submit to him, and he will make your paths straight.  
 
**Vs. 5-6:** This “Fear of the Lord” proverb is one of the most quoted proverbs and is a good one to memorize.  Jesus will call us to love the Lord with all our heart.  Solomon admonishes us to trust in the Lord with all our heart.  To do this we have to admit we do not understand all things, and even when we don’t understand all things we go where God leads us because we trust Him with everything.  When we submit to God, God will make our paths straight.  Many times I have offered pastoral care for people who have not trusted in the Lord and have leaned on their own understanding.  When their struggles started God’s ways did not make sense to them, so they didn’t listen to God.  A simple question will redirect their steps, “So, you leaned on your own understanding.  How is that working for you?”  The next question is more rhetorical, “Is it time to do it God’s way?”   

> 7	Do not be wise in your own eyes; fear the LORD and shun evil.  
8 This will bring health to your body and nourishment to your bones.  
 
**Vs. 7-8:** Another “Fear the Lord” proverb that calls us away from arrogance.  Other people can say we seem wise to them, but it does not profit us to think we are wise in our own eyes.  It is better to not be concerned about how wise we are, but to focus on searching for and gaining wisdom.  Living this way will help make us healthier.  It is an example of how the Bible has been teaching wellness for the whole body a long time before modern medicine realized that our mental, emotional, and spiritual state affects our physical state.   

> 9 Honor the LORD with your wealth, with the firstfruits of all your crops;  
10 then your barns will be filled to overflowing, and your vats will brim over with new wine.  
 
**Vs. 9-10:** The wise person will choose to honor the Lord by giving their first fruits back to the Lord.  All through the Old Testament tithing is taught as a way to keep us from making money an idol and to have the money God gives us be blessed.  God promises that when we trust God to provide all the money and necessities of life, and trust Him by giving God back 10% to strengthen His church, then we will receive a rich blessing to overflowing.  Though it is not mentioned here but in numerous other places in the Old Testament, anything less and the money God gives us will be cursed.  Which does the wise person desire; blessed or cursed money? 
(That is a rhetorical question!). 
 
> 11	My son, do not despise the LORD’s discipline, and do not resent his rebuke,  
12	because the LORD disciplines those he loves, as a father the son he delights in.  
 
**Vs. 11-12:** As a good father disciplines a child he wants to raise up right, so God is a good Father, and disciplines us, His disciples.  However, we do not discipline well.  The Proverb tells us not to despise or resent God’s discipline, but we do.  We don’t like to be told what to do, even by God.  Many proverbs will speak about being open to discipline and critique.  These require humility and a desire to actually become wiser, while at the same time having to endure things we don’t like to endure like instruction, discipline, and not always looking better than others in front of them.  It is the wise person who allows God and people to discipline, instruct, correct, and guide them.   

> 13	Blessed are those who find wisdom, those who gain understanding,  
14 for she is more profitable than silver and yields better returns than gold.  
15 She is more precious than rubies; nothing you desire can compare with her.  
16	Long life is in her right hand; in her left hand are riches and honor.  
 
**Vs. 13-16:** When God came to Solomon and granted Him one gift God was pleased that Solomon asked for wisdom instead of money, fame, power, or the death of his enemies.  This proverb teaches that money will come to the wise.  It is a part of the gift of wisdom.  Wealth has a tendency to follow it.  Other gifts that come from wisdom include long life and honor.  These are all the things God said Solomon would also receive because he chose wisdom to rule the people of Israel as the one gift he wanted from God.   
 
> 17	Her ways are pleasant ways, and all her paths are peace.  
18	She is a tree of life to those who take hold of her; those who hold her fast will be blessed.  
 
**Vs. 17-18:** More blessings that come from seeking and gaining wisdom include a pleasant walk through life because wisdom allows a person to see life with more clarity and experience peace through wise choices more often than not.  Also, she is like the tree of life.  This is looking back to the Garden of Eden and the tree of life at the center of the garden.  When one eats from the tree of life they need not fear death.  So, even though we live outside the garden, we need not fear death either, because our lives are in the hands of the Lord if we know the wisdom that comes with fearing the Lord.   

> 19	By wisdom the LORD laid the earth’s foundations, by understanding he set the heavens in place;  
20 by his knowledge the watery depths were divided, and the clouds let drop the dew.  

**Vs. 19-20:** As if we need further proof of the benefits of wisdom, it is through wisdom that God laid the foundations of the earth, set the heavens in place, divided the waters of the earth, and formed the weather patterns.  No wonder God was so pleased that Solomon chose wisdom as his gift.  God is the example of perfect wisdom, as He made creation to perfectly work together.  We will always please God if seek wisdom.   

> 21	My son, do not let wisdom and understanding out of your sight, preserve sound judgment and discretion;  
22	they will be life for you, an ornament to grace your neck.  
23 Then you will go on your way in safety, and your foot will not stumble.  
24	When you lie down, you will not be afraid; when you lie down, your sleep will be sweet.  
25	Have no fear of sudden disaster or of the ruin that overtakes the wicked,  
26 for the LORD will be at your side and will keep your foot from being snared.  

**Vs. 21-26:** This final section on the benefits of wisdom in chapter 3 are a kind of summary to the son Solomon is speaking to.  As I reflect on the peace, prosperity, and courage that wisdom brings to one’s life I think about the myth of the genie and his lamp.  In none of the stories on this theme does the person who has just received three wishes ever use even one of those wishes to wish for wisdom.  The hero usually wishes for things that fix the immediate situation they find themselves in, only they wish for a big solution, whereas Solomon makes it clear one need only wish for wisdom and all other wishes are covered.  The wonderful gift from God is that God desires to shower wisdom upon us if we will seek wisdom and ask for wisdom from God.  We do not need wishes to be granted.  It is one of the many gifts God makes available to us if we are willing to walk the journey of gaining wisdom throughout our lives.  For example, making a commitment to read the Bible through every year for the rest of your life will grant the wisdom of God in a way that no other choice can offer.  It is not that difficult.  It requires about 15 minutes a day reading God’s word.  The first time you read the Bible through you realize that you have done something important and it impacts your life in many and wondrous ways.  The second time you read the Bible through you are amazed at all the passages you read that you don’t remember ever reading, and these new passages open you up to the wealth of wisdom God wants to shower down upon you.  The third time this will happen again, but not quite as much.  The fourth time you read the Bible through completely it will be a bit harder.  You’ve done this before, and for some reason it doesn’t seem to have the impact.  Then one year after that, maybe the fifth year, maybe longer, you realize God has completely changed you through His word, and the Bible becomes a great friend, a precious gift, a never ending treasure that is always giving you wisdom in every situation in life, and people start to notice you have wisdom and they want to know why.  When you come to that place where you no longer wonder how many years you are going to read the Bible through in a year, and simply look forward to each year’s journey you will be at a place you never thought possible, and the world will be completely different than it ever was before.  The reason is you are beginning to look at the world and see it the way God does.  That is what the journey for wisdom can bring you.  Go on the journey.  Read the Bible through every year.

> 27 Do not withhold good from those to whom it is due, when it is in your power to act.  
28 Do not say to your neighbor, “Come back tomorrow and I’ll give it to you”— when you already have it with you.  
29 Do not plot harm against your neighbor, who lives trustfully near you.  
30 Do not accuse anyone for no reason— when they have done you no harm.  

**Vs. 27-30:** These next four proverbs deal with some appropriate ways to deal with neighbors from a negative perspective.  Do not… withhold good, lie, plot harm, or falsely accuse your neighbor.  There are a lot of other things a wise person should not do to their neighbor, and these seem pretty obvious, at least tot the follower of Jesus Christ.  However, it is important to remember that what seems obvious becomes difficult when we perceive we may have to pay some price to live in these loving and honest ways.  For example, we would not normally look for opportunities to accuse our neighbor of something they didn’t do unless we think we can receive some gain or avoid some great loss.  The temptation in real life circumstances makes these proverbs difficult.  So the deeper meaning of these proverbs is to choose to be good, honest, and help others as a lifestyle choice, that is something that is at the core of our character.  If being a person of character should bring a cost with it we learn that the cost is worth paying because we trust in the Lord’s promises that He will reward us for making such moral choices that make us a person of integrity.

> 31 Do not envy the violent or choose any of their ways.  
32 For the LORD detests the perverse but takes the upright into his confidence.  
33	The LORD’s curse is on the house of the wicked, but he blesses the home of the righteous.  
34	He mocks proud mockers but shows favor to the humble and oppressed.  
35	The wise inherit honor, but fools get only shame.  

**Vs. 31-35:** These final five proverbs are loosely connected as guidance for ways of living that reveal to us the character of God.  We should not envy those who are violent (and by inference, we should not be jealous of their gain by such violence), for the Lord detests those who live violently.  Therefore, the wise person avoids these life choices because they go against who God is, and what God blesses.  The Lord will bless not only the life, but the whole house of the righteous, while curses fall on the house of the wicked.  Next, we should desire to be humble because God shows favor to the humble, while prideful people are brought down by God.  God also gives a great inheritance, that of honor, to those who choose to live wisely in the eyes of the Lord.  To live otherwise is foolishness, and the fool inherits only shame, and worse.

### Footnotes 
a.	Proverbs 3:6 Or will direct your paths  
b.	Proverbs 3:12 Hebrew; Septuagint loves, / and he chastens everyone he accepts as his child  
{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
