{% set pageName = "Proverbs 9 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-9-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
    <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
12 Whoever loves discipline loves knowledge, but whoever hates correction is stupid.

Discipline and knowledge go together. Usually when we seek knowledge we need to both
exercise discipline and we will also gain discipline and knowledge. It is a sign of stupidity when
a person cannot take correction from others. It is important for us to have the discipline to be
able to listen to people, even those we don’t respect, for the kernel of wisdom that their
correction may have. In fact, those we don’t respect may have the ability to be painfully honest
with us, when others are careful not to hurt us because they care about us.

> 2 Good people obtain favor from the LORD, but he condemns those who devise wicked schemes.

The choices that go with being good will bring blessing from the Lord. God will intervene in the
wicked schemes of bad people. Even though there is debate over whether there are any absolute
truths the fact is people almost always know right from wrong. It is rebellion against God that
makes people try to justify doing bad when they know deep down it is absolutely bad, and when
they pretend there are no absolute truths. If you believe in God, even if the god you believe in
isn’t the God of the Bible, there are absolute truths. For any god we can believe in will define
such truths as honesty, not stealing, and not killing. The God of the Bible has no dishonesty in
Him, therefore, it is absolutely true that honesty is always better than lying. God is the definition
of perfect honesty, and has woven it into creation. Only atheists can assert that there are no
absolute truths. They are absolutely wrong, but that is something they must deal with.

> 3 No one can be established through wickedness, but the righteous cannot be uprooted.

Becoming established is a theme that runs through a number of proverbs. It is that sense that you
have a home, a family, a community where you belong. There is a safety that comes with being
established. There are people who care about you, and want to help protect you from the harsh
realities of life that can be hard and unfair. Wickedness makes this sense of becoming
established impossible. The wicked person never knows the motives of those that help them.
Their wickedness can cause those helping them to turn on them quickly and easily.
Righteousness promotes the ability of becoming established for it promotes community.

> 4 A wife of noble character is her husband’s crown, but a disgraceful wife is like decay in his bones.

Scattered throughout Proverbs, and especially Proverbs 31, there are proverbs about the blessing
of a good wife. Here the good wife is defined as having noble character. The lack of character
will not only affect the marriage; it will affect all areas of one’s life. I have learned that there are
two things one must get right to live life to its fullest. If you have a great faith and a great
marriage, then you can work through all of life’s great challenges. We could easily say that a
husband of noble character is also the wife’s crown.

> 5 The plans of the righteous are just, but the advice of the wicked is deceitful.
6 The words of the wicked lie in wait for blood, but the speech of the upright rescues them.
7 The wicked are overthrown and are no more, but the house of the righteous stands firm.

All three of these deal with living righteously. When one chooses to live righteously then they
will rarely make plans that are unjust, and if they do, they will want to fix the problem.
However, the wicked person is usually focused on what is good for him/herself. All their advice
for making plans will have the hint of deceitfulness. The wicked cannot be trusted. The wicked
will not be hindered by hurting people to get what they want, thus “waiting for blood.” But such
wickedness will eventually lead to their downfall. The righteous can rescue people from the
wicked and their house stands firm against a wicked person’s evil schemes.

> 8 A person is praised according to their prudence, and one with a warped mind is despised.

This proverb foreshadows Jesus’ teaching about the righteousness of the mind as well as of our
actions. Jesus taught that it not only matters what you do in the eyes of God, it matters what you
think. Thus he says that if you lust after a woman you have already committed adultery in your
heart (Matthew 5:28). Bad or evil thoughts will alienate a person from others. Our mind needs
to be fed good spiritual food so it does not wander to sinful places of lust, gluttony, sloth,
murder, theft, greed, or revenge just to name a few of the evil places our mind can go when fed
bad spiritual food. Most people never act on these evil thoughts, but they separate us from God
to be sure, and that is unacceptable to God in His ongoing desire to build a deep and intimate
relationship with each one of us.

> 9 Better to be a nobody and yet have a servant than pretend to be somebody and have no food.

This sounds odd to us because the idea of having a servant sounds odd to us. It was not so odd in
ancient days when different forms of servitude and slavery were accepted. It is important not to
judge the ancient world by our own modern day standards of morality. Even though the Bible
does not directly attack slavery and servitude as institutions it has improved the lot of slaves and
servants throughout history as there are detailed descriptions of just and humane ownership of
others. Throughout history these texts were conveniently forgotten, and the evils of slavery and
servitude could not be denied. Then as Christians and the world began to see these evils more
clearly the Bible had a wealth of teaching on why slavery and servitude should be abandoned as
legitimate institutions. It was through his studies of the Bible that Thomas Jefferson was
inspired to write “All men are created equal” in our Declaration of Independence. These
important words would be the foundation upon which setting slaves free and all other freedom
movements in our nation have grown.

> 10 The righteous care for the needs of their animals, but the kindest acts of the wicked are cruel.

That Solomon wrote a proverb about taking care of animals is a testament to how profound these
proverbs can be, especially when we let each proverb point us back to God and better understand
Him. In Genesis 1:28-30 God charged the man and the woman, and all of humanity, with the
task of being good stewards of all creation. This simple proverb points us to Genesis and our
great calling to take care of God’s creation. The wicked do not think of such things. Even when
they try to be kind their acts are easily poisoned by their wickedness.

> 11 Those who work their land will have abundant food, but those who chase fantasies have no sense.

This proverb praises the rewards of diligence and hard work. Those that work hard will have
food. Those that live in fantasies, i.e. look for short cuts or make excuses for laziness, will
struggle to find food and be seen by others as senseless.

> 12 The wicked desire the stronghold of evildoers, but the root of the righteous endures.

This sounds like a good proverb to instruct the gangs how wicked turf wars are. The gangs fight
over control of “their turf” and many lives are broken or lost. The wicked person cares littleabout what others have except to the extent that they want to take it for themselves. In polite
company there are different kinds of turf wars. We see this evil when people want what others
have. They may not pull out switch blades and guns to take it, but their weapons of hate,
revenge, lying, and cheating can have the same effect on the people who have what they want.
Righteousness allows a person to survive and even have the victory if we become the target of a
wicked person who wants something we have.

> 13 Evildoers are trapped by their sinful talk, and so the innocent escape trouble.
14 From the fruit of their lips people are filled with good things, and the work of their hands brings them reward.

The next six proverbs deal with the importance of choosing our words carefully. My sister-inlaw is a prosecuting attorney. She is very good at what she does. When she calls a criminal (of
course innocent until proven guilty) to the stand she says she just has to keep them talking before
their lies catch up with them and they incriminate themselves. But when someone comes on the
stand and just tells the truth she can tell. They don’t incriminate themselves because they are
innocent. Being innocent is the best way to escape trouble. Vs. 14 continues this guidance for
saying what is right. Good things and rewards come to those whose words bring good things and
blessings on others. It is one of the more profound things we can change in our lives to decide to
bless others with our words, not curse them. It can change the course of another person’s life
when we bless them. Curses can stay with someone even more easily than blessings. Listen to
your words, and work hard to make sure your words are a blessing to others.

> 15 The way of fools seems right to them, but the wise listen to advice.

I love these proverbs that teach us to be willing to take criticism from others. The willingness to
take criticism is often one of the biggest barriers for us to grow out of our foolish and
uninformed ways, better understand ourselves, our strengths and our weaknesses, and build our
relationship with God who loves us too much to leave us where He finds us. Just because a
person knows they are right doesn’t make it true. Fools are not able to understand this and
therefore do not take criticism from others.

> 16 Fools show their annoyance at once, but the prudent overlook an insult.

We live in an age of offense, grudges, and unforgiveness. We can usually see a person’s
annoyance on their face quickly if they think they have been slighted in any way. This is the
way of fools. The prudent learn how to overlook insults. This comes under the category of not
taking ourselves too seriously, being able to laugh at ourselves, and not being concerned what
others think about us, but being only concerned with what God thinks and building our
relationship with God. When we are most concerned with our relationship with God other’s
insults will rarely do more than bounce off of us, and when they hurt God gives us His love,
mercy, compassion, and strength to let it go and move on in life. This is important because some
people are really good at insulting or cursing others. When we let their curses, insults, and
attacks hurt us we give them the power to define who we are and who we aren’t. God is the only
one that should ever have that power.

> 17 An honest witness tells the truth, but a false witness tells lies.
18 The words of the reckless pierce like swords, but the tongue of the wise brings healing.
19 Truthful lips endure forever, but a lying tongue lasts only a moment.

Vs. 17 continues the wisdom of being honest in court (see vs. 13). Vs. 19 lauds the blessing of
speaking truthfully, for truthful words endure, while lies and deceit do not last. Vs. 18 is a
wonderful summary of this whole section (vs. 13-19) on choosing our words carefully. Words
can pierce a person like a sword. I have heard countless stories of people who were told when
young about how they wouldn’t amount to anything, couldn’t sing, were fat, etc. These words
would crush them until God could come into their lives and crush the lies. These lies are curses
that set deep wounds in people’s lives. In contrast, a wise word from a caring and righteous
person can bring a blessing upon them that can change their lives. It is our natural inclination to
curse people because it is our natural inclination to think sinfully because we are sinful. Our
ability to curse people can roll off our tongues so easily we don’t even know we are doing it. If
we want to change this, we have to want to make changes in the way we think about people, and
have a deep desire to bless people instead of cursing them. We have to be willing to ask others
we trust to hold us accountable. We have to be willing to ask forgiveness when we fail, and we
have to be willing to bless the person verbally as well as in prayer a number of times to cancelthe power of the curse. When we are willing to go to this extent then we truly desire to be a wise
person that blesses others. Otherwise, we harbor a desire for wickedness within us, thus giving
satan a foothold to turn it into much more.

> 20 Deceit is in the hearts of those who plot evil, but those who promote peace have joy.

The wicked don’t just do evil things, their evil puts deceit in their hearts. As you stack all the
effects of wickedness up from all the proverbs you get a picture of wickedness being like a dark
shadow. It slowly moves in and through our heart, soul, mind, and body, sapping life, joy, love,
and hope from us. Wickedness replaces life, joy, love, and hope with deceit, evil, hatred,
arrogance, and destruction of others’ lives. A person can shine the light of wisdom, faith, and
fear of the Lord on the dark shadow, and it will pull away. But if a person gets lazy about
choosing righteousness and wisdom then the shadow will again spread through one’s mind,
body, soul, and heart. If we allow wickedness to cover all these completely, then wickedness
gets darker and darker. Choosing righteousness does not immediately change the course of
wickedness’s dark assault on our lives. That takes time. The more we choose righteousness the
more the darkness is pushed away and the light in our lives grows. Here’s the catch. If we don’t
consciously choose to live righteous lives, then we have chosen wickedness because we are
sinners to our core. To not choose righteousness is to choose wickedness!

> 21 No harm overtakes the righteous, but the wicked have their fill of trouble.

This drives home the above point. Generally speaking, the rain falls on the just and the unjust
alike (Matthew 5:45), but righteousness will bring a reward that they will not be overwhelmed by
harm brought on by a fallen world, like the rain. Wickedness, as it controls one’s life will open
doors for all kinds of trouble when the rain comes. Righteousness opens the doors for God to
bring victory into our lives when the rains come.

> 22 The LORD detests lying lips, but he delights in people who are trustworthy.

Thou shalt not bear false witness (Lie) is the ninth commandment (Exodus 10:16). So Solomon
is stating the obvious when he says the Lord detests lying lips. The opposite is that God delights
in those who are honest. More important is whether you want to always be honest. Are you
comfortable managing this sin by being honest when it helps you, but thinking a little white lienever hurt anyone when the truth may come with a price. This is the way the majority of people
think. It is part of the choice between wickedness and righteousness. One lie doesn’t make you
wicked, but it advances the shadow of darkness in your life. As the shadow advances and
darkens it is easier and easier to choose to lie to protect yourself. Little white lies become big
dark lies, and we can’t tell the difference.

> 23 The prudent keep their knowledge to themselves, but a fool’s heart blurts out folly.

We have all seen it when a fool just can’t keep from talking, and we just quietly let them spout
their foolishness. It is embarrassing for them, but one chooses to be foolish or not. There are
plenty of proverbs that remind us that the wise cannot protect fools from themselves.

> 24 Diligent hands will rule, but laziness ends in forced labor.

This proverb attacks lazy and slothful behavior. Sloth is considered by the Catholic Church as
one of the seven deadly sins (which also includes pride, greed, lust, envy, gluttony, and wrath).
Bad things happen to the lazy. Here Solomon reminds the person searching for wisdom that
laziness can cause you to lose your freedom in debtor’s servitude. When people fell into deep
debt they could work off their debts by selling themselves into servitude. This seems as drastic a
solution as it actually is. To avoid such an experience, learn to work, and work hard.

> 25 Anxiety weighs down the heart, but a kind word cheers it up.

Anxiety can be a deadly problem, and there is no good reason to let anxiety afflict your heart.
Jesus’ teaching on not being anxious is found in Matthew 6:31-38. He teaches that anxiety is a
sin against God because it reveals a person’s lack of trust. God provides and protects the
sparrow, and He promises to provide and protect us. Do we trust God? Even if we don’t, there is
nothing more worthless than anxiety. It changes nothing for the better. NOTHING! On the
other hand, prayer changes everything for the better. The proverb says a kind word cheers a
person that is struggling. A kind prayer will do even more, especially if we will pray with an
anxious person on the spot, wherever we are.

> 26 The righteous choose their friends carefully, but the way of the wicked leads them astray.

It is said that we are or become who we spend time with. If the righteous person must choose to
live a righteous life, or by default they choose wickedness, then the same can be said about their
choice of friends. Why would one want to surround themselves with people who don’t have the
wisdom to know how wickedness brings a darkness into every aspect of their lives. A part of
choosing righteousness as a life choice includes choosing good friends. Otherwise, the battle to
stay righteous will be more difficult than it already is.

> 27 The lazy do not roast[a] any game, but the diligent feed on the riches of the hunt.

Not being a hunter I don’t think I fully understand the meaning of this proverb, but I think it is
saying that the hunter is tempted to just hunt. That is the rewarding part of hunting. The
retrieving the body, field dressing it for future use, and all the other details that go into actually
eating the game you have hunted is a lot of work. The diligent will do the work and receive the
reward. The lazy will not, and waste good game.

> 28 In the way of righteousness there is life; along that path is immortality.

This doesn’t sound like a proverb to fear the Lord on the surface. God is not even mentioned.
But in fact, God is implied in all the proverbs because the rewards of righteousness and the
curses of wickedness can only be assured by a just and holy God. So this last proverb of this
chapter promises immortality for righteousness. This is a promise only God can assure. The
only way to experience this gift from God is through faith in Jesus Christ. Though Solomon
didn’t know this, he was inspired to understand that all the blessings righteousness can bring
point to eternal salvation. So this proverb foreshadows (that is, it looks ahead) to the coming of a
Messiah, who is Jesus Christ our Lord.

### Footnotes
a. Proverbs 12:27 The meaning of the Hebrew for this word is uncertain.

{% endmarkdown %}

    </section>
    {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
