{% set pageName = "Proverbs 5 (A Commentary written by Al Earley) " %}
{% set downloadPDF = "/resources/proverbs-5-with-scripture.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{ pageName }}</h1>
(<a href="{{ downloadPDF }}" download>Download</a>)
{% markdown %}
## Warning Against Adultery

> 5 My son, pay attention to my wisdom, turn your ear to my words of insight,  
2 that you may maintain discretion and your lips may preserve knowledge.  
3 For the lips of the adulterous woman drip honey, and her speech is smoother than oil;  
4 but in the end she is bitter as gall, sharp as a double-edged sword.  
5 Her feet go down to death; her steps lead straight to the grave.  
6 She gives no thought to the way of life; her paths wander aimlessly, but she does not know it. 

**Vs. 1-6:** Here is Solomon’s counsel to his sons that they avoid the adulterous woman.  Her lips drip honey, her speech is smooth as oil, but these are deceptive as she lures the unsuspecting or desirous man into her traps.  If a son will walk into the sexual traps of the adulterous woman he will learn she brings a form of death, and will lead the man to wayward paths and aimless wandering.  Solomon is one of the best Biblical examples of how not to follow this path.  Even though he apparently married or claimed each of his 700 wives and 300 concubines he was led astray from God while trying to satisfy all his desires and keep all these women happy.  He may not have thought this proverb applied to him because he took care of all the women he claimed.  He may have been thinking of women who were like gold diggers, using sex with rich men, like Solomon’s sons, but the end result was just the same.
  
> 7 Now then, my sons, listen to me; do not turn aside from what I say.  
8 Keep to a path far from her, do not go near the door of her house,  
9 lest you lose your honor to others and your dignity[a] to one who is cruel,  
10 lest strangers feast on your wealth and your toil enrich the house of another. 

**Vs. 7-10:** Again, Solomon calls the sons to pay attention to his counsel.  Stay away from the house of the adulterous woman.  You will lose honor and dignity, your wealth will be exposed to strangers who will feast on it, and you will find yourself enriching other’s homes.  This is an interesting insight from Solomon because his many marriages and concubines helped to add to his vast wealth, at least at the moment the marriages were consummated.  But over time this would prove to be ill-gotten gain, and ruin his joy in the Lord, his family, the kingdom, and in the end it would prove to be true as his wealth dissipated into nothing in less than 100 years.

> 11	At the end of your life you will groan, when your flesh and body are spent.  
12	You will say, “How I hated discipline! How my heart spurned correction!  
13 I would not obey my teachers or turn my ear to my instructors.  
14 And I was soon in serious trouble in the assembly of God’s people.”
 
**Vs. 11-14:** This is much like Ecclesiastes in miniature.  Solomon wrote Ecclesiastes at the end of his life, as he reflected on the meaning of life.  He basically wrote that since he chose money, women, and pleasure over God he found himself groaning at the end of his life as he realized his body and flesh were spent, and he had focused on the wrong thing most of his life.  He hated the discipline of worshipping the Lord only and keeping God’s law that kings were to have only one wife.  He spurned correction, and depended on his own wisdom to choose a path away from God.  There is no indication that he depended much on the counsel of others.  Even though he was not in serious trouble with God’s people he set his son, Rehoboam up for complete and utter failure and disaster.  Rehoboam watched what his father did, not what he said.  Within years the once great kingdom of Israel became two weak nations.  They would never achieve their former glory.  We can say that on paper Solomon’s wisdom was indeed divine, and important council for all that will take the time to study the Proverbs.  Solomon helps us see how wise these Proverbs are by living against his own counsel, and we see the disaster that followed within a year of Solomon’s death.  Solomon died in 931 BC, and civil war brought an end to the kingdom in 930 BC.

> 15 Drink water from your own cistern, running water from your own well.  
16 Should your springs overflow in the streets, your streams of water in the public squares?  
17 Let them be yours alone, never to be shared with strangers.  
18 May your fountain be blessed, and may you rejoice in the wife of your youth.  
19	A loving doe, a graceful deer— may her breasts satisfy you always, may you ever be intoxicated with her love.  
20	Why, my son, be intoxicated with another man’s wife? Why embrace the bosom of a wayward woman? 

**Vs. 15-20:** This next section sings beautifully about the blessing of monogamy.  Sharing wives, connecting with wayward and adulterous women are practices that are to be shunned.  The wise person stays with the wife of his youth and finds all forms of love and marital satisfaction in her.

Though polygamy was somewhat common in the Old Testament, Solomon’s proverbs certainly played a role in the decrease of polygamy and acceptance of monogamy as the preferred practice.

Also, the cost to the kingdom of Solomon’s polygamy could not be missed.  By the time Jesus was born there was no longer any polygamy, and the New Testament teaches strict monogamy within marriage and celibacy outside of marriage.

> 21	For your ways are in full view of the LORD, and he examines all your paths.  
22	The evil deeds of the wicked ensnare them; the cords of their sins hold them fast.  
23 For lack of discipline they will die, led astray by their own great folly.

**Vs. 21-23:** This final section concludes this entire chapter on faithfulness in marriage and the evils of adultery and fornication with some thoughts on how we may hide our sexual affairs from the world, but never from God.  He knows and examines our paths.  Implied is that God has built into creation that we will experience destruction, pain, struggle, loss, and death from the promiscuous life. We cannot escape these judgments upon us if we choose such a life.

### Footnotes 
a. Proverbs 5:9 Or years

{% endmarkdown %}

    </section>
            {% include "_partials/resources/proverbs.njk" %}
{% endblock %}
