{% set canonical = domain + '/ministryteams/youth' %}
{% set pageName = "Youth Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Youth Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>Youth Ministry Team</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    Lauren Rittman
                 </h3>
            </div>

            <div style="text-align:center;">
                <img src="/images/ministryteams/youth/lauren-jason.jpg" alt="Lauren and Jason" />
                <img src="/images/ministryteams/youth/lpc-youth-laurens-dogs.jpg" alt="Lauren's Dog" />
                <img src="/images/ministryteams/youth/lpc-youth-lauren-dice.jpg" alt="Lauren with Dice" />
            </div>

            <p>I’m Lauren Rittman and I’ve been the youth minister at LaGrange Presbyterian (LPC) since 2009. My wonderful husband Jason with our 2 dogs love worshiping with the LPC community. When people think of youth ministry they automatically have a vision of herding cats...well it’s been my calling for many years now to be the best cat herder I can be! Youth is full of amazing teens that love the Lord. We meet every week to grow in friendship and in a relationship with Jesus. The world is a tough place full of loneliness, bullies, and rejection. Here at youth you will find compassion, understanding, acceptance and love. We embrace our weirdness and harness our gifts to make teen-like super heroes!</p>
        </div>

        <div class="gcontent">
            <h3>Sunday Nights</h3>

            <p>On Sunday nights from 6:00pm-8:00pm the youth of the church meet for their weekly Bible Study and games. We mingle with old and new friends then settle in the youth room for our Bible Study. Currently we are studying 1 Samuel. Bible Study is super important to us because we believe that every problem and every question can be found or solved with the Bible. We learn from people in the past and from Jesus on how to manage our lives&hellip;especially how to NOT manage our lives. We don’t sugar coat the truth of scripture. Our youth live in a time when the world is raw and dangerous and what they learn at youth helps them face the world head on with confidence and assurance through Jesus Christ.</p>

			<div class="video">
			  <iframe
				 class="video__frame"
				 src="https://www.youtube.com/embed/QJOju5Dw0V0"
				 frameborder="0"
				 allowfullscreen="allowfullscreen"
				 allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
			</div>
        </div>

        <div class="gcontent">
            <h3>Mission Trips</h3>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/hands-feet.jpg" alt="Hands and Feet" />
                <img src="/images/ministryteams/youth/lpc-youth-dog.jpg" alt="Dog" />
            </div>

            <p>During the year we have so many fun activities going on. Every summer we go on a mission trip. In the past we have been to Texas, Arkansas and Wisconsin. Each trip is full of challenges and as a group we face them head on while learning more about each other and sharpening our character. In the end our challenges turn into rewards and blessings as we learn that with God we can overcome any obstacle!</p>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/lpc-youth-creeks.jpg" alt="Youth in creek" />
            </div>

            <p>
               Our mission trip this summer will take place July 23-29th. We will be traveling to Black Mountain, NC and participating in a teen camp called &ldquo;Upward Challenge.&rdquo; We will be camping out on a mountain, swimming in a river where The Hunger Games were filmed and learning about God. It is always a super fun week that usually ends in a waterpark visit! Please come and join us at youth and be a part of this amazing trip! If you want to know more about Upward Challenge, then check out this website: <u><a href="https://www.prmi.org/program-descriptions/upward-challenge" style="text-decoration:none;">https://www.prmi.org/program-descriptions/upward-challenge</a></u>
            </p>
        </div>

        <div class="gcontent">
            <h3>Fundraisers</h3>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/fireworks.jpg" alt="Fireworks Tent" />
                <img src="/images/ministryteams/youth/lpc-youth-wewantyou.jpg" alt="We want you to buy our fireworks!" />
            </div>

            <p>
               To fundraise for our mission trips and other activities we have several fundraisers during the year. One of our favorite fundraisers is to run a fireworks tent located at the LaGrange Walmart. You can spot us there the 2 weeks leading up to July 4th. While learning how to manage money we also greet new people with love in our hearts. There always seems to be a new card game to learn because no matter what we are doing...our youth love to be together. Our youth participate in fundraisers to afford all their activities and trips over the entire year!
            </p>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/lpc-youth-tent.jpg" alt="Youth Tent" />
                <img src="/images/ministryteams/youth/lpc-youth-uno.jpg" alt="Uno Gmae" />
            </div>

            <h3>Fall Retreat</h3>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/lpc-youth-wire.jpg" alt="Ropes Coarse" />
                <img src="/images/ministryteams/youth/fire.jpg" alt="Camp Fire" />
            </div>

            <p>
               Every fall we go on a Fall Retreat which is a weekend long camp-like experience. There are camp fires, bible study, carpet ball, group building games and tons of laughs! The weekend is always capped off by climbing the high ropes course, zip line or the 90-foot tower. As we strap into harnesses we learn that God is trustworthy and we encourage our teammates to do their very best. God can do amazing things with our lives, even in the face of fear.
            </p>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/legs.jpg" alt="Youth Retreat" />
            </div>

            <h3>Lock-Ins</h3>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/lpc-youth-lockin.jpg" alt="You Lock In" />
            </div>

            <p>Halloween and New Years are a special time for our youth group as we host all night Lock-Ins! On Halloween we play our version of the Clue board game: all the lights are out in the church, we use flashlights to search for clues in each room...but beware the “murderer” is lurking somewhere in the dark. If they catch you, your doom is at hand...in the shape of tons of silly string being showered on you! At our New Year’s Lock-In we stay up all night playing games: volleyball, 6 Square, Pictionary, Laffy Taffy, Mafia, Darts, Dodge Ball and more! We never stop the fun or the friendship! At midnight we eat birthday cake and sing happy birthday to all the birthdays that will happen in the coming year!</p>

            <div class="letter-img-sbs">
                <img src="/images/ministryteams/youth/foam-darts.jpg" alt="Foam Darts" />
                <img src="/images/ministryteams/youth/balloons.jpg" alt="Balloons" />
            </div>
        </div>

        <div class="gcontent">
            <p class="contact-person" style="margin-bottom: 2rem">
               Questions or comments about this team? Would you like to join the email list for weekly youth announcements? Send a message to <a id="contact-this-person" data-team="Youth Ministry Team">the Youth Ministry Team</a>
            </p>

            <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;mode=MONTH&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=lagrangepres.org_lhi8p3st5d2okinlvvvj2ok1q0%40group.calendar.google.com&amp;color=%23cc3333&amp;src=lagrangepres.org_ouksnhearocb04ci590g11ont4%40group.calendar.google.com&amp;color=%23109618&amp;src=lagrangepres.org_6btao7np9bgasedvdv7hrnl9pc%40group.calendar.google.com&amp;color=%23336699&amp;ctz=America/New_York&amp;title=Youth Events" class="calendar-embed" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>
{% endblock %}