{% set canonical = domain + '/resources/humility' %}
{% set pageName = "The Humility Exercise" %}
{% set downloadPDF = "/resources/humility/the-humility-exercise.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{pageName}}</h1>
            <p>Evelyn Christenson, internationally known authority on prayer, provides a list of possible sins that may help you to begin to understand the power of sin in your life.  Every “yes” answer is a sin in your life that needs to be confessed.  Write down the sin you are dealing with and be specific.</p>
            <p>(<a href="{{ downloadPDF }}" download>Download</a>)
        <ul class="list large">
            <li>
                <p>In everything give thanks:  for this is the will of God in Christ Jesus for you (1 Thessalonians 5:18, NKJ).  Do you worry about anything?  Have you failed to thank god for all things, the seemingly bad as well as the good?  Do you neglect to give thanks at mealtime?</p>
            </li>
            <li>
                <p>Now to him who is able to do exceedingly abundantly above all that we ask or think according to the power that works in us (Ephesians 3:20, NKJ).  Do you fail to attempt things for God because you are not talented enough?  Do feelings of inferiority keep you from trying to serve God?  When you do accomplish something for Christ, do you fail to give Him all the glory?</p>
            </li>
            <li>
                <p>You shall receive power when the Holy Spirit has come upon you:  and you shall be witnesses to Me in Jerusalem, and in all Judea and Samaria, and to the end of the earth (Acts 1:8, NKJ).  Have you failed to be a witness with your life for Christ?  Have you felt it was enough to just live your Christianity and not witness with your mouth to the lost?</p>
            </li>
            <li>
                <p>I say…to everyone who is among you, not to think of himself more highly than he ought to think (Romans 12:3, NKJ).  Are you overly proud of your accomplishments, your talents, and your family?  Would it be fair to describe you as arrogant?  Do you overestimate your importance to the body of Christ?  Do you think that as a Christian you are more important than others in your church?  Do you rebel at God wanting to change you?</p>
            </li>
            <li>
                <p>Do not lie to one another, since you have put off the old man with his deeds (Colossians 3:9, NKJ).  Do you ever lie?  Exaggerate?  Do you fail to see “little white lies” as sin?  Do you tell things the way you want them rather than the way they really are?</p>
            </li>
            <li>
                <p>Let all bitterness, wrath, anger, clamor, and evil speaking be put away from you, with all malice (Ephesians 4:31, NKJ).  Do you complain, find fault, argue?  Do you have a critical spirit?  Do you carry a grudge against Christians of another group because they don’t see eye to eye with you on all things?  Do you speak unkindly about people when they are not present?  Are you angry with yourself?  Others? God?</p>
            </li>
            <li>
                <p>Do you not know that your body is the temple of the Holy Spirit who is in you, whom you have from God, and you are not your own (1 Corinthians 6:19, NKJ).  Are you careless with your body?  Are you guilty of not caring for it as the temple of the Holy Spirit in eating and exercise habits?  Do you defile your body with unholy sex acts?</p>
            </li>
            <li>
                <p>Let no corrupt communication proceed out of your mouth (Ephesians 4:29, NKJ).  Do you ever use filthy language, tell slightly off-color jokes?  Do you condone others doing so in your presence, in your home?</p>
            </li>
            <li>
                <p>Do not…give place to the devil (Ephesians 4:26,27, NKJ).  Do you fail to see that you are a “landing strip” for Satan when you open your mind to him through Transcendental Meditation, yoga, psychic predictions, occult literature, and violent, sex-driven movies?  Do you get advice for daily living from horoscopes rather than from God?  Do you let Satan use you to thwart the cause of Christ in your church through criticism, gossip, and non-support?</p>
            </li>
            <li>
                <p>Not slothful in business (Romans 12:11, NKJ).  Do not fail to pay your debts on time?  Avoid paying them altogether?  Do you charge more on credit cards than you can pay when due?  Do you neglect to keep honest income tax records?  Do you engage in any shady business deals?</p>
            </li>
            <li>
                <p>Not forsaking the assembling of ourselves together (Hebrews 10:25, NKJ).  Are you irregular or spasmodic in church attendance?  Do you attend preaching services in the body only, whispering, reading, or planning while God’s Word is being preached?  Are you skipping prayer meetings?  Have you neglected family devotions?  Do you allow any other Christians the chance to hole you accountable and pray with you on a regular basis (small groups)?  Is your faith journey too isolated from others?</p>
            </li>
            <li>
                <p>Beloved…abstain from fleshly lusts which war against the soul (1Peter 2:11, NKJ).  Are you guilty of a lustful eye toward the opposite sex?  Do you fill your mind with sex-oriented TV programs, movies, books, magazines?  Their covers?  Centerfolds?  Do you indulge in any lustful activity that God’s Word condemns-fornication, adultery, perversion?</p>
            </li>
            <li>
                <p>By this all will know that you are My disciples, if you have love for one another (John 13:35, NKJ).  Are you guilty of being a part of factions and divisions in your church?  Would you rather add fuel to a misunderstanding than help correct it?  Have you loved only the ones in your own church, feeling those of other denominations are not of the body of Christ?  Have you loved only the ones of your own race or socio-economic group, wishing that some people would not attend your church?  Are you secretly pleased over the misfortunes of another?  Annoyed by their successes?</p>
            </li>
            <li>
                <p>No one can serve two masters…You cannot serve God and (money) (Matthew 6:24, NKJ).  Is your goal in life to make as much money as possible?  Accumulate things?  Have you withheld God’s share of your income from Him?  Is money your God?</p>
            </li>
            <li>
                <p>Bearing with one another, and forgiving one another, if anyone has a complaint against another, even as Christ forgave you, so you also must do (Colossians 3:13, NKJ).  Have you failed to forgive anybody anything they might have said or done against you?  Have you turned certain people off?  Are you holding grudges?</p>
            </li>
            <li>
                <p>Let him who stole steal no longer, but rather let him labor (Ephesians 4:28, NKJ).  Do you steal from your employer by doing less work, staying on the job less time than you are paid for?  Do you “pad” your expense account?  Are there any others you cheat and then justify because you think they somehow cheat you?</p>
            </li>
            <li>
                <p>You outwardly appear righteous to men, but inside you are full of hypocrisy and lawlessness (Matthew 23:28, NKJ).  Do you know in your heart that you are a fake, just pretending to be a real Christian?  Are you hiding behind church membership to cover a life still full of sin?  Are you faking Christianity for social status, acceptance in your church, community?  Do you smile piously during the Sunday sermon, but live in your sin all week?  Are you the person in your home that you are trying to impress people you are?</p>
            </li>
            <li>
                <p>Finally, brethren, whatever things are true, whatever things are noble, whatever things are just, whatever things are pure, whatever things are lovely, whatever things are of good report, if there is any virtue and if there is anything praiseworthy – meditate on these things (Philippians 4:8, NKJ).  Do you enjoy listening to gossip?  Passing it on?  Do you believe rumors or partial truths, especially about an enemy or your competitor?  Do you fail to spend time every day reading the Bible and praying?  Do you fail to think on the things of God – only good and true and pure things – always?</p>
            </li>
        </ul>
    </section>
{% endblock %}
