{% set canonical = domain + '/ministry/worship' %}
{% set pageName = "Worship Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="">
        <div class="breadcrumbs">
            <a href="/ministryteams/">Ministry Teams</a>
            /
            <p>Worship Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>WORSHIP MINISTRY TEAM</p>
        </h1>

        <div class="gcontent">
            <div class="gcontent">
                <div class="teams-titles">
                    <h3 class="name">
                        <span>Led By</span>
                        K.C. Burdette
                     </h3>

                    <ul>
                        <li>Regular Worship Services</li>
                        <li>Special Worship Services</li>
                        <li>Worship Environment</li>
                    </ul>
                </div>

                <div class="opening-quote">
                    <p>Ascribe to the LORD the glory due his name; bring an offering and come before him. Worship the LORD in the splendor of his holiness.</p>
                    <strong>1 Chronicles 16:23-31</strong>
                </div>

                <p>
                   The Worship Ministry Team&rsquo;s mission is to oversee that Worship life of LaGrange Presbyterian Church to the glory of God. Affairs related to regular worship service, special worship services, and the environment where worship happens all fall under the domain of worship ministry team.
                </p>

                <div class="opening-quote">
                    <p>Let everything that has breath praise the Lord. Praise the Lord.</p>
                    <strong>Psalm 150:6</strong>
                </div>

                <p>The current Worship Elder is K.C. Burdette. He is a student at the University of Louisville studying Computer Information Systems. K.C. grew up attending La Grange Presbyterian Church and is still active in the Youth Group.</p>

            </div>
            <p class="contact-person" style="margin-top: 4rem">
                  Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Worship Ministry Team">the Worship Ministry Team</a>
            </p>
        </div>
    </section>

{% endblock %}
