{% set canonical = domain + '/ministryteams/missions' %}
{% set pageName = "Missions Ministry Team" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/ministryteams">Ministry Teams</a>
            /
            <p>Missions Ministry Team</p>
        </div>

        <h1 class="section-title large">
            <p>MISSIONS MINISTRY TEAM</p>
        </h1>

        <div class="gcontent">
            <div class="teams-titles">
                <h3 class="name">
                    <span>Led By</span>
                    Tom Owen
                 </h3>
            </div>

            <p>Our mission statement is &ldquo;Called by God to Sow Seeds Wherever Christ Leads.&rdquo; We are a congregation committed to doing missions locally, all over the USA, and internationally. (See the Missions link on the Home page). We have made a commitment to God to spend 10% of our offerings on missions. We believe in doing more than sending money, we also go on mission trips locally, nationally, and internationally, as well as support international missionaries and their families with prayer, spiritual, and financial support.</p>

            <p>Tom Owen is the elder of the Mission Ministry Team. If you have any questions about the mission of LaGrange Presbyterian Church, please use our contact form.</p>
        </div>

        <div class="gcontent">
            <p class="contact-person" style="margin-top: 4rem;">
               Questions or comments about this team? Send a message to <a id="contact-this-person" data-team="Missions Ministry Team">the Missions Ministry Team</a>
            </p>
        </div>
    </section>

{% endblock %}
