{% set canonical = domain + '/biblestudy' %}
{% set pageName = "Bible Study" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="biblestudy">
        <h1 class="section-title large">
            <p>Bible Study</p>
        </h1>

        <div class="gcontent">
            <h3>Sunday School Classes</h3>

            <p>Sunday School classes are offered at 9:30 a.m. each Sunday morning.</p>

            <p>We have a great line-up of teachers this year, so make plans to attend on Sunday mornings from 9:30 to 10:15am.</p>

            <p>Sunday School classes are starting, and you are invited to join us! There are two grade-school classes being offered. Lauren is teaching an elementary class focusing on Bible stories. Pastor Al is teaching a middle and high school class.</p>

            <p>In addition to grade-school classes, two adult classes are meeting. Elizabeth is leading a class in which members are reading "before Amen", a book about learning to pray. Tom Owen and Gene Staten are leading the Genesis class that focuses on books of the Bible.</p>

            <p>All classes meet Sundays at 9:30 a.m. If you have questions about a Sunday School class, please contact the leader of that class or Adam Wilson at 643-1717 or <a href="mailto:awilson@lagrangepres.org" style="color: rgb(102, 102, 51);">awilson@lagrangepres.org</a>.</p>
        </div>

        <div class="gcontent">
            <h3>Group Studies</h3>

            <p>
                <strong>Youth Fellowship</strong><br/>
                Sunday, 6:30 - 8:00 p.m. in Fellowship Hall
             </p>

            <p>
                <strong>Solomon's Club</strong><br/>
                4th Monday for lunch, devotional, and prayer at noon, in Fellowship Hall
             </p>

            <p>
                <strong>Ladies Bible Study</strong><br/>
                Tuesday, 11:00 a.m., in Prayer and Conference Room
             </p>

            <p>
                <strong>Men's Bible Study</strong><br/>
                Wednesday, 6:30 p.m., in Prayer and Conference Room
             </p>

            <p>
                <strong>Men's Fraternity</strong><br/>
                Adult Class Room<br/>
                Men's Fraternity is currently working through the book Wild at Heart: Discovering the Secret of a Man's Soul. Wild at Heart invites men to recover their masculine heart, defined in the image of a passionate God. And it invites women to discover the secret of a man’s soul and to delight in the strength and wildness men were created to offer. This class is open to any Christian man 18 and older. If you have questions, speak to Chris King.
             </p>

            <br /><br />

            <iframe src="http://www.google.com/calendar/embed?showNav=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=lagrangepres.org_kui8r51s6s4ovi6nru15l7jfsk%40group.calendar.google.com&amp;color=%23994499&amp;ctz=America/New_York&amp;title=Group Agenda" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>
{% endblock %}
