{% set canonical = domain + '/heartofthefather' %}
{% set pageName = "Encountering the Heart of the Father - A Conference" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="heartofthefather">
        <h1 class="section-title large">
            <p>Encountering the Heart of the Father</p>
        </h1>

        <div class="gcontent">
            <div class="heart-image">
                <img src="/images/heartofthefather.jpg" alt="Heart of the Father" />
            </div>

            <div class="reasons">
                <div class="opening-quote">
                    <p>“See what great love the Father has lavished on us, that we should be called children of God! And that is what we are!” 1 John 3:1</p>
                    <h6>November 13th – 17th 2019<br>LaGrange Presbyterian Church LaGrange, Kentucky</h6>
                </div>

                <p>Have you experienced in your Heart what it means to be the Father’s son or daughter?</p>

                <p>Have you heard the Father tell you how He feels about you?</p>

                <p>Do you long for more intimacy with God?</p>

                <p>Are you tired of striving to be a “good” Christian?</p>

                <p>If so then come away with us to encounter the Love of Father. He has more for you than you can imagine</p>
            </div>
        </div>

        <div class="gcontent">
            <div class="teaching">
                <h3>Who will be teaching</h3>

                <p><strong>Allen and Debbie Kemp, founders of Fathers Place of Rest</strong></p>

                <p>A place for Father’s Ministry of Love to the World Reconciling sons and daughters to the Father through the Cross of Jesus Christ and by the power of the Holy Spirit</p>

                <img src="/images/allen_debbie_kemp.jpg" alt="Pastors Allen and Debbie Kemp" />

                <p>
                    <em>
                        Over 27 years of pastoral ministry and 4 years of cumulative overseas missions work, God has called Pastors Allen and Debbie Kemp to begin a new ministry of bringing the love of the Father to the church and to the world.
                    </em>
                </p>

                <p>This ministry currently has three primary elements:</p>

                <ol>
                    <li>Father’s Place of Rest - opening their home to those in need of spiritual refreshment and to encounter Father
                    </li>
                    <li>Taking the message of Father’s love to the world through teaching and preaching
                    </li>
                    <li>Sharing Father’s Love to the urban areas that are near their home in Hampton, VA</li>
                </ol>

                <p>
                    Come and hear their testimony of how Father has opened their heart to receive His love in new ways that radically transformed their lives and ministry.
                </p>
            </div>

            <div class="schedule-what">
                <h3>Schedule</h3>
                <p>
                    <strong>Wed, Nov 13th</strong><br>
                    Registration 4-6 PM<br>
                    Dinner 6:00 PM<br>
                    Teaching 7:30 PM
                </p>
                <p>
                    <strong>Thurs- Sat, Nov 14th – 16th</strong><br>
                    9:00 AM – 9:00PM
                </p>
                <p>
                    <strong>Sun, Nov. 17th</strong><br>
                    Teaching 9 AM- 12 PM<br>
                    Final Lunch 12:30 PM
                </p>
                <p>
                    Lunch and dinner will be provided each Day. However, since the church is not a conference center, there is no hired kitchen staff. You will be asked to help in the preparation and cleanup of meals. It builds great fellowship. Let us know if you have allergies, so we can be sensitive to your needs.
                </p>

                <h3>What will we be doing?</h3>

                <p>Our time will be spent learning what it means to open up our hearts and let the Father pour His love into us.</p>

                <p>We will discuss the blocks we have to receiving all the Father wants for us.</p>

                <p>Some of our time will be spent just listening to the Father’s voice and being in His presence. For these exercises please bring a bible, journal or notebook, pillow, and blanket.</p>
            </div>

            <div class="books-topics">
                <h3>Books</h3>

                <p>These are books recommended for further study and will be referenced during the conference. They will also be available for purchase at the conference.</p>
                <ul>
                    <li>
                        <strong>Sonship, A Journey Into Father’s Heart</strong>
                        by M. James Jordan
                     </li>
                    <li>
                        <strong>Father’s Embrace</strong>
                        by Jack Frost
                     </li>
                    <li>
                        <strong>Prone to Love</strong>
                        by Jason Clark
                     </li>
                </ul>

                <img src="/images/topics.jpg" alt="Teaching Topics" />

                <h3>Teaching Topics</h3>

                <ul>
                    <li>The Heart</li>
                    <li>God our Real Father</li>
                    <li>The Orphan Heart</li>
                    <li>The Heart of Sonship</li>
                    <li>The Mother Heart</li>
                    <li>Types of Fathers</li>
                    <li>The Biblical Revelation of Father</li>
                    <li>The Glorious Freedom of Sons and daughters</li>
                    <li>Heart Forgiveness</li>
                    <li>Comfort</li>
                </ul>
            </div>
        </div>

         <div class="gcontent">
            <div class="housing">
                <h3>Housing</h3>
                <p>Housing is not available on site at LaGrange Presbyterian Church. All accommodations are within 10 minutes or less of the Church. There are several hotels in the city of LaGrange. Please contact us if you need further assistance in finding accommodation.
                </p>
            </div>

            <div class="locations">
                <h3>Event Location</h3>
                <p>LaGrange Presbyterian Church<br>
                    1901 Prestwick Drive<br>
                    LaGrange, KY 40031<br>
                    (502) 222-8973 Office<br>
                    (502) 641-5895 Lauren<br>
                </p>
            </div>

            <div class="questions">
                <h3>Questions</h3>
                <p>
                   If you have any questions about the event, please contact: Allen or Debbie Kemp (757) 550-5877<br>
                   Allen: <a href="mailto:avkemp@gmail.com">avkemp@gmail.com</a><br>
                   Debbie: <a href="mailto:revdebkemp3@gmail.com">revdebkemp3@gmail.com</a>
                </p>
            </div>
        </div>

        <div class="gcontent form">
            <h3>Register Here</h3>

            <form class="register-form">
                <div>
                    <div class="name">
                        <input type="text" name="Name" placeholder="Full Name" aria-label="Full Name" maxlength="255" required>
                    </div>
                    <div class="phone">
                        <input type="text" name="Phone" placeholder="Phone Number" aria-label="Phone Number" maxlength="255" required>
                    </div>
                </div>
                <div>
                    <div class="address">
                        <input type="text" name="Address" placeholder="Address" aria-label="Street Address" maxlength="255" required>
                    </div>
                </div>
                <div>
                    <div class="city">
                        <input type="text" name="City" placeholder="City" aria-label="City" maxlength="255" required>
                    </div>
                    <div class="state">
                        <input type="text" name="State" placeholder="State" aria-label="State" maxlength="255" required>
                    </div>
                    <div class="zip">
                        <input type="text" name="Zipcode" placeholder="Zip Code" aria-label="Zip Code" maxlength="255" required>
                    </div>
                </div>
                <div>
                    <div class="country">
                        <input type="text" name="Country" placeholder="Country" aria-label="Country" maxlength="255" required>
                    </div>
                    <div class="homechurch">
                        <input type="text" name="Home Church" placeholder="Home Church" aria-label="Home Church" maxlength="255" required>
                    </div>
                </div>

                <div class="restrictions">
                    <textarea name="Dietary Restrictions" placeholder="Do you have any diertary restrictions?" aria-label="Dietary Restrictions" maxlength="10000" required></textarea>
                </div>
                <div class="attending">
                    <textarea name="Attending With" placeholder="Are you coming to the conference with anyone? (If so, who?)" aria-label="Attending With" maxlength="10000" required></textarea>
                </div>
                <div>
                    <div class="referral">
                        <select class="referral-box" name="Referral" aria-label="Referral" required>
                            <option>How did you hear about us?</option>
                            <option value="friends">Friend</option>
                            <option value="church">Church</option>
                            <option value="website">Website</option>
                            <option value="facebook">Facebook</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="referral-other">
                        <input type="text" name="Referral Other" placeholder="How did you hear about us?" aria-label="Referral Other" maxlength="255">
                    </div>
                </div>
                <div class="comments">
                    <textarea name="Further Comments" placeholder="Any further comments?" aria-label="Further Comments" maxlength="10000" required=></textarea>
                </div>
                <div>
                    <button class="button primary" type="submit">Submit Registration</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
