{% set canonical = domain + '/contact' %}
{% set pageName = "Contact" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="contact-form">
        <h1 class="section-title large">
            <p>CONTACT LPC</p>
        </h1>

        <form id="lapc-contact-form" name="lapc-contact-form" role="form" class="contact-form">
            <noscript>
                <p>
                    <strong>JavaScript must be enabled to use this form.</strong>
                </p>
            </noscript>

            <div class="contact-form-container">
                <input type="text" id="form-name" name="Name" placeholder="Name" required>
                <input type="email" id="form-email" name="Email" placeholder="E-Mail Address" required>
                <input type="tel" id="form-phone" name="Phone Number" placeholder="Phone Number">
                <textarea id="form-message" name="Message" placeholder="Message" required></textarea>
                <h2>Please choose a recipient:</h2>
                <select id="form-recipient" name="Recipient" required>
                    <option value="General Contact">General Contact</option>
                    <option value="Pastor">Pastor</option>
                    <option value="Worship Ministry Team">Worship Ministry Team</option>
                    <option value="Missions Ministry Team">Missions Ministry Team</option>
                    <option value="Evangelism Ministry Team">Evangelism Ministry Team</option>
                    <option value="Finance Ministry Team">Finance Ministry Team</option>
                    <option value="Building and Grounds Ministry Team">Building and Grounds Ministry Team</option>
                    <option value="Youth Ministry Team">Youth Ministry Team</option>
                    <option value="Christian Education Ministry Team">Christian Education Ministry Team</option>
                    <option value="Small Groups Ministry Team">Small Groups Ministry Team</option>
                </select>
                <button class="button primary" type="submit">Submit</button>
            </div>
    </section>
{% endblock %}
