{% set canonical = domain + '/resources/lukewarm-persons' %}
{% set pageName = "Lukewarm Person (LWP) Profile Exercise" %}
{% set downloadPDF = "/resources/lukewarm-persons/the-lwp-exercise.pdf" %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="gcontent">
        <h1 class="section-title large">{{pageName}}</h1>
            <p>This exercise is adapted from <u>Crazy Love</u> by Francis Chan, chapter 4. For each characteristic of a LWP make notes about how you fall into the traps of being a LWP.</p>
            <p>(<a href="{{ downloadPDF }}" download>Download</a>)
        <ul class="list large">
            <li>LWP (Lukewarm People) attend church fairly regularly.  It is what is expected of them, what they believe “good Christian” do, so they go.  (Isaiah 29:13)</li>
            <li>LWP give money to charity and to their church… as long as it doesn’t impinge on their standard of living.  If they have a little extra and it is easy and safe to give, they do so.  After all, God loves a cheerful giver, right? (I Chronicles 21:24, Luke 21:1-4)</li>
            <li>LWP tend to choose what is popular over what is right when they are in conflict.  They desire to fit both at church and outside of church.  They care more about what people think of their actions (like church attendance and giving) than what God thinks of their hearts and lives. (Luke 6:26, Rev. 3:1, Matt. 23:5-7)</li>
            <li>LWP don’t really want to be saved from their sin; they want only to be saved from the penalty of their sin.  They don’t’ genuinely hate sin and aren’t truly sorry for it.  They’re merely sorry because God is going to punish them.  (John 10:10, Romans 6:1-2)</li>
            <li>LWP are moved by stories about people who do radical things for Christ, yet they do not act.  They assume such action is for “extreme” Christians, not average ones.  LWP people call “radical” what Jesus expected of all His followers. (James 1:22, James 4:17, Matt. 21:28-31)</li>
            <li>LWP rarely share their faith with their neighbors, coworkers, or friends.  They do not want to be rejected, nor do they want to make people uncomfortable by talking about private issues like religion. (Matt. 10:32-33).</li>
            <li>LWP gauge their morality or “goodness” by comparing themselves to the secular world.  They feel satisfied that while they aren’t as hard-core for Jesus as so-and-so, they are nowhere as horrible as the guy down the street. (Luke 18:11-12)</li>
            <li>LWP say they love Jesus, and He is, indeed, a part of their lives.  But only a part.  They give Him a section of their time, their money, and their thoughts, but He isn’t allowed to control their lives. (Luke 9:57-62)</li>
            <li>LWP love God, but they do not love Him with all their heart, soul, and strength.  They would be quick to assure you that they try to love God that much, but that sort of total devotion isn’t really possible for the average person; it’s only for pastors, missionaries, and radicals. (Matthew 22:37-38)</li>
            <li>LWP love others but do not seek to love others as much as they love themselves.  Their love of others is typically focused on those who love them in return, like family, friends, and other people they know and connect with.  There is little love left over for those who cannot love them back, much less for those who intentionally slight them.  (Matthew 5:43-47, Luke 14:12-14)</li>
            <li>LWP will serve God and others, but there are limits to how far they will go or how much time, money, and energy they are willing to give.  (Luke 18:21-25)</li>
            <li>LWP think about life on earth much more often than eternity in heaven.  Daily life is mostly focused on today’s stuff, this week’s schedule, and next months’ vacation.  (Philippians 3:18-20, Colossians 3:2)</li>
            <li>LWP do whatever is necessary to keep themselves from feeling too guilty.  They want to do the bare minimum to be “good enough” without it requiring too much of them.  (I Chronicles 29:14, Matthew 13:44-46) </li>
            <li>LWP are continually concerned with playing it safe; they are slaves to the god of control.  This focus on safe living keeps them from sacrificing and risking for God. (I Timothy 6:17-18, Matthew 10:28)</li>
            <li>LWP do not live by faith.  Their lives are structured so they never have to.  They don’t have to trust God if something unexpected happens because they have a refrigerator full of food, good health, a good savings account, and a solid retirement fund.  Truth is their lives wouldn’t look much different if they suddenly stopped believing in God.  (Luke 12:16-21, Hebrews 11)</li>
            <li>LWP probably drink and swear less than average, but bedsides that, they really aren’t very different from your typical unbeliever.  They equate their partially sanitized lives with holiness, but they couldn’t be more wrong.  (Matthew 23:25-28)</li>
        </ul>
        <p>Conclusion: Go through each of the characteristics of a LWP again, and write what a person with crazy love, who would anoint Jesus' feet with oil and dry them with her hair might look like.  When are you like that person? How can you become that person?</p>
    </section>
{% endblock %}
