{# have to set these variables globally #}
{% set articleNum = 0 %}

{% set prevArticleNum = 0 %}
{% set prevArticleSlug = 0 %}
{% set prevArticleTitle = 0 %}
{% set prevArticleSummary = 0 %}

{% set nextArticleNum = 0 %}
{% set nextArticleSlug = 0 %}
{% set nextArticleTitle = 0 %}
{% set nextArticleSummary = 0 %}

{# loop through articles to determine which article we are dealing with #}
{% for article in article.articles %}
    {# if title in loop matches this article title then continue #}
    {% if article.title === blogArticle.title %}
        {# sets  number for this article #}
        {% set articleNum = loop.index %}

        {# check to see if we're not the last article #}
        {% if articleNum < loop.length %}
            {# if not, then assign number for previous article #}
            {% set prevArticleNum = articleNum + 1 %}
        {% endif %}
        {# check to see if we're not the first article #}
        {% if articleNum > 1 %}
            {# if not, then assign number for next article #}
            {% set nextArticleNum = articleNum - 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{# loop again with new assigned numbers #}
{% for article in article.articles %}
    {# look for previous article and assign values #}
    {% if prevArticleNum === loop.index %}
        {% set prevArticleSlug = article.slug %}
        {% set prevArticleTitle = article.title %}
        {% set prevArticleSummary = article.summary %}
    {% endif %}
    {# look for next article and assign values #}
    {% if nextArticleNum === loop.index %}
        {% set nextArticleSlug = article.slug %}
        {% set nextArticleTitle = article.title %}
        {% set nextArticleSummary = article.summary %}
    {% endif %}
{% endfor %}

{% set pageName = "Pastor Articles " + blogArticle.title %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content">
        <div class="breadcrumbs">
            <a href="/pastor">Pastor's Articles</a>
                    /
                    <p>{{ blogArticle.title }}</p>
        </div>

        <h1 class="section-title">
            <p>{{ blogArticle.title }}</p>
            <small style="display:block;">{{ blogArticle.dateStr }}</small>
        </h1>

        <div class="gcontent">
            {{ blogArticle.content | safe }}
        </div>
    </section>

    <div class="articles-nav">
        <div class="previous">
            {# if we set a number for previous article, display link #}
            {% if prevArticleNum %}
                        Previous Article:<br/>
                <a href="/pastor/articles/{{ prevArticleSlug }}" title="{{ prevArticleSummary }}">
                    {{ prevArticleTitle }}
                </a>
            {% endif %}
        </div>
        <div class="index">
            <a href="/pastor">BACK TO PASTOR'S ARTICLES</a>
        </div>
        <div class="next">
            {# if we set a number for next article, display link #}
            {% if nextArticleNum %}
                        Next Article:<br/>
                <a href="/pastor/articles/{{ nextArticleSlug }}" title="{{ nextArticleSummary }}">
                    {{nextArticleTitle}}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}