{% set pageName = "Pastor Articles: Archive" %}
{% set archivePage = true %}

{% if (blogMonth) and (blogYear) %}
    {% set pageName = "Pastor Articles: Archive " + blogYear + ", " + blogYear %}
{% endif %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="pastorsarticles">
        <div class="breadcrumbs">
            <a href="/pastor">Pastor's Articles</a> / 
            <a href="/pastor/archive/{{blogYear}}">{{ blogYear }} Archive</a> / 
            <p>{{blogMonth}}, {{ blogYear }} Archive</p>
        </div>
        <h1 class="section-title large">
            <p>PASTOR'S ARTICLES FROM {{blogMonth}}, {{blogYear}}</p>
        </h1>
        <div class="blog-container">
            {% include '_components/blog_sidebar.njk' %}
            <ul class="blog-list">
                {% for article in article.articles %}
                    {% if article.year == blogYear %}
                        {% if article.month == blogMonth %}
                            <li>
                                <div class="day-badge">
                                    <span class="day-badge__date">{{ article.dateStr }}</span>
                                </div>
                                <div class="blog-text">
                                    <a class="blog-title" href="/pastor/articles/{{ article.slug }}" title="{{ article.summary }}">
                                        {{ article.title }}
                                    </a>
                                    <p>{{ article.summary }}</p>
                                    <a class="blog-button" href="/pastor/articles/{{ article.slug }}">
                            Read this article
                        </a>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="articles-nav">
            <div class="index archive">
                <a href="/pastor">BACK TO PASTOR'S ARTICLES</a>
            </div>
        </div>
    </section>
{% endblock %}