
{% set pageName = "Pastor Articles" %}
{% set canonical = domain + '/pastor' %}

{% if blogPage > 1 %}
    {% set pageName = "Pastor Articles " + blogPage %}
{% endif %}

{% set startIndex = (blogPage - 1) * article.itemsPerPage %}
{% set endIndex = startIndex + article.itemsPerPage %}
{% set blogArticles = article
    .articles
    .slice(startIndex, endIndex) %}

{% extends '_layouts/default.njk' %}

{% block main %}
    <section id="dark-content" class="pastorsarticles">
        <h1 class="section-title large">
            <p>PASTOR'S ARTICLES</p>
        </h1>
        <div class="gcontent">
            <h3>FROM A RELIGIOUS POINT OF VIEW...</h3>

            <p>Pastor Earley is the Religion Columnist for the Oldham Era. His articles have been published each week since 2003. Here are some recent articles Pastor Earley has written:</p>
        </div>
        <div class="blog-container">
            {% include '_components/blog_sidebar.njk' %}
            <ul class="blog-list">
                {% for article in blogArticles %}
                    <li>
                        <div class="day-badge">
                            <span class="day-badge__date">{{ article.dateStr }}</span>
                        </div>
                        <div class="blog-text">
                            <a class="blog-title" href="/pastor/articles/{{ article.slug }}" title="{{ article.summary }}">
                                {{ article.title }}
                            </a>
                            <p>{{ article.summary }}</p>
                            <a class="blog-button" href="/pastor/articles/{{ article.slug }}">
                            Read this article
                        </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h5 class="blog-pagination-title">Pages:</h5>
        <div class="blog-pagination">
            {% for i in range(1, article.totalPages + 1) -%}
                <span>
                    {% if i === blogPage %}
                        {{ i }}
                    {% elseif i === 1 %}
                        <a href="/pastor">
                            {{ i }}
                        </a>
                    {% else %}
                        <a href="/pastor/page/{{ i }}">
                            {{ i }}
                        </a>
                    {% endif %}
                </span>
            {%- endfor %}
        </div>
        <div class="gcontent">
            <h3>A MESSAGE FROM PASTOR EARLEY</h3>

            <img src="/images/pastorsarticles/alearley.jpg" class="letter-img right" alt="Pastor Earley"/>

            <p>Welcome to my short biography about myself. Since I can hardly believe anyone would actually spend a few minutes of their precious time reading about me I will try to make this interesting. I was born and raised in Louisville, KY. My parents are really cool, and still live in Louisville where they continue to worship at Harvey Browne Presbyterian Church. I graduated from Waggener High School in 1977, and went on to study at Southwestern At Memphis (Now Rhodes College), Memphis, TN. I graduated from Southwestern in 1981 with a B.A. in religion.</p>

            <p>After college I married the most beautiful woman I have ever met, my high school sweetheart, Martha Shelburne. Eighteen months later we had our first child, Lee, during our first year at Louisville Presbyterian Theological Seminary. While in seminary I preached at Laconia and Rehoboth Presbyterian Churches. The city boy met the country church, and what could have been a disaster was a great experience. They loved Martha, Lee, and me, and I loved them, and they taught me so much about the church. I finished seminary with a Masters of Divinity degree in 1985, which makes me a pretty old guy (but well preserved). With formal schooling behind me the fun began in earnest.</p>
        </div>
        <div class="gcontent">
            <p>I love working in the church, and the first place God sent me after seminary was Orchard Park Presbyterian Church, Indianapolis, IN, where I was an associate miniser. Brian and Catie were born there. The congregation was an amazing suburban congregation with so many gifts and talents. Senior minister, Bill Fogg, was a patient mentor and friend. I learned so much in Indianapolis, made some life long friends, and had a great time over those 4 1/2 years.</p>

            <p>Next God sent the Earleys to Gallipolis, OH (pronounced gallop like the horse, and police like the security). This 200 member church in southeastern Ohio was a wonderful place for me to apply all that I had learned over the years in my first solo pastor position. I fell in love with the congregation at First Presbyterian Church as well. We had a terrific eight years as the church added 100 members, we traveled all over the country and Mexico on mission trips, and made more life long friends. We could have stayed in Gallipolis for the rest of my ministry, but God had other plans.</p>

            <p>God’s next, and hopefully last call, was to help build up the New Church Development in LaGrange, KY. This was something I believe God had been preparing me for since Orchard Park. The congregration had worked so hard for eight years to become established, and they had seen the miraculous power of God many times, as God delivered them from their struggles. However, the congregation was struggling to keep the doors open with about 35 members.</p>

            <p>We decided to develop a purpose for our church so that we would have direction, and set out on that new direction. Our purpose statement is “To equip Christians to become disciples to help Jesus Christ bring in the HARVEST.” That is, through the teaching of seven main spiritual disciplines (worship, Bible study, prayer, tithing, fellowship, mission, and evangelism), we help Christians grow and mature in their faith. As they do this they will help Jesus bring in a great HARVEST in LaGrange and around the world.</p>

            <p>In February, 2005 we dedicated the Ministry Center after 18 months of hard work. The church members really stepped up, building everything that the state didn't require a certified contractor to do. It was amazing to see the interior of the building take shape and form, and also to see God provide all the finances we needed in many miraculous ways. A year later, in March, 2006 we celebrated becoming an official congregation of the Presbyterian Church (USA). After 16 years God had led us to the point to become an official congregation, but we had been a strong and growing spiritual family long before our charter. Each year we grow a little more in numbers, and a lot more in spiritual strength. God is shaping us for the present and the future to serve in amazing missions and ministries around the world and in our community.</p>

            <p>If you are looking for a quiet church where you can come each Sunday for an hour, and then return to your routine, satisfied that you can check church attendance off your do to list for the week, then we are not the church for you. If you want to be in a dynamic church where the Bible is preached with energy and excitement dealing with today’s issues, a high commitment church that will encourage and challenge (and sometimes prod) you to grow in your faith, a church where people take their faith seriously and believe Jesus is at the center of their lives, and a church that expects to see God continue to do amazing miracles then we are the church for you.</p>

            <p>The faith journey at LaGrange Presbyterian Church is intense, as we have witnessed God’s transforming power over and over in the lives of people. God is calling you to just such a church for the journey of your life. I invite you to give your life to Jesus Christ, and express your faith through the ministries of our church. I promise you will never be the same again.</p>
        </div>
    </section>
{% endblock %}