<!doctype html>
<html lang="en-US">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">

      {% block meta %}
         {% include "_partials/meta.njk" %}
      {% endblock %}

      {% block custom_meta %}{% endblock %}

      {% block styles %}
         {% include "_partials/styles.njk" %}
      {% endblock %}

      {% block custom_styles %}{% endblock %}
   </head>
   <body>
      <div id="page-content">
         {% include "_components/header.njk" %}

         {% block masthead %}
            {% include "_partials/masthead-container.njk" %}
         {% endblock %}

         {% block main %}{% endblock %}

         {% include "_components/footer.njk" %}

         {% block footer_scripts %}
            {% include "_partials/footer-scripts.njk" %}
         {% endblock %}

         {% block custom_scripts %}{% endblock %}
      </div>
   </body>
</html>
