<!doctype html>
<html>
<head>
   {% if not url %}
      {% set url %}{{ domain }}{{ redirectPath }}{% endset %}
   {% endif %}
   <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="refresh" content="0;url={{ url }}" />
   {% block custom_meta %}
   {% endblock %}
</head>
<body>
   <p>
      <a href="{{ url }}">Redirecting to: {{ url }}</a>
   </p>

   <script>
      window.location.replace('{{ url }}');
   </script>
</body>
</html>
