<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block meta %}
            {% include "src/html/_partials/meta.njk" %}
        {% endblock %}

        {% block styles %}
            {% include "src/html/_partials/styles.njk" %}
        {% endblock %}

        {% block custom_styles %}{% endblock %}
    </head>
    <body>
        <div id="page-content">
            {% include "src/html/_components/header.njk" %}

            {% include "src/html/_partials/masthead-container.njk" %}

            <section id="dark-content">
                <div class="breadcrumbs">
                    <a href="/resources">Resources</a>
                    /
                    <p>{{ article.title }}</p>
                </div>

                <h1 class="section-title">
                    <p>{{ article.title }}</p>
                </h1>

                <div class="gcontent">
                    {{ contents |safe }}
                </div>
            </section>

            {% include "src/html/_components/footer.njk" %}

            {% block footer_scripts %}
                {% include "src/html/_partials/footer-scripts.njk" %}
            {% endblock %}

            {% block custom_scripts %}{% endblock %}
        </div>
    </body>
</html>